/****  start imports  ********************************/
@import "../../../styles/global.css";
/****  end imports  ********************************/
.section-outer{
    width: 100%;
}
.section-inner{
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
}
.group-container{
    border: none;
}
.winter-card__header{
    font-weight: 600;
    font-size: 2.625rem;
}
.winter__card{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 3rem;
    padding-top: 40px;
    padding-bottom: 40px;
}
.bridge__top-frame {
    background-color: var(--sundance__primary1);
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .section-inner{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .winter-card__header{
        font-size: 1.5rem;
    }
    .winter__card{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-top: 24px;
        padding-bottom: 8px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1080px){
    .winter__card{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-top: 24px;
        padding-bottom: 8px;
    }
    .section-inner{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media screen and (min-width: 1081px) and (max-width: 1365px){
    .section-inner{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* Accordion & Table*/
.accordion {
    padding: 0;
    background-color: white;
}
.table--header-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    grid-gap: 0.5rem;
}
.table--header-row
.table--row__head {
    margin-right: 0;
    background-color: var(--sundance__neutral4);
}
.table--row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    grid-gap: 0.5rem;
}
.table--row__data {
    display: flex;
    flex: 1;
    padding: 16px;
}
.table--row:nth-child(odd) .table--row__data {
    background-color: var(--sundance__neutral5);
}
.table--row:nth-child(even) .table--row__data {
    background-color: var(--sundance__neutral4);
}
.toggle:checked + label .accordion--title {
    padding-bottom: 0;
}
.accordion--label {
    padding: 1rem;
    background-color: var(--sundance__neutral4);
}
.toggle--label:before {
    right: 18px;
    top: 1.5rem;
}
.toggle--label:after {
    right: 26px;
    top: 16px;
}
.toggle:checked ~ .toggle-details {
    margin: 0;
    position: static;
}
.accordion--title {
    padding: 0;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .accordion--label {
        padding-right: 3rem;
    }
}
/**/
