{# 
    #   @desc   Global: Weather, Lift Status, and Snow Report card
    #   @param  item   object (data from data json)
    #   @return HTML Card component
    #   @author Nazmul Alam
 #}
{% macro cardWidget(locationInfo = {}, type = 'temp', title = 'Weather') %}
    <section class="card-widget bg-sn-5">
        <header class="card-widget__title bg-sp-1">{{title}}</header>
        <section class="card-widget__body">
            {% if type === 'temp'%}
                {{weatherCardWidget()}}
            {% elif type === 'video'%}
                {{videoCardWidget()}}
            {% elif type === 'location'%}
                {{locationCardWidget(locationInfo)}}
            {% endif %}
        </section>
    </section>
{% endmacro %}

{% macro weatherCardWidget()%}
    <weather-component></weather-component>
{% endmacro %}

{% macro videoCardWidget()%}
    <article class="card-widget__video">
        <video-cam></video-cam>
    </article>
{% endmacro %}

{% macro locationCardWidget(locationInfo)%}
    <article class="card-widget__location grid grid-flow-row font-ivar font-semibold ">
        {% for loc in locationInfo %}
            <a href="{{(loc.document | theImgSrc) if loc.document.length > 2 else loc.href }}" class="no-underline text--color__sn-1 py-5" target="{{'_blank' if loc.document.length > 2}}">{{loc.name}}</a>
        {% endfor %}
    </article>
{% endmacro %}