{% from "atoms/headings.njk" import h2, h6 %}
{% from 'atoms/form-fields.njk' import form_input %}
{% from "atoms/a.njk" import a, button_primary %}
{# 
    #   @desc   lodging form. it is assumed that there will be 
    #           maximum 1 lodging_form loaded per page
    #   @param  item       object (data from json file)
    #   @return HTML article
    #   @author Sarjis
 #}
{% macro lodging_form(item = {}, page = {}) %}
<synxis-lodging-form data-Chain="{{ item.chainId }}" data-Hotel="{{ item.hotelId }}">
    <article class="lodging-forms">
        <header>
            {{ h2(copy = item.heading, classes = ['lodging-forms--heading', 'font-ivar']) }}
            {{ h6(copy = item.subheading, classes = ['lodging-forms--subheading', 'font-ivar']) }}
            {{ page.url }}
        </header>
        <section class="lodging-forms__field--container text-left justify-center gap-x-2">
            <div class="lodging-forms__item">
                {{ form_input(obj = {
                    label: "Check IN",
                    type: "datetime",
                    placeholder: "mm/dd/yyyy",
                    classes: [
                        "form-input",
                        "lodging-form__input",
                        "lodging-form__input--checkin"
                    ]
                }) }}
            </div>
            <div class="lodging-forms__item">
                {{ form_input(obj = {
                    label: "Check OUT",
                    type: "datetime",
                    placeholder: "mm/dd/yyyy",
                    classes: [
                        "form-input",
                        "lodging-form__input",
                        "lodging-form__input--checkout"
                    ]
                }) }}
            </div>
            <div class="lodging-forms__item">
                {{ form_input(obj = {
                    label: "ROOMS",
                    type: "number",
                    value: "1",
                    classes: [
                        "form-input",
                        "lodging-form__input",
                        "lodging-form__input--rooms"
                    ]
                }) }}
            </div>
            <div class="lodging-forms__item">
                {{ form_input(obj = {
                    label: "Promo CODE",
                    type: "text",
                    placeholder: "",
                    classes: [
                        "form-input",
                        "lodging-form__input",
                        "lodging-form__input--promo"
                    ]
                }) }}
            </div>
            {% set ctaHref %}
                https://be.synxis.com/?Hotel={{item.hotelId}}&Chain={{item.chainId}}
            {% endset %}
            {{ button_primary( 
                classes = ['button', 'button--primary','font-calibre', 'text-base', 'align-self-end', 'line-h-1', 'lodging-form__cta'], 
                href=ctaHref, 
                copy=item.cta.copy, 
                id='lodging-form-cta', 
                target='_blank' ) 
            }}
        </section>
    </article>
</synxis-lodging-form>
{% webComponent "SynxisLodgingForm", "synxis-lodging-form", page.url %}
{% endmacro %}