{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from "atoms/a.njk" import a, button_primary, button_secondary, view_details, dropdown %}
{# 
    #   @desc   top_banner_right_bottom_container
    #   @param  heroCornerBlock       object (data from json file)
    #   @return HTML section
    #   @author Meherab, Sarjis
 #}

{% macro top_banner_right_bottom_container(heroCornerBlock) %}
  <section class="hero__corner--block">

    {% if heroCornerBlock.title %}
        {{ h2(copy = heroCornerBlock.title, classes=['heading', 'hero__corner--block__title']) }}
    {% endif %}

    {% if heroCornerBlock.description %}
        <div class="cms-description hero__corner--block__description">{{ heroCornerBlock.description | safe }}</div>
    {% endif %}

    {% for action in heroCornerBlock.actions %}
        {% set trg = '_self' if action.internal else 
                            '_blank' %}
        {% if action.type == "view-details" %}
            <div class="hero__corner--block__cta {{ 'mt-8' if not heroCornerBlock.description }}">
                {{ view_details(classes = ['view-details','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6'], copy = action.copy, href = action.url, target = trg ) }}
            </div>
        {% endif %}

        {% if action.type == "nav" %}
            <div class="hero__corner--block__nav-desktop pb-10 order-1">
                {{ a( copy=action.copy, classes=['link--primary', 'no-underline', 'font-calibre', 'font-medium', 'text-lg-2'], href=action.url, target=trg) }}
            </div>

            <div class="hero__corner--block__nav pb-24 order-2">
                <label class="font-ivar">{{action.label}}</label>
                {{ a( copy=action.copy, classes=['link', 'link--primary', 'font-calibre', 'font-medium', 'text-base'], href=action.url, target=trg) }}
            </div>

        {% endif %}        
    {% endfor %}
  </section>
{% endmacro %}