{% from 'organisms/global-image.njk' import global_image %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from "atoms/headings.njk" import h1 %}
{% from "atoms/a.njk" import Link %}
{#
    #   @desc   thumbnail_slider
    #   @param  object       object (data from json file)
    #   @return HTML section
    #   @author Nazmul Alam
 #}
{% macro thumbnail_slider(obj = {}) %}
    <section class="thumbnail-slider grid grid-cols-3">
        <article class="thumbnail-slider__texts self-center {{'order-2' if obj.left_slider else 'order-1'}}">
            <div class="">
                {{ h1( copy=obj.title ,  classes=['thumbnail-slider__title', 'font-ivar', 'font-semibold']) }}
                <p class="thumbnail-slider__description font-calibre">{{ obj.description }}</p>
                {{ Link( href=obj.action.href, copy=obj.action.copy, classes=['button', 'button--primary2', 'font-calibre', 'thumbnail-slider__action'] ) }}
            </div>
        </article>
        <article class="thumbnail-slider__images grid {{'order-1' if obj.left_slider else 'order-2'}}">
            <section class="thumbnail-slider__frame" id="thumbnail-slider__{{obj.slug}}">
                {{ global_image(obj.images[0].image.global_image, classes='image_frame sm:15:8 lg:15:8 2xl:15:8 4xl:15:8') }}
                {{ h1( copy=obj.title ,  classes=['thumbnail-slider__mobile__title', 'font-ivar', 'font-semibold']) }}
            </section>
            <section class="thumbnail-slider__slides">
                <media-carousel>
                    <div class="swiper-container">
                        <div class="swiper-wrapper">
                            {% for item in obj.images %}
                                <div class="swiper-slide !w-auto">
                                    <div class="thumbnail-slider__slides__box" data-frameName="thumbnail-slider__{{obj.slug}}">
                                        {{ global_image(item.image.global_image, classes='image_frame sm:1:1 lg:1:1 2xl:1:1 4xl:1:1') }}
                                    </div>
                                    <header class="font-calibre">{{item.title}}</header>
                                    <summary class="font-calibre">{{item.sub_title}}</summary>
                                </div>
                            {% endfor %}
                        </div>
                        <nav class="thumbnail-slider__navs flex {{'flex-row' if obj.left_slider else 'flex-row-reverse'}}">
                            <div class="flex p-2 z-10">
                                {{ iconCSS( classes=['carousel-button', 'carousel-button-prev', 'icon-css', 'arrow-left', 'rotate-45'] ) }}
                                {{ iconCSS( classes=['carousel-button', 'carousel-button-next', 'icon-css', 'arrow-right', 'rotate-45'] ) }}
                            </div>
                        </nav>
                    </div>
                </media-carousel>
            </section>
        </article>
    </section>
{% endmacro %}

{% macro multi_slider(images = []) %}
    <section>
        <media-carousel>
            <div class="swiper-container swiper mySwiper2">
                <div class="swiper-wrapper">
                    {% for item in images %}
                        <div class="swiper-slide">
                            {{ global_image(item.global_image, classes='image_frame sm:15:8 lg:15:8 2xl:15:8 4xl:15:8') }}
                        </div>
                    {% endfor %}
                </div>
                <div class="carousel-button-prev-container cursor-pointer">
                    {{ iconCSS( classes=['carousel-button-prev','carousel-icon-css', 'arrow-left', 'mx-1', 'rotate-45'] ) }}
                </div>
                <div class="carousel-button-next-container cursor-pointer">
                    {{ iconCSS( classes=['carousel-button-next', 'carousel-icon-css', 'arrow-right', 'mx-1', 'rotate-45'] ) }}
                </div>
            </div>
        </media-carousel>
    </section>
    <section thumbsSlider="" class="thumbnail-slider__slides">
        <media-carousel>
            <div class="swiper-container gallery-thumbs">
                <div class="swiper-wrapper" >
                    {% for item in images %}
                        <div class="swiper-slide !w-auto"  >
                            <div class="thumbnail-slider__slides__box" >
                                {{ global_image(item.global_image, classes='image_frame sm:1:1 lg:1:1 2xl:1:1 4xl:1:1') }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </media-carousel>
    </section>
{% endmacro %}

{% macro multi_slider_thumbnail(images = []) %}
        <media-carousel-thumbnail>
            <div class="grid">
                <div class="swiper swiper-container mySwiper2">
                    <div class="swiper-wrapper">
                        {% for item in images %}
                            <div class="swiper-slide">
                                {{ global_image(item.global_image, classes='image_frame sm:15:8 lg:15:8 2xl:15:8 4xl:15:8') }}
                            </div>
                        {% endfor %}
                    </div>
                    <div class="carousel-button-prev-container cursor-pointer">
                        {{ iconCSS( classes=['carousel-button-prev','carousel-icon-css', 'arrow-left', 'mx-1', 'rotate-45'] ) }}
                    </div>
                    <div class="carousel-button-next-container cursor-pointer">
                        {{ iconCSS( classes=['carousel-button-next', 'carousel-icon-css', 'arrow-right', 'mx-1', 'rotate-45'] ) }}
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="swiper thumbnail-swiper-container mySwiper">
                    <div class="swiper-wrapper">
                        {% for item in images %}
                            <div class="swiper-slide"  >
                                <div class="w-full h-full" >
                                    {{ global_image(item.global_image, classes='image_frame sm:1:1 lg:1:1 2xl:1:1 4xl:1:1') }}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </media-carousel-thumbnail>
{% endmacro %}