---
layout: base.njk
pagename: zip-tour
permalink: "build/activities/summer-activities/zip-tour/index.html"
permalinkBypassOutputDir: true
nickname: zip-tour
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from "atoms/headings.njk" import h4, ihh1 %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'molecules/bridge-2.njk' import secondBridge %}

{% set zipTour_group_venues = pageCMS['group-venues'].group_venues  %}
{% set bridge_slider = pageCMS['bridge-slider'].bridge_slider  %}
{% set textAllData = pageCMS['zip-tour-text-container'].text_container  %}
{% set action_card = pageCMS['zip-tour-action-card'].action_card %}
{% set action_card_caption = pageCMS['zip-tour-action-card-caption'].simple_article %}
{% set card_title= pageCMS['card-title'].simple_article %}
{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}

{# Navigation Menu  #}
{{ navMenu(data.navMenuLink) }}
<section class="zipTour__margin-top"></section>

{# Hero Image Section #}
{% for event in zipTour_group_venues %}
    <section class="group-section">
        <section class="segment-outer relative">
            <figure class="segment-inner">
                {{global_image(pageCMS['top-banner'].global_image, classes='-z-1 h-screen w-full image_frame sm:3:4 lg:3:4 2xl:16:9 4xl:9:16')}}
            </figure>
        </section>
        <div class="group-container zip-tour__group-container">
            {{groupVenues(event)}}
        <div>
    </section>
{% endfor %}

{# Bridge carousal #}
{# <section class="bridge zip-tour__bridge">
    <article class="bridge__top-frame zip-tour__bridge__top-frame">
        <header>{{ihh1(copy=bridge_slider.title,classes = ['bridge__header', 'font-ivar'])}}</header>
        {{h4(copy=bridge_slider.sub_title, classes=['bridge__text', 'font-calibre'])}}
    </article>
    <article class="bridge__container">
        <media-carousel>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for image in bridge_slider.images %}
                        <div class="swiper-slide">
                            <div class="bridge__box">
                                {{global_image(image.global_image, classes='w-full image_frame sm:1:1 lg:1:1 2xl:1:1 4xl:1:1')}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav class="bridge__nav">
                    {{ iconCSS( classes=['carousel-button-prev', 'bridge__nav-icon', 'arrow-left', 'rotate-45'] ) }}
                    {{ iconCSS( classes=['carousel-button-next', 'bridge__nav-icon', 'arrow-right', 'rotate-45'] ) }}
                </nav>
            </div>
        </media-carousel>
    </article>
</section> #}
<article class="zip-tour__text-container font-ivar">
    <header>
        {{ h1(copy = textAllData.title, classes = ['zip-tour__text-container__header']) }}
    </header>
    {% for item in textAllData.descriptions %}
        <p class = "zip-tour__text-container__copy">{{ item.text | safe }}</p>
    {% endfor %}    
</article>

<section class="zip-tour__section-outer">
    <section class="zip-tour__section-inner zip-tour__action-card">
        {% for item in action_card %}
              {{ secondBridge(item) }}
        {% endfor %}
        <div class="zip-tour__action-card__text-wrapper zip-tour__action-card__caption">
           {{action_card_caption.description | safe}}
        </div>
    </section>
</section> 
{# Card Title #}
{{ h2(copy = card_title.title, classes = ['zip-tour__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}

{# Vertical Card Section #}
<section class="zip-tour__section-outer">
    <section class="zip-tour__section-inner zip-tour__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
        {% endfor %}
    </section>
</section>