/****  start imports  ********************************/
@import "../../../../../styles/global.css";
/****  end imports  ********************************/
.group-container{
    border: none;
}
.group-venues__actions a[href^="tel"]{
    color: #fff;
}
.group-venues__caption{
    max-width: 608px;
    margin: auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 48px;
}
.bridge{
    padding-bottom: 50px;
}
.bridge__top-frame {
    background-color: var(--sundance__primary3);
}
.bridge__nav-icon{
    background-color: transparent;
}
.accordion__header{
    font-weight: 600;
    font-size: 2.625rem;
    line-height: 110%;
    padding-bottom: 24px;
}
.accordion-wrapper{
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
}
.accordion{
    margin-bottom: .5rem;
}
.accordion--title{
    padding-bottom: 0px;
}
.toggle-details figcaption {
    padding-top: 15px;
}
.accordion__bottom-padding{
    padding-bottom: 48px;
}
.spa__header{
    font-weight: 600;
    font-size: 2.625rem;
}
.spa__card{
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    column-gap: 3rem;
    padding-top: 40px;
    padding-bottom: 40px;
}


@media screen and (min-width: 320px) and (max-width: 767px){
    .toggle:checked ~ .toggle-details{
        margin-left: 0px;
        margin-top: 0px;
        position: relative;
        background: transparent;
    }
    .group-venues__caption{
        padding-bottom: 40px;
    }
    .bridge{
        padding-bottom: 8px;
    }
    .accordion-wrapper{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .accordion__header{
        font-size: 1.5rem;
    }
    .accordion__bottom-padding{
        padding-bottom: 40px;
    }
    .spa__header{
        font-size: 1.5rem;
    }
    .spa__card{
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        padding-top: 24px;
        padding-bottom: 0px;
    }
}
@media screen and (min-width: 768px) and (max-width: 1023px){
    .spa__card{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
        padding-top: 24px;
        padding-bottom: 0px;
    }
}