---
layout: base.njk
pagename: wellness-offerings
permalink: "build/activities/year-round/spa/wellness-offerings/index.html"
permalinkBypassOutputDir: true
nickname: wellness-offerings
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/bridge.njk' import bridge %}
{% from 'atoms/accordion.njk' import accordion %}

{# Hero Image Section #}
{% if pageCMS['group-venues'].group_venues and pageCMS['top-banner'].global_image %}
{% set spa_group_venues = pageCMS['group-venues'].group_venues  %}
<section class="group-section">
    <section class="segment-outer relative -z-1">
        <figure class="banner__segment-inner">
            {{global_image(pageCMS['top-banner'].global_image, classes='w-full image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        </figure>
    </section>
    {% for event in spa_group_venues %}
        <div class="group-container">
            {{groupVenues(event)}}
        <div>
    {% endfor %}
    {% if pageCMS['group-venues-caption'] and pageCMS['group-venues-caption'].simple_article %}
        {% set group_venues_caption = pageCMS['group-venues-caption'].simple_article %}
        <div class="text-center font-ivar text-lg-2 group-venues__caption"> 
            {{ group_venues_caption.description | safe }}
        </div>
    {% endif %}
</section>
{% endif %}

{# Bridge carousal #}
{% if pageCMS['bridge-slider'] and pageCMS['bridge-slider'].bridge_slider %}
{% set bridge_slider = pageCMS['bridge-slider'].bridge_slider %}
    {{ bridge(bridge_slider) }}        
{% endif %}

{# Accordion Title #}
{% if pageCMS['accordion-title'] and pageCMS['accordion-title'].simple_article %}
    {% set accordion_title = pageCMS['accordion-title'].simple_article %}
    {{ h2(copy = accordion_title.title, classes = ['accordion__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
{% endif %}

{# Accordion #}
{% if  pageCMS['accordion'] and pageCMS['accordion'].accordion %}
{% set accordions = pageCMS['accordion'].accordion %}
<section class="segment-outer">
    <section class="wellness-accordion accordion-wrapper accordion__bottom-padding">
        {% for item in accordions %}
            {{ accordion( item = item ) }}
        {% endfor %}             
    </section>
</section>
{% endif %}  

{# Card Title #}
{% if pageCMS['card-title'] and pageCMS['card-title'].simple_article %}
    {% set card_title= pageCMS['card-title'].simple_article %}
    {{ h2(copy = card_title.title, classes = ['spa__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
{% endif %}

{# Vertical Card Section #}
{% if  pageCMS['vertical-cards'] and pageCMS['vertical-cards'].vertical_card_list %}
{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}
<section class="segment-outer">
    <section class="segment-inner global-px spa__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
        {% endfor %}
    </section>
</section>
{% endif %}

{{newsletter()}}

