---
layout: base.njk
pagename: index
meta_title: "The Index Page"
permalink: "build/index.html"
permalinkBypassOutputDir: true
nickname: "You Thing"
---

{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from "atoms/a.njk" import a %}

<!--
    A list of all HTML tags: https://developer.mozilla.org/en-US/docs/Web/HTML/Element
-->

{{ h1('Atoms') }}

<strong>Anchor Tag:</strong>
{{ a('http://example.com', 'Anchor Tag', [ 'button', 'button--primary' ], 'my-button', '_blank') }}<br>
<hr>

<strong>Heading Tags:</strong>
{{ h1('H1 Tag') }}
{{ h2('H2 Tag') }}
{{ h3('H3 Tag') }}
{{ h4('H4 Tag') }}
{{ h5('H5 Tag') }}
{{ h6('H6 Tag') }}
<hr>
