---
layout: base.njk
pagename: wedding-rfp
permalink: "build/wedding-rfp/index.html"
permalinkBypassOutputDir: true
nickname: "wedding-rfp"
---
{% from 'molecules/newsletter.njk' import newsletter %}
{% from "atoms/headings.njk" import h2 %}
{% from 'organisms/forms.njk' import rfp %}

{% set rfp_form = pageCMS['rfp-form'].rfp_form %}
{% set form_questions = pageCMS['form-questions'].simple_article %}
{% set form_cta = pageCMS['form-action'].action %}
<section class="segment-outer">
    <section class="segment-inner global-px grid sm:grid-cols-1 lg:grid-cols-1fr-2fr">
        <section class="segment-outer">
            {% if form_questions.title %}
                {{ h2(classes=['heading', 'wedding-rfp__question-title', 'font-ivar', 'font-bold'], copy = form_questions.title) }}
            {% endif %}

            {% if form_questions.description %}
                <div class="cms-description pb-15 font-ivar text-base">
                    {{ form_questions.description | safe }}
                </div>
            {% endif %}
        </section>
        <section>
            <form-sender data-type="weddingrfp ">
                <form  enctype="multipart/form-data">
                    {{rfp(pageCMS['rfp'].rfp)}}
                </form>
                <div class="ajax__status text-mar-accent-2"></div>
            </form-sender>
        </section>
    </section>
</section>

{{newsletter()}}