---
layout: base.njk
pagename: accommodation/mountain-homes/canyon-view
permalink: "build/accommodation/mountain-homes/canyon-view/index.html"
permalinkBypassOutputDir: true
nickname: accommodation/mountain-homes/canyon-view
---
{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'atoms/headings.njk' import global_header %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'organisms/amenities.njk' import amenities %}
{% from 'molecules/accommodation-feature.njk' import accommodationFeature %}

{% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
{% set vertical_card_list = pageCMS['vertical-card-list'].vertical_card_list %}
{% set sliderImages = pageCMS['slider'].global_image_arr.images %}

{% set top_banner = pageCMS['top-banner-left'].banner %}
{% set topBannerImage = top_banner.global_image.global_image %}

{{ navMenu(data.navMenuLink) }}
<section class="segment-outer bg-sn-5 px-4 top-section">
    <section class="segment-inner">
        <section class="dining-details-container">
            <section>
                <article class="thumbnail-slider__images grid order-2">
                    <section>
                        <media-carousel>
                            <div class="swiper-container swiper mySwiper2">
                                <div class="swiper-wrapper">
                                    {% for item in sliderImages %}
                                        <div class="swiper-slide">
                                            {{ global_image(item.global_image, classes='image_frame sm:15:8 lg:15:8 2xl:15:8 4xl:15:8') }}
                                        </div>
                                    {% endfor %}
                                </div>
                                {# <div class="carousel-button-next"></div>
                                <div class="carousel-button-prev"></div> #}
                                <div class="carousel-button-next-container cursor-pointer">
                                    {{ iconCSS( classes=['carousel-button-prev','carousel-icon-css', 'arrow-left', 'mx-1', 'rotate-45'] ) }}
                                </div>
                                <div class="carousel-button-prev-container cursor-pointer">
                                    {{ iconCSS( classes=['carousel-button-next', 'carousel-icon-css', 'arrow-right', 'mx-1', 'rotate-45'] ) }}
                                </div>
                            </div>
                        </media-carousel>
                    </section>
                    <section thumbsSlider="" class="thumbnail-slider__slides">
                        <media-carousel>
                            <div class="swiper-container gallery-thumbs">
                                <div class="swiper-wrapper" >
                                    {% for item in sliderImages %}
                                        <div class="swiper-slide !w-auto"  >
                                            <div class="thumbnail-slider__slides__box" >
                                                {{ global_image(item.global_image, classes='image_frame sm:1:1 lg:1:1 2xl:1:1 4xl:1:1') }}
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </media-carousel>
                        </section>
                    </article>
                </section>
                <section class="dining-details__venues">
                    {% if pageCMS['top-group-venues'] and pageCMS['top-group-venues'].group_venues %}
                        {% set groupData = pageCMS['top-group-venues'].group_venues %}
                        {% for event in groupData %}
                            <section class="group-container">
                                {{ groupVenues(event) }}
                            </section>
                        {% endfor %}
                    {% endif %}
                </section>
            </section>
        </section>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner text-center">
        <article class="dining-details-container bg-sn-5 font-ivar">
            <section class="accommodation__features mt-12">
                {% if pageCMS['accommodation-features'].accommodation_features %}
                    {% for item in pageCMS['accommodation-features'].accommodation_features %}
                        <a href="#" target="_self" class="accommodation-feature no-underline" id="features-2">
                            <div class="icon-css plus-icon rotate-90 justify-self-center bg-sn-5"></div>
                            {% if item.title %}
                                <header class = "accommodation-feature__type--style">
                                    <h6>{{ item.title | safe }}</h6>
                                </header>
                            {% endif %}

                            {% if item.sub_title %}
                                <summary class = "accommodation-feature__text--style">
                                    {{ item.sub_title | safe }}
                                </summary>
                            {% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
            </section>
        </article>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner dining-details-container">
        {% if pageCMS['amenities-data'].amenities_list %}
            <section class="mt-12">
                {{ amenities(pageCMS['amenities-data'].amenities_list) }}
            </section>
            <div></div>
        {% endif %}
        {% if pageCMS['amenities-bottom-title'].simple_article %}
            <p class="mt-12">{{pageCMS['amenities-bottom-title'].simple_article.title}}</p>
        {% endif %}
    </section>
</section>
<section class="segment-outer mt-12">
    <section class="segment-inner text-center">
        <article class="details__card bg-sn-5 font-ivar">
            {% if pageCMS['vertical-card-title'] and pageCMS['vertical-card-title'].simple_article.title %}
                {% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
                {{ global_header(copy = card_list_title) }}
            {% endif %}

            {% if pageCMS['vertical-card-list'] and pageCMS['vertical-card-list'].vertical_card_list %}
                {% set vertical_card_list = pageCMS['vertical-card-list'].vertical_card_list %}
                <section class="dining-details__card">
                    {% for item in vertical_card_list %}
                        {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
                    {% endfor %}
                </section>
            {% endif %}
        </article>

    </section>
</section>

{{newsletter()}}

{{footer(data.footer)}}