---
layout: base.njk
pagename: test
permalink: "build/test/index.html"
permalinkBypassOutputDir: true
nickname: test
---
{% from 'organisms/thumbnail_slider.njk' import multi_slider_thumbnail_test %}
{% set sliderImages = pageCMS['slider'].global_image_arr.images %}
<div class="test-page">
  {{multi_slider_thumbnail_test(sliderImages)}}
</div>