---
layout: base.njk
pagename: catering
permalink: "build/dining/catering/index.html"
permalinkBypassOutputDir: true
nickname: dining/catering
---
{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'atoms/headings.njk' import h2 %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'macros.njk' import top_banner_group_venues %}
{# Hero Image Section #}
{% if pageCMS['top-group-venues'] and pageCMS['top-group-venues'].group_venues %}
    {{ top_banner_group_venues(image = pageCMS['top-banner'].global_image, 
        venuesData = pageCMS['top-group-venues'].group_venues) 
    }}
{% endif %}

{% if pageCMS['slider'] and pageCMS['slider'].bridge_slider %}
{% set bridge_slider = pageCMS['slider'].bridge_slider %}
    <section class="bg-sn-5 px-4">
        <section>
            {{bridge(bridge_slider)}}
        </section>
    </section>
{% endif %}

{% if pageCMS['middle-article'] %}
<section class="segment-outer bg-sn-5">
    <section class="segment-inner">
        {% set articles = pageCMS['middle-article'].simple_article_list %}
        <section class="details__middle-article">
            {% for item in articles %}
                {% set object = item.simple_article %}
                <article class="dining-details__figcaption">
                    <header>
                        <h3 class="dining-details__middle-article--header font-ivar bold text-center">
                            {{ object.title }}
                        </h3>
                    </header>
                    <div class="catering__descriptions font-ivar">
                        {{ object.description | safe }}
                    </div>
                </article>
            {% endfor %}
        </section>
    </section>
</section>
{% endif %}

<section class="segment-outer">
    <section class="segment-inner text-center sm:px-6 md:px-6 lg:px-6">
        <article class="details__card bg-sn-5 font-ivar">
                {% if pageCMS['vertical-card-title'] %}
                    {% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
                    {{ h2(classes=['heading', 'text-4.5xl', 'sm:text-6', 'font-ivar', 'font-semibold', 'text-center'], copy = card_list_title) }}
                {% endif %}
            
            {% if pageCMS['vertical-card-list'] %}
                {% set vertical_card_list = pageCMS['vertical-card-list'].vertical_card_list %}
                <section class="flex-card-container">
                    {% for item in vertical_card_list %}
                        {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8','flex__single-card']) }}
                    {% endfor %}
                </section>
            {% endif %}
        </article>
    </section>
</section>

{{newsletter()}}

