/****  start imports  ********************************/
@import "../../../styles/global.css";
/****  end imports  ********************************/
.top-section {
    margin-top: 90px;
}
.dining-details-container {
    display: block;
}
.dining-details__figure {
    margin-bottom: 48px;
}
.dining-details__top-banner--header {
    font-size: 24px;
    padding-bottom: 24px;
}
.dining-details__top-banner--descriptions {
    font-size: 14px;
    padding-bottom: 16px;
}
.dining-details__middle-article--header {
    font-size: 24px;
    padding-bottom: 24px;
}
.dining-details__descriptions {
    font-size: 14px;
    padding-bottom: 16px;
}
.details__middle-article {
    max-width: 792px;
    margin: 0 auto;
}
.dining-details__card{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-top: 24px;
    padding-bottom: 40px;
    max-width: 1080px;
    margin: 0 auto;
}
.bridge {
    padding-bottom: 36px;
}
.dining-details__figcaption {
    padding: 0 1rem;
}
.dining-details__venues {
    padding: 0 1rem;
}
.details__card {
    padding: 0 1rem;
}
.group-venues__description:nth-child(4){
    color: var(--sundance__primary1);
}
@media screen and (min-width: 767px){
    .dining-details__card{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 3rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }
}
@media screen and (min-width: 1024px){
    .dining-details-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
    .dining-details__top-banner--header {
        font-size: 42px;
        line-height: 46.2px;
    }
    .dining-details__top-banner--descriptions {
        font-size: 19px;
        padding-bottom: 16px;
    }
    .dining-details__middle-article--header {
        font-size: 42px;
        line-height: 46.2px;
    }
    .dining-details__descriptions {
        font-size: 19px;
        padding-bottom: 16px;
    }
    .dining-details__card{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 3rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .bridge {
        padding-bottom: 40px;
    }
    .group-venues__container {
        padding-top: 24px;
    }
}