---
layout: base.njk
pagename: lodging-plan-your-stay-specials-and-packages
permalink: "build/lodging-plan-your-stay-specials-and-packages/index.html"
permalinkBypassOutputDir: true
nickname: "lodging-plan-your-stay-specials-and-packages"
---
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
---
{{ navMenu(data.navMenuLink) }}
{% set groupVenue = pageCMS['group-venues'].group_venues %}

<section class="segment-outer lodging-plan-your-stay-specials-and-packages__top-banner">
    <figure class="segment-inner">
        {% for event in groupVenue %}
            <section class="group-section">
                <figure>
                    {{global_image(pageCMS['group-venues-top-banner'].global_image, classes='-z-1 h-screen w-full image_frame sm:3:4 lg:3:4 2xl:16:9 4xl:9:16')}}
                </figure>
                <div class="group-container flyfishing__group-container border-0">
                    {{groupVenues(event)}}
                </div>
            </section>
        {% endfor %}
    </figure>
</section>
{{newsletter()}}
