---
layout: base.njk
pagename: error
permalink: "build/error/index.html"
permalinkBypassOutputDir: true
nickname: error 
---
{% from "atoms/headings.njk" import h1 %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'molecules/footer.njk' import footer %}

<section class="page-top-adjust"></section>
<section class="group-section top-section">
    <section class="segment-outer relative">
    {# Simple Article #}
    {% if pageCMS['error-message'] %}
        <article class="error__text-container font-ivar">
            <header>
                {{ h1(copy = pageCMS['error-message'].simple_article.title, classes = ['error__text-container__header']) }}
            </header>
            <div class="error__text-container__copy font-ivar">
                {{ pageCMS['error-message'].simple_article.description | safe }}
            </div>    
        </article>
    {% endif %}          
    </section>
</section>

{{newsletter()}}
