/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

/* @media screen and (min-width: 768px) { */
    /* hero block start */
    .s-card-pb {
        padding-bottom: 100px;
    }
    .hero-block{
        display: flex;
        justify-content: center;
        background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url("/images/ski-background.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .hero-block:before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: inherit;
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
    }
    .hero-block .hero-block__inner{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .hero-block .hero-block__inner-1{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }
    .hero__button{
        background-color: var(--sundance__primary3);
        color: #fff;
        border: 0;
    }
    article.hero-content{
        margin-top: 200px;
    }
    .hero-heading {
        font-size: 55px;
        font-weight: 700;
        line-height: 1;
    }
    .hero-content__text{
        font-size: 24px;
        line-height: 1.5;
    }
    .hero-content__buttons{
        display: flex;
        flex-direction: column;
        margin-top: 30px;
    }
     /* hero block end */
    
    /* intro block start */
    .intro-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        row-gap: 28px;
    }
    .intro-images{
        z-index: 1;
        background-size: contain;
        background-repeat: no-repeat;
    }
    .intro-images__imageBlock{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
    }
    .intro-heading{
        font-size: 48px;
        font-weight: 700;
        line-height: 1;
    }
    .intro-text__body{
        font-size: 24px;
        line-height: 1.5;
    }
    .intro-text__buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 30px;
        gap: 1rem;
    }
    .link--plain{
        color: var(--sundance__neutral6);
        font-size: 24px;
        line-height: 35px;
        text-decoration: underline;
    }
    /* intro block end */

    .lift-block{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 28px;
    }
    .lift-block__textBlock--buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2.3rem;
        gap: 1rem;
    }
    /* end lift block */
    .icons-block{
        display: flex;
        background: url("/images/vector2.svg");
        height: 500px;
        margin-top: -10rem;
    }
    .icons-block__icons{
        display: flex;
        justify-content: center;
        width: 100%;
        padding: 0 250px;
        & ul {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            width: 100%;
            height: inherit;
            & li{
                width: 200px;
                padding: 10px;
                text-align: center;
            }
        }
    }

    .flex-block{
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 28px;
    }

/* } */
.container {
    max-width: 1920px;
    margin: auto;
}
.gap-2 {
    gap: .5rem;
}
.lift-block__textBlock{
    order: 2;
}
.lift-block__imageBlock {
    order: 1;
}
@media screen and (min-width: 768px) {
    .s-card-pb {
        padding-bottom: 100px;
    }
    .hero-block:before{
        background: url("/images/board.svg");
    }
    .hero-block{
        background-position:left top;
        height: 1048px;
    }
    .intro-images{
        margin-left: 5rem;
        margin-top: -10rem;
    }
    .intro-block {
        flex-direction: row;
    }
    .intro-images__imageBlock{
        margin-left: 5rem;
    }
    .intro-images{
        width: 520px;
    }
    .flex-block {
        height: 870px;
        flex-direction: row;
    }
    .lift-block__textBlock{
        width: 582px;
        order: 1;
    }
    .lift-block__imageBlock {
        order: 2;
        margin-right: 5rem;
        width: 500px;
    }
    .hero-content__buttons{
        flex-direction: row;
    }
    .lift-block{
        flex-direction: row;
        height: 600px;
    }
    .intro-text{
        width: 500px;
        margin-right: 6rem;
        padding-left: 7rem;
    }
    .hero-block:before{
        width: 495px;
    }
    .hero-block .hero-block__inner{
        margin-right: 6rem;
        width: 500px;
    }
    .hero-block .hero-block__inner-1{
        width: 520px;
        margin-right: 6rem;
    }
    article.hero-content{
        width: 400px;
    }
    .hero-heading {
        font-size: 80px;
    }
    .lift-block__textBlock--buttons{
        flex-direction: row;
    }
    .intro-text__buttons{
        flex-direction: row;
    }
    .intro-heading{
        font-size: 72px;
    }
}


