---
layout: base.njk
pagename: s-card
permalink: "build/s-card/index.html"
permalinkBypassOutputDir: true
nickname: s-card
---
{% from "atoms/a.njk" import a,
Link %}
{% from "atoms/headings.njk" import h1,
h2 %}
{% from "atoms/a.njk" import a, button_primary, button_secondary%}
{% from 'organisms/global-image.njk' import global_image %}
{% if pageCMS['top-article'].vertical_card %}
    {% set item = pageCMS['top-article'].vertical_card %}
    <section class="hero-block segment-outer container" style="background-image:linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%), url('{{item.image.global_image.src | theImgSrc}}');">
        <div class="hero-block__inner-1"></div>
        <div class="hero-block__inner global-px">
            <article class="hero-content">
                <header>
                    <h1 class="hero-heading font-calibre text--color__sn-6">{{item.title}}</h1>
                </header>
                <div class="hero-content__text font-calibre">
                    {{item.description | safe}}
                </div>
                <div class="intro-text__buttons">
                    {% if item.actions | length > 0 %}
                        {% for data in item.actions %}
                            {% set obj = data.action %}
                            {% if obj.type == 'yellow-cta' %}
                                {{ button_primary( href=obj.url, classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy=obj.copy, internal=obj.internal ) }}
                            {% endif %}
                            {% if obj.type == 'white-cta' %}
                                {{ button_secondary( href=obj.url, classes = ['button', 'button--secondary', 'font-calibre', 'text-base'],  copy=obj.copy, internal=obj.internal ) }}
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                </div>
            </article>
        </div>
    </section>
{% endif %}

{% if pageCMS['middle-article-1'].vertical_card %}
    {% set item = pageCMS['middle-article-1'].vertical_card %}
    <section class="intro-block segment-outer container">
        <div class="intro-images global-px">
            <figure class="intro-images__imageBlock">
                {{global_image(item.image.global_image)}}
            </figure>
        </div>
        <article class="intro-text global-px">
            <header class="intro-text__header">
                <h2 class="intro-heading font-calibre text--color__sn-6">
                    {{item.title}}
                </h2>
            </header>
            <div class="intro-text__body">
                {{item.description | safe}}
            </div>
            <div class="intro-text__buttons">
                {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
                <a class="link link--plain font-calibre" href="#" class="btn btn--primary">View Pricing</a>
            </div>
        </article>
    </section>
{% endif %}

{% if pageCMS['middle-article-2'].vertical_card %}
    {% set item = pageCMS['middle-article-2'].vertical_card %}
    <section class="lift-block segment-outer container">
        <article class="lift-block__textBlock global-px">
            <header class="lift-block__textBlock--header">
                <h2 class="intro-heading font-calibre text--color__sn-6">
                    {{item.title}}
                </h2>
            </header>
            <div class="lift-block__textBlock--body intro-text__body">
                {{item.description | safe}}
            </div>
            <div class="lift-block__textBlock--buttons">
                {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
                <a class="link link--plain font-calibre" href="#" class="btn btn--primary">View Pricing</a>
            </div>
        </article>
        <div class="lift-block__imageBlock global-px">
            <figure>
                {{global_image(item.image.global_image)}}
            </figure>
        </div>
    </section>
{% endif %}
{# <section class="icons-block segment-outer container">
    <div class="icons-block__icons">
        <ul>
            <li class="icon icon-wifi">
                <span>
                    <img src="/images/wifi.svg">
                    <p class="font-calibre">RFID chip means you can leave your pass in your pocket</p>
                </span>
            </li>
            <li class="icon icon-phone">
                <span>
                    <img src="/images/phone.svg">
                    <p class="font-calibre">Buy online and skip the ticketing line</p>
                </span>
            </li>
            <li class="icon icon-reload">
                <img src="/images/reload.svg">
                <p class="font-calibre">One time fee, reloads automatically</p>
            </li>
        </ul>
    </div>
</section> #}
{% if pageCMS['bottom-article'].vertical_card %}
    {% set item = pageCMS['bottom-article'].vertical_card %}
    <section class="flex-block segment-outer container">
        <div class="lift-block__imageBlock global-px">
            <figure>
                {{global_image(item.image.global_image)}}
            </figure>
        </div>
        <article class="lift-block__textBlock global-px">
            <header class="lift-block__textBlock--header">
                <h2 class="intro-heading font-calibre text--color__sn-6">
                    {{item.title}}
                </h2>
            </header>
            <div class="lift-block__textBlock--body intro-text__body">
                {{item.description | safe}}
            </div>
            <div class="lift-block__textBlock--buttons">
                {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
                <a class="link link--plain font-calibre" href="#" class="btn btn--primary">View Pricing</a>
            </div>
        </article>
    </section>
{% endif %}