---
layout: base.njk
pagename: spa-activities
permalink: "build/activities/year-round/spa/index.html"
permalinkBypassOutputDir: true
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'organisms/hero-corner_block.njk' import top_banner_right_bottom_container %}

{% set horizontal_card_list= pageCMS['horizontal-cards'].horizontal_card_list %}
{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}
{% set card_title= pageCMS['card-title'].simple_article %}

<section class="spa-activities__margin-top"></section>
{# Hero Image Section #}
<section class="relative">
    {{global_image(pageCMS['top-banner'].global_image, classes='relative h-screen w-full image_frame sm:4:3 lg:4:3 2xl:16:9 4xl:9:16')}}
    {{ top_banner_right_bottom_container(heroCornerBlock) }}
</section>
{# Card Title #}
{{ h2(copy = card_title.title, classes = ['bg-sn-4', 'spa-activities__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}

{# Horrizontal Card Section #}
<section class="bg-sn-4 spa-activities__section-outer">
    <section class="spa-activities__section-inner">
        {{ horrizontalCard(items=horizontal_card_list,  horizontal_card_container = ['horizontal__card-container', 'mb-8']) }}
    </section>
</section>
{# Vertical Card Section #}
<section class="bg-sn-4 spa-activities__section-outer">
    <section class="spa-activities__section-inner spa-activities__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
        {% endfor %}
    </section>
</section>

{{newsletter()}}
