---
layout: base.njk
pagename: accommodation
permalink: "build/lodging/index.html"
permalinkBypassOutputDir: true
nickname: "accommodation"
---
{% from 'molecules/filter.njk' import filter %}
{% from 'organisms/forms.njk' import lodging_form %}
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/card.njk' import singleCard %}

{% set cardAllData = pageCMS['vertical-cards'].vertical_card_list %}
<section class="segment-outer segment-outer__margin">
    <section class="segment-inner text-center">
        {{ lodging_form(item = lodgingForm, page = page) }}
    </section>
</section>
<section class="segment-outer bg-sn-4 text-left lodging-accommodation__filter">
    <section class="segment-inner">
        {{ filter(filters) }}
    </section>
</section>
<section class="segment-outer bg-sn-4 px-4 pb-4">
    <section class="segment-inner">
        <section class="flex-card-container">
            {% for item in cardAllData %}
                {{ singleCard(item = item.vertical_card, classes = ['card-container', 'text-left', 'flex__single-card mb-8']) }}
            {% endfor %}
        </section>
        <div class="font-ivar text-sm card-footer-caption text-center">
            {{ pageCMS['card-footer-caption'].simple_article.description | safe }}
        </div>
    </section>
</section>
{{newsletter()}}
