---
layout: base.njk
pagename: tree-room
permalink: "build/dining/restaurants/tree-room/index.html"
permalinkBypassOutputDir: true
nickname: dining/restaurants/tree-room
---
{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'atoms/headings.njk' import global_header %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}

{% set middle_banner = pageCMS['middle-banner'].banner %}
{% set middleBannerImage = middle_banner.global_image.global_image %}

{% set bridge_slider = pageCMS['top-banner-right'].bridge_slider %}
{% set quoteCard = pageCMS['quote-card'].quote_card %}
{% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
{% set vertical_card_list = pageCMS['vertical-card-list'].vertical_card_list %}

{% set top_banner = pageCMS['top-banner-left'].banner %}
{% set topBannerImage = top_banner.global_image.global_image %}

<section class="segment-outer bg-sn-5 px-4 top-section">
    <section class="segment-inner">
        <section class="dining-details-container">
            <section>
                <figure class="dining-details__figure">
                    {{global_image(topBannerImage, classes='w-full image_frame sm:125:114 lg:14:9 2xl:14:9 4xl:14:9')}}
                </figure>
                <figcaption class="dining-details__figcaption">
                    <header>
                        <h3 class="dining-details__top-banner--header font-ivar bold">
                            {{top_banner.title}}
                        </h3>
                    </header>
                    {% for item in top_banner.descriptions %}
                        <div class="dining-details__top-banner--descriptions font-ivar">
                            {{ item.text }}
                        </div>
                    {% endfor %}
                </figcaption>
            </section>
            <section class="dining-details__venues">
                {% for event in data.groupData %}
                    <section>
                        {{ groupVenues(event) }}
                    </section>
                {% endfor %}
            </section>
        </section>
    </section>
</section>
<section class="segment-outer bg-sn-5 px-4 slider-container">
    <section>
        {{bridge(bridge_slider)}}
    </section>
</section>
<section class="segment-outer bg-sn-5 px-4">
    <section class="segment-inner">
        <section class="details__middle-banner">
            <figure class="dining-details__figure">
                {{global_image(middleBannerImage, classes='w-full image_frame sm:3:4 lg:3:4 2xl:16:9 4xl:9:16')}}
            </figure>
            <figcaption class="dining-details__figcaption">
                <header>
                    <h3 class="dining-details__middle-banner--header font-ivar bold">
                        {{ middle_banner.title }}
                    </h3>
                </header>
                {% for item in middle_banner.descriptions %}
                    <div class="dining-details__middle-banner--descriptions font-ivar">
                        {{ item.text }}
                    </div>
                {% endfor %}
            </figcaption>
        </section>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner">
        <article class="details__quote bg-ss-4 font-ivar">
            <div class="dining-details__middle-banner--descriptions font-ivar">
                {{ quoteCard.description | safe }}
            </div>
            <div class="dining-details__middle-banner--descriptions font-ivar">
                <p>{{quoteCard.speaker}}</p>
            </div>
        </article>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner text-center">
        <article class="details__card bg-sn-5 font-ivar">
            {{ global_header(copy = card_list_title) }}
            <section class="flex-card-container">
                {% for item in vertical_card_list %}
                    {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8','flex__single-card']) }}
                {% endfor %}
            </section>
        </article>
    </section>
</section>

{{newsletter()}}

{{footer(data.footer)}}