---
layout: base.njk
pagename: contact
permalink: "build/about/contact/index.html"
permalinkBypassOutputDir: true
nickname: "about/contact"
---

{% from "atoms/headings.njk" import h2 %}
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}

{% set groupVenue = pageCMS['group-venues'].group_venues %}

<section class="group-section top-section">
    <section class="segment-outer relative -z-1">
        {% if pageCMS['top-banner'] %}
            {{global_image(pageCMS['top-banner'].global_image, classes='image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        {% endif %}
    </section>
    {% if pageCMS['top-group-venues'] %}
        {% set groupData = pageCMS['top-group-venues'].group_venues %}
        {% for event in groupData %}
            <section class="group-container">
                {{ groupVenues(event) }}
            </section>
        {% endfor %}
    {% endif %}
    <article class="contact-address font-ivar text-center">
        <header>
            {{ h2(copy = pageCMS['contact-address'].simple_article.title, classes = ['contact-page__description']) }}
        </header>
        <div class="">
            {{ pageCMS['contact-address'].simple_article.description | safe }}
        </div>
    </article>
</section>