/****  start imports  ********************************/
@import "../../../styles/global.css";
/****  end imports  ********************************/
.lodging-rooms-and-suites__cards {
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
    margin: 0 auto;
}
.lodging-rooms-and-suites__single-card {
    margin-bottom: 32px;
}
.segment-outer__margin {
    margin-top: 2rem;
}
.card-footer-caption {
    padding-top: 40px;
    padding-bottom: 40px;
}
.lodging-accommodation__filter {
    padding-bottom: 40px;
}
@media screen and (min-width: 768px){
    .segment-outer__margin {
        margin-top: 6rem;
    }
    .lodging-rooms-and-suites__cards {
        display: flex;
        flex-wrap: wrap;
        max-width: 720px;
        column-gap: 3rem;
        row-gap: 40px;
        margin: 0 auto;
    }
    .lodging-rooms-and-suites__single-card {
        margin: 0;
        width: 328px;
    }
    .card-footer-caption {
        padding-top: 40px;
        padding-bottom: 72px;
    }
}
@media screen and (min-width: 1365px){
    .lodging-rooms-and-suites__cards {
        max-width: 1080px;
    }
}
