---
layout: base.njk
pagename: bear-claw
permalink: "build/groups/venues/bear-claw/index.html"
permalinkBypassOutputDir: true
nickname: bear-claw
---

{% from "atoms/headings.njk" import h2 %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/card.njk' import verticalCard %}

<section class="page-top-adjust"></section>
{# Hero Image Section #}
{% if pageCMS['venues'].group_venues.length and pageCMS['top-banner'].global_image %}
    {% set event = (pageCMS['venues'].group_venues |  first )%}
    <section class="group-section">
        {{global_image(pageCMS['top-banner'].global_image, classes='-z-1 image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        <div class="group-container">
            {{groupVenues(event)}}
        </div>
    </section>
{% endif %}

{# Bridge carousal #}
{% if pageCMS['bridge-slider'].bridge_slider %}
    {{bridge(obj =  pageCMS['bridge-slider'].bridge_slider, classes = ['weddings'])}}
{% endif %}

{# Other Sundance Venues #}
<section class="segment-outer">
    <section class="segment-inner">
        {{ h2(copy = pageCMS['vertical-card-title'].simple_article.title, classes = ['venues__card-title', 'text-center', 'font-ivar', 'font-semibold', 'text--color__sn-6']) }}
        <article class="segment-inner__vertical-card-container grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 4xl:grid-cols-3 gap-x-12 sm:px-6 md:px-6 lg:px-6 pb-10">
            {% for item in pageCMS['vertical-card'].vertical_card_list %}
                <a href="/groups/venues/{{item.vertical_card.slug}}" class="no-underline">
                    {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
                </a>
            {% endfor %}
        </article>
    </section>
</section>


{{newsletter()}}
