/****  start imports  ********************************/
@import "../../../styles/global.css";
/****  end imports  ********************************/
.dining-details__figure {
    margin-bottom: 48px;
}
.dining-details-container {
    display: block;
}
.dining-details__top-banner--header {
    font-size: 24px;
    padding-bottom: 24px;
}
.dining-details__top-banner--descriptions {
    font-size: 14px;
    padding-bottom: 16px;
}
.dining-details__middle-banner--header {
    font-size: 24px;
    padding-bottom: 24px;
}
.dining-details__middle-banner--descriptions {
    font-size: 14px;
    padding-bottom: 16px;
}
.details__middle-banner {
    max-width: 792px;
    margin: 0 auto;
}
.details__quote {
    color: white;
}
.bridge {
    padding-bottom: 36px;
}
.details__quote {
    max-width: 680px;;
    padding: 40px 26px;
    margin: 1rem auto;
}

.group-venues__container {
    text-align: left;
}
.group-venues__description {
    padding-left: 0;
}
.group-venues__breadcrumbs__link:nth-child(1) {
    padding-left: 0;
}
.dining-details__top-banner--descriptions:nth-child(3){
    color: var(--sundance__primary1);
}
.group-venues__description:nth-child(4) {
    color: var(--sundance__primary1);
}
.group-venues__links, 
.group-venues__dropdown {
    margin: 0;
}
.group-venues__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
}
.group-venues__actions .group-venues__dropdown {
    margin: 0;
    width: 100%;
}
.slider-container {
    margin-top: 2.5rem;
}
.group-venues {
    display: block;
}
.group-venues__dropdown-btn {
    display: block;
}
.hidden-in-desktop-view-in-mobile {
    display: block;
}
.hidden-in-mobile-view-in-desktop {
    display: none;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .group-venues__title {
        padding-left: 0px;
    }    
}
@media screen and (min-width: 768px){
    .group-venues__actions {
        flex-direction: row;
    }
    .group-venues__links {
        width: 50%;
    }
}
@media screen and (min-width: 1024px){
    .dining-details-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 2rem;
    }
    .dining-details__top-banner--header {
        font-size: 42px;
        line-height: 46.2px;
    }
    .dining-details__top-banner--descriptions {
        font-size: 19px;
        padding-bottom: 16px;
    }
    .dining-details__middle-banner--header {
        font-size: 42px;
        line-height: 46.2px;
    }
    .dining-details__middle-banner--descriptions {
        font-size: 19px;
        padding-bottom: 16px;
    }
    .details__quote {
        padding: 64px 200px;
        margin: 3rem auto;
    }
    .bridge {
        padding-bottom: 40px;
    }
    .group-venues__container {
        padding-top: 24px;
    }
    .slider-container {
        margin-top: 4rem;
    }
    .group-venues__actions {
        flex-direction: column;
    }
    .hidden-in-desktop-view-in-mobile {
        display: none;
    }
    .hidden-in-mobile-view-in-desktop {
        display: block;
    }
    .top-banner__figure {
        margin-bottom: 48px;
    }
    .group-venues__links {
        width: auto;
    }
}