---
layout: base.njk
pagename: tree-room
permalink: "build/dining/tree-room/index.html"
permalinkBypassOutputDir: true
nickname: dining/restaurants/tree-room
---
{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'atoms/headings.njk' import h2, global_header %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}

{% set middle_banner = pageCMS['middle-banner'].banner %}
{% set middleBannerImage = middle_banner.global_image.global_image %}

{% set bridge_slider = pageCMS['top-banner-right'].bridge_slider %}
{% set quoteCard = pageCMS['quote-card'].quote_card %}
{% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
{% set vertical_card_list = pageCMS['vertical-card-list'].vertical_card_list %}

{% set top_banner = pageCMS['top-banner-left'].banner %}
{% set topBannerImage = top_banner.global_image.global_image %}

{% macro bannerContent(top_banner) %}
    <figcaption class="dining-details__figcaption">
        <header>
            <h3 class="dining-details__top-banner--header font-ivar bold">
                {{top_banner.title}}
            </h3>
        </header>
        {% if top_banner.custom_description %}
            <div class="dining-details__top-banner--descriptions font-ivar">
                {{ top_banner.custom_description | safe }}
            </div>
        {% endif %}
    </figcaption>
{% endmacro %}

<section class="segment-outer bg-sn-5 top-section">
    <section class="segment-inner">
        <section class="dining-details-container global-px">
            <section>
                <figure class="top-banner__figure">
                    {{global_image(topBannerImage, classes='w-full image_frame sm:125:114 lg:14:9 2xl:14:9 4xl:14:9')}}
                </figure>
                <div class="hidden-in-mobile-view-in-desktop">
                    {{bannerContent(top_banner)}}
                </div>
            </section>
            <section class="dining-details__venues">
                {% for event in pageCMS['group-venues'].group_venues %}
                    <section>
                        {{ groupVenues(event) }}
                    </section>
                {% endfor %}
            </section>
            <div class="hidden-in-desktop-view-in-mobile">
                {{bannerContent(top_banner)}}
            </div>
        </section>
    </section>
</section>
<section class="segment-outer bg-sn-5 slider-container">
    <section>
        {{bridge(bridge_slider)}}
    </section>
</section>
<section class="segment-outer bg-sn-5">
    <section class="segment-inner sm:px-6 md:px-6 lg:px-6">
        <section class="details__middle-banner">
            <figure class="dining-details__figure">
                {{global_image(middleBannerImage, classes='w-full image_frame sm:41:25 lg:396:265')}}
            </figure>
            <figcaption>
                <header>
                    <h3 class="dining-details__middle-banner--header font-ivar bold">
                        {{ middle_banner.title }}
                    </h3>
                </header>
                {% for item in middle_banner.descriptions %}
                    <div class="dining-details__middle-banner--descriptions font-ivar">
                        {{ item.text }}
                    </div>
                {% endfor %}
            </figcaption>
        </section>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner sm:px-6 md:px-6 lg:px-6">
        <article class="details__quote bg-ss-4 font-ivar">
            <div class="dining-details__middle-banner--descriptions font-ivar">
                {{ quoteCard.description | safe }}
            </div>
            <div class="dining-details__middle-banner--descriptions font-ivar">
                <p>{{quoteCard.speaker}}</p>
            </div>
        </article>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner text-center sm:px-6 md:px-6 lg:px-6">
        <article class="details__card bg-sn-5 font-ivar">
            {{ h2(classes=['heading', 'text-4.5xl', 'sm:text-6', 'font-ivar', 'font-semibold', 'text-center'], copy = card_list_title) }}
            <section class="flex-card-container">
                {% for item in vertical_card_list %}
                    {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'flex__single-card', 'mb-8']) }}
                {% endfor %}
            </section>
        </article>
    </section>
</section>

{{newsletter()}}
