---
layout: base.njk
pagename: whats-new
permalink: "build/whats-new/index.html"
permalinkBypassOutputDir: true
nickname: whats-new
---
{% from "atoms/a.njk" import a,
Link %}
{% from "atoms/headings.njk" import h1, h2 %}
{% from "atoms/a.njk" import a, button_primary, button_secondary%}

<section class="hero-block hero__whats-new segment-outer">
    <div class="hero-block__inner">
        <article class="hero-content">
            <header>
               <h1 class="hero-heading font-calibre text--color__sn-6">
                   What’s New at Sundance
               </h1>
            </header>
            <div class="hero-content__text font-calibre">
               New lifts. New runs. New snowmaking. New ways to create your Sundance story. 
            </div>
            <div class="hero-content__buttons">
                {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
                {{ button_secondary( href='http://example.com', classes = ['button', 'button--secondary', 'font-calibre', 'text-base'],  copy='FAQ', id='myButton-1', target='_blank' ) }}
            </div>
        </article>
    </div>
</section>


<section class="intro-block segment-outer">    
        <div class="intro-images">
        </div> 
        <article class="intro-text">
            <header class="intro-text__header">
                <h2 class="intro-heading font-calibre text--color__sn-6">
                    2 new lifts + new snow? Awww yeah!
                </h2>
            </header>
            <div class="intro-text__body">
                New high-speed quad. New beginner area with 3 magic carpets. Improved snowmaking including a snowmaking pond and new snow guns.
            </div>    
            <div class="intro-text__buttons">
                {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
                <a class="link link--plain font-calibre" href="#" class="btn btn--primary">View Pricing</a>   
            </div>
        </article>
</section>



<section class="lift-block segment-outer">
    <article class="lift-block__textBlock">
        <header class="lift-block__textBlock--header">
            <h2 class="intro-heading font-calibre text--color__sn-6">
              Slopes + savings: Say hello to the S-Card.
            </h2>            
        </header>
        <div class="lift-block__textBlock--body intro-text__body">
            The S-Card is an RFID enabled pass that reloads (at a discount) automatically when you hit the slopes at Sundance. Skip the ticketing lines.
        </div>  
        <div class="lift-block__textBlock--buttons">
            {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
            <a class="link link--plain font-calibre" href="#" class="btn btn--primary">View Pricing</a>   
        </div>
    </article>  
    <div class="lift-block__imageBlock">
        <figure>
            <img src="/images/single-person-ski.svg">
        </figure>
    </div>
</section>

<section class="lift-block segment-outer">
    <article class="lift-block__textBlock">
        <header class="lift-block__textBlock--header">
            <h2 class="intro-heading font-calibre text--color__sn-6">
               Additional parking + parking updates
            </h2>            
        </header>
        <div class="lift-block__textBlock--body intro-text__body">
           Additional parking spots. Incentivized carpooling. Paid and complimentary parking options.
        </div>  
        <div class="lift-block__textBlock--buttons">
            {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
            <a class="link link--plain font-calibre" href="#" class="btn btn--primary">View Pricing</a>   
        </div>
    </article>  
    <div class="lift-block__imageBlock">
        <figure>
            <img src="/images/additional-items.svg">
        </figure>
    </div>
</section>

<section class="icons-block segment-outer">
    <div class="icons-block__icons">
       <ul>
              <li class="icon icon-wifi">
                <span>
                    <img src="/images/timer.svg">
                    <p class="font-calibre">A new high-speed lift will help you hit the slopes quicker</p>
                </span>
              </li>
              <li class="icon icon-phone">
                <span>
                    <img src="/images/snow.svg">
                    <p class="font-calibre">Improved snowmaking helps you get more out of your passes</p>
                </span>
              </li>
              <li class="icon icon-reload">
                    <img src="/images/mountain.svg">
                    <p class="font-calibre">With new ski runs, now there’s even more to explore</p>
              </li>
       </ul>
    </div> 
</section>

<section class="flex-block segment-outer">
    <div class="lift-block__imageBlock">
        <figure>
            <img src="/images/lookout.svg">
        </figure>
    </div>
    <article class="lift-block__textBlock">
        <header class="lift-block__textBlock--header">
            <h2 class="intro-heading font-calibre text--color__sn-6">
              New eats: The Lookout
            </h2>            
        </header>
        <div class="lift-block__textBlock--body intro-text__body">
           New menu. Completely remodeled space. Incredible views of Mount Timpanogos.
        </div>  
        <div class="lift-block__textBlock--buttons">
            {{ button_primary( href='http://example.com', classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6', 'hero__button'],  copy='Buy Now', id='myButton-1', target='_blank' ) }}
            <a class="link link--plain font-calibre" href="#" class="btn btn--primary">View Pricing</a>   
        </div>
    </article>  
</section>