---
layout: base.njk
pagename: flyfishing-activities
permalink: "build/activities/year-round/fly-fishing/index.html"
permalinkBypassOutputDir: true
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from "atoms/headings.njk" import h4, ihh1 %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'molecules/bridge.njk' import bridge %}

{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}
{% set card_title= pageCMS['card-title'].simple_article %}
{% set bridge_slider = pageCMS['bridge-slider'].bridge_slider  %}
{% set textAllData = pageCMS['flyfishing-text-container'].text_container  %}
{% set flyfishing_group_venues = pageCMS['group-venues'].group_venues  %}

<section class="flyfishing-activities__margin-top"></section>

{# Hero Image Section #}
{% for event in flyfishing_group_venues %}
    <section class="group-section">
        <section class="segment-outer">
            <figure class="segment-inner">
                {{global_image(pageCMS['top-banner'].global_image, classes='-z-1 image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
            </figure>
        </section>
        <div class="group-container flyfishing__group-container">
            {{groupVenues(event)}}
        </div>
    </section>
{% endfor %}

{# Bridge carousal #}
{{bridge(obj =  bridge_slider, classes = ['flyfishing-activities'])}}

{# Flyfishing Text Section #}


{# Card Title #}
{{ h2(copy = card_title.title, classes = ['flyfishing-activities__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}

{# Vertical Card Section #}
<section class="flyfishing-activities__section-outer">
    <section class="flyfishing-activities__section-inner flyfishing-activities__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
        {% endfor %}
    </section>
</section>

<article class="flyfishing__text-container font-ivar">
    <header>
        {{ h1(copy = textAllData.title, classes = ['flyfishing__text-container__header', 'heading--2']) }}
    </header>
    {% for item in textAllData.descriptions %}
        <p class = "flyfishing__text-container__copy">{{ item.text | safe }}</p>
    {% endfor %}    
</article>

{{newsletter()}}
