/****  start imports  ********************************/
@import "../../../../styles/global.css";
/****  end imports  ********************************/
.dining-details-container {
    display: block;
}
.dining-details__figure {
    margin-bottom: 48px;
}
.dining-details__top-banner--header {
    font-size: 24px;
    padding-bottom: 24px;
}
.dining-details__top-banner--descriptions {
    font-size: 14px;
    padding-bottom: 16px;
}
.dining-details__middle-article--header {
    font-size: 24px;
    padding-bottom: 24px;
}
.dining-details__descriptions {
    font-size: 14px;
    padding-bottom: 16px;
}
.details__middle-article {
    max-width: 1080px;
    margin: 0 auto;
}
.bridge {
    padding-bottom: 36px;
}
.dining-details__figcaption {
    padding: 0 1rem;
}
.dining-details__venues {
    padding: 0 1rem;
}
.details__notice {
    max-width: 680px;
    padding: 0 1rem;
    margin: 1rem 1rem;
}

.gallery-image__column {
    column-count: 2;
    column-gap: 0.7rem;
    max-width: 792px;
    margin: 0 auto;
}
@media only screen and (min-width: 1024px) {
    .gallery-image__column {
        column-count: 3;
    }
}
.px-4 {
    padding: 0 1rem;
}
.group-venues__description:nth-child(4){
    color: var(--sundance__primary1);
}
@media screen and (min-width: 1024px){
    .dining-details-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
    }
    .dining-details__top-banner--header {
        font-size: 42px;
        line-height: 46.2px;
    }
    .dining-details__top-banner--descriptions {
        font-size: 19px;
        padding-bottom: 16px;
    }
    .dining-details__middle-article--header {
        font-size: 42px;
        line-height: 46.2px;
    }
    .dining-details__descriptions {
        font-size: 19px;
        padding-bottom: 16px;
    }
    .details__notice {
        padding: 64px 200px;
        margin: 3rem auto;
    }
    .bridge {
        padding-bottom: 40px;
    }
    .group-venues__container {
        padding-top: 24px;
    }
}