---
layout: base.njk
pagename: meetings-events
permalink: "build/meetings-events/index.html"
permalinkBypassOutputDir: true
---

{% from "atoms/headings.njk" import h2 %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/bridge.njk' import bridge %}

{# Hero Image Section #}
{% if pageCMS['venues'].group_venues.length and pageCMS['top-banner'].global_image %}
    {% set event = (pageCMS['venues'].group_venues |  first )%}
    <section class="group-section">
        {{global_image(pageCMS['top-banner'].global_image, classes='-z-1 image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        <div class="group-container">
            {{groupVenues(event, announcementObject = (pageCMS['announcement'].announcement if pageCMS['announcement'] else {}))}}
        </div>
    </section>
{% endif %}

{# Bridge carousal #}
{% if pageCMS['bridge-slider'].bridge_slider %}
    {{bridge(obj =  pageCMS['bridge-slider'].bridge_slider, classes = ['meetings-events'])}}
{% endif %}

{# Text Container #}
{% if pageCMS['text-container'].text_container %}
    <section class="segment-outer">
        <section class="segment-inner meetings-events__text-container font-ivar font__ivar-letterspace no__text-decoration text-lg-2 sm:px-6 md:px-6 lg:px-6">
            {{ h2(copy = pageCMS['text-container'].text_container.title, classes = ['meetings-events__text-container__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
            {{ pageCMS['text-container'].text_container.texts | safe }}
        </section>
    </section>
{% endif %}

{# vertical card #}
{% if pageCMS['vertical-card'].vertical_card_list %}
    <section class="segment-outer pt-12">
        <section class="segment-inner">
            {{ h2(copy = 'Complete your Experience', classes = ['meetings-events__text-container__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
            <article class="segment-inner__vertical-card-container grid md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-3 4xl:grid-cols-3 gap-x-12 sm:px-6 md:px-6 lg:px-6">
                {% for item in pageCMS['vertical-card'].vertical_card_list %}
                    {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
                {% endfor %}
            </article>
        </section>
    </section>
{% endif %}

{{newsletter()}}