---
layout: base.njk
pagename: meet-our-chefs
permalink: "build/dining/meet-our-chefs/index.html"
permalinkBypassOutputDir: true
nickname: dining/meet-our-chefs
---

{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'atoms/headings.njk' import h2 %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/card.njk' import chefsCard %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'macros.njk' import top_banner_group_venues %}

{% set horizontal_card_list = pageCMS['chefs-card'].horizontal_card_list %}

<section class="group-section">
    <section class="segment-outer relative -z-1">
        <figure>
        {% if pageCMS['top-banner'] and pageCMS['top-banner'].global_image %}
            {{global_image(pageCMS['top-banner'].global_image, classes='image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        {% endif %}
        </figure>
    </section>
    {% if pageCMS['venues'] %}
        {% set groupData = pageCMS['venues'].group_venues %}
        {% for event in groupData %}
            <section class="group-container">
                {{ groupVenues(event) }}
            </section>
        {% endfor %}
    {% endif %}
</section>
<section class="group-section">
    {{ chefsCard(items = horizontal_card_list, horizontal_card_container = ['horizontal__card-container', 'mb-8']) }}
</section>


{{newsletter()}}