{% from 'molecules/header.njk' import navMenu %}
{% from 'organisms/thumbnail_slider.njk' import thumbnail_slider_circle %}

{% if globalCMS['top-navbar'].navbar %}
    {{ navMenu(globalCMS['top-navbar'].navbar, data.weatherInfo) }}
    <section class="page-top-adjust"></section>
{% endif %}
