{% from 'organisms/global-image.njk' import global_image %}
{% from "atoms/a.njk" import Link %}

{% macro heroCarousel(bannerObj =[])%}
  <section class="segment-hero-flip">
    <section class="hero-flip__frame">
      <div class="hero-flip__frame-box">
        <div class="hero-flip__container">
          {% for banner in bannerObj %}
            <div class="hero-flip__item {{'collapse' if loop.first}}">
              {{ global_image(banner.image.global_image, classes='w-full h-full block', imgClass='h-full object-cover') }}
              <div class="hero-flip__texts">
                <header class="hero-flip__title font-ivar bold">{{banner.title}}</header>
                <div class="hero-flip__sub-title font-calibre pb-2">{{banner.sub_title}}</div>
                <div class="hero-flip__actions flex justify-center flex-wrap">
                  {% for action in banner.actions%}
                    {{ Link( href=action.action.url, copy=action.action.copy, target='_self', classes=['button', 'button--' + action.action.type, 'font-calibre', 'hero-flip__links', 'm-1'] ) }}
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </section>
  </section>
{% endmacro %}