{% from "atoms/a.njk" import a,
Link %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'atoms/headings.njk' import h5 %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'organisms/hero-corner_block.njk' import top_banner_right_bottom_container %}
{% from 'molecules/group-venues.njk' import groupVenues %}

{% macro cardcard(header, eyebrow, description, image, alt, link)%}
  <div class="container px-12 mx-auto grid grid-cols-3 gap-2 place-items-auto">
    <img class="rounded" src="{{ image }}" alt="{{ alt }}">
    <div class="mt-2">
      <div>
        <div class="text-xs text-green-300 uppercase font-bold">{{ eyebrow }}</div>
        <div class="font-bold text-green-400 leading-snug">
          <a href="{{ link }}" class="hover:underline">{{ header }}</a>
        </div>
        <div class="mt-2 text-sm text-green-300">{{ description }}</div>
      </div>
    </div>
  </div>
{% endmacro %}

{% macro tester(foo, bar) %}
  <h1 class="text-purple-700 font-bold uppercase">{{ foo }}
    {{ bar }}</h1>
{% endmacro %}

{% macro section_maker(section) %}
  <div class="container mx-auto bg-{{ section.backgroundColor }}">
    <div class="grid place-content-stretch {{ section.grid.backgroundColor }} {{ section.grid.cols | join(' ')}} {{ section.grid.gaps | join(' ') }}">
      {% for component in section.components %}
        <div class="{{ component.classes | join(' ') }}">
          {% include component.path %}
        </div>
      {% endfor %}
    </div>
  </div>
{% endmacro %}

{% macro scaled_image(imgObj = {}, lazy = true, aspectRatios = []) %}
  {# for each breakpoint #}
  <picture class=" 
    {% if aspectRatios | length > 0 %}
        frame {% for aspectRatio in aspectRatios %} {{ aspectRatio }} {% endfor %}
    {% elif imgObj.aspectRatios %}
        frame {{ imgObj.aspectRatios }}
    {% endif %}

    {% if imgObj.pictureClasses %}
        {{imgObj.pictureClasses}}
    {% else %}
        w-full
    {% endif %}
    ">
    {% for artItem in imgObj.artDirection %}
      <source 
          srcset="{{ artItem | imgObjSrcSet('webp') }}"
          {% if artItem.intrinsicwidth %}
            width="{{ artItem.intrinsicwidth }}"
          {% endif %}
          {% if artItem.intrinsicheight %}
              height="{{ artItem.intrinsicheight }}"
          {% endif %}
          media="{{ artItem.media }}" 
          sizes="{{ artItem.sizes if artItem.sizes else '75vw' }}"
          type="image/webp">
      <source 
          srcset="{{ artItem | imgObjSrcSet(artItem.type) }}"
          {% if artItem.intrinsicwidth %}
            width="{{ artItem.intrinsicwidth }}"
          {% endif %}
          {% if artItem.intrinsicheight %}
              height="{{ artItem.intrinsicheight }}"
          {% endif %}
          media="{{ artItem.media }}" 
          sizes="{{ artItem.sizes if artItem.sizes else '75vw' }}"
          type="image/{{ artItem.type | getImgSourceType }}">
    {% endfor %}
    {# we assume the first artItem is the default to use #}
    {% set default = imgObj.artDirection | first %}
    <img 
      srcset="{{ default | imgObjSrcSet(default.type) }}"
      src="{{ default.src }}.{{ default.type if default.type else 'jpg' }}" 
      class="{{ imgObj.classes if imgObj.classes else 'w-full' }}"
      sizes="{{ default.sizes if default.sizes else '75vw' }}" 
      loading="lazy"
      alt="{{ default.alt }}">
  </picture>
{% endmacro %}

{% macro events(events = {}) %}
  <section class="segment-outer">
    <section class="sundance-events segment-inner relative text-center">
      <header class="sundance-events__header text-center font-ivar bold">{{events.header}}</header>
      
      <media-carousel>
        <div class="swiper-container overflow-hidden bg-sn-5">
          
          <div class="swiper-wrapper">
            {% for sprint in events.sprint%}
              <div class="swiper-slide">
                <article class="sundance-events__carousel">
                  <header class="sundance-events__carousel_title font-ivar">{{sprint.title}}</header>
                  {% for eve in sprint.event_list%}
                    <div class="sundance-events__events ">
                      <div class="sundance-events__events__date">{{eve.sundance_event.date}}</div>
                      <div class="sundance-events__events__title font-calibre">
                        {{eve.sundance_event.title}}
                        <br/>
                        <span class="link">{{ a( copy=eve.sundance_event.action.action.copy, href=eve.sundance_event.action.action.url, target='_self') }}</span>
                        <span class="time">{{eve.sundance_event.time}}</span>
                      </div>
                      <div class="sundance-events__events__action">
                      {{ Link( href=eve.sundance_event.action.action.url, copy=eve.sundance_event.action.action.copy, target='_self', classes=['button', 'button--' + eve.sundance_event.action.action.type, 'font-calibre', 'sundance-events__links'] ) }}
                      </div>
                    </div>
                  {% endfor %}
                </article>
              </div>
            {% endfor %}
          </div>
          <nav class="sundance-events__nav">
            {{ iconCSS( classes=['carousel-button-prev','icon-css', 'arrow-left', 'mx-1', 'rotate-45'] ) }}
            {{ iconCSS( classes=['carousel-button-next', 'icon-css', 'arrow-right', 'mx-1', 'rotate-45'] ) }}
          </nav>
        </div>
      </media-carousel>

      {% for action in events.actions %}
        {{ Link( href=action.action.url, copy=action.action.copy, target='_self', classes=['button', 'button--' + action.action.type, 'font-calibre', 'sundance-events__links'] ) }}
      {% endfor %}
    </section>
  </section>
{% endmacro %}
{% macro gallerySingleItem(image) %}
    <figure class="gallery mb-3">
        {{global_image(image.global_image)}}
    </figure>
{% endmacro %}
{% macro gallery(images, classes = ['gallery-image__column']) %}
    <div class="{% for class in classes %} {{ class }} {% endfor %}">
        {% for image in images %}
            {{ gallerySingleItem(image) }}
        {% endfor %}
    </div>
{% endmacro %}

{% macro top_banner(image, heroCornerBlock) %}
    <section class="relative group-section">
        {{ global_image(image, classes='w-full image_frame sm:3:4 lg:2:1 2xl:2:1 4xl:2:1') }}
        {{ top_banner_right_bottom_container(heroCornerBlock) }}
    </section>
{% endmacro %}

{% macro top_banner_group_venues(image, venuesData = []) %}
  <section class="group-section">
    <section class="segment-outer relative -z-1">
        <figure>
            {{global_image(image, classes='w-full image_frame sm:3:4 lg:2:1 2xl:2:1 4xl:2:1')}}
        </figure>
    </section> 
    {% for event in venuesData %}
        <div class="group-container">
            {{groupVenues(event)}}
        <div>
    {% endfor %}
</section>
{% endmacro %}

{% macro top_banner_center_text_group_venues(image, title, events) %}
  <section class="segment-outer relative">
        <figure class="segment-inner">
            {{global_image(image, classes='w-full image_frame sm:3:4 lg:2:1 2xl:2:1 4xl:2:1')}}
        </figure>
        <figcaption>
            {{ h5(copy = title, classes = ['top-banner__center-text', 'font-ivar', 'font-semibold', 'text-white']) }}
        </figcaption>
    </section>
    <div class="group-container general-store__group-container">
        {% for event in events %}
            {{groupVenues(event)}}
        {% endfor %}
    </div>
{% endmacro %}