/****  start imports  ********************************/
@import "../../../../styles/global.css";
/****  end imports  ********************************/
.segment-inner{
    overflow: hidden;
}
.group-venues__description:nth-child(5) {
    color: rgba(0, 0, 0, 0.54);
}
.venues-caption{
    max-width: 792px;
    margin: 0 auto;
    padding-bottom: 48px;
}
.venues-caption-copy{
    font-size: 19px;
    text-align: center;
}
.top-article{
    max-width: 792px;
    margin: auto;
    padding-bottom: 48px;
}
.top-article__header{
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 25px;
    text-align: center;
}
.top-article__copy{
    font-size: 19px;
    text-align: center;
}
.horizontal-card__wrapper{
    padding-bottom: 40px;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .venues-caption{
        padding-bottom: 40px;
    }
    .venues-caption-copy{
        text-align: left;
    }
    .top-article{
        padding-bottom: 40px;
    }
    .top-article__header{
        font-size: 24px;
        padding-bottom: 16px;
    }
    .top-article__copy{
        text-align: left;
    }
    .horizontal-card__wrapper{
        padding-bottom: 8px;
    }
}