---
layout: base.njk
pagename: spa
permalink: "build/spa/index.html"
permalinkBypassOutputDir: true
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'macros.njk' import top_banner %}
{% from 'organisms/hero-corner_block.njk' import top_banner_right_bottom_container %}


{# Hero Image Section #}
{% if pageCMS['top-banner'] and pageCMS['top-banner'].global_image and pageCMS['hero-corner-block'].hero_corner_block %}
   {% set hero_corner_block = pageCMS['hero-corner-block'].hero_corner_block %}
   <section class="segment-outer">
        <section class="banner__segment-inner">
            {{ top_banner(pageCMS['top-banner'].global_image, hero_corner_block) }}
        </section>
   </section> 
{% endif %}

{# Hero Caption #}
{% if pageCMS['hero-caption'] and pageCMS['hero-caption'].simple_article %}
    {% set hero_caption = pageCMS['hero-caption'].simple_article %}
    {% if hero_caption.description %}
        <section class="segment-outer">
            <section class="hero-caption group-section global-px">
                <div class="font-ivar text-lg-2">{{ hero_caption.description | safe }}</div>
            </section>
        </section>
    {% endif %}
{% endif %}

{# Card Title #}
{% if pageCMS['card-title'] and pageCMS['card-title'].simple_article %}
    {% set card_title= pageCMS['card-title'].simple_article %}
    {{ h2(copy = card_title.title, classes = ['bg-sn-4', 'spa-activities__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
{% endif %}

{# Horrizontal Card Section #}
{% if pageCMS['horizontal-cards'] and pageCMS['horizontal-cards'].horizontal_card_list %}
    {% set horizontal_card_list= pageCMS['horizontal-cards'].horizontal_card_list %}
    <section class="bg-sn-4 segment-outer">
        <section class="segment-inner global-px">
            {{ horrizontalCard(items=horizontal_card_list,  horizontal_card_container = ['horizontal__card-container', 'mb-8'], imageClasses = 'image_frame sm:11:8 lg:4:3 2xl:4:3 4xl:4:3') }}
        </section>
    </section>
{% endif %}

{# Vertical Card Section #}
{% if pageCMS['vertical-cards'] and pageCMS['vertical-cards'].vertical_card_list %}
    {% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}
    <section class="bg-sn-4 segment-outer">
        <section class="segment-inner global-px spa-activities__card">
            {% for item in vertical_card_list %}
                {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
            {% endfor %}
        </section>
    </section>
{% endif %}


{{newsletter()}}
