---
layout: base.njk
pagename: mountain-safety
permalink: "build/mountain-safety/index.html"
permalinkBypassOutputDir: true
nickname: mountain-safety
---
{% from "atoms/headings.njk" import h3 %}
{% from 'macros.njk' import top_banner %}

{# Hero Image Section #}
{% if pageCMS['top-banner'] and pageCMS['top-banner'].global_image and pageCMS['hero-corner-block'].hero_corner_block %}
    {% set hero_corner_block = pageCMS['hero-corner-block'].hero_corner_block %}
    <section class="segment-outer summer-activities__hero-pb">
        {{ top_banner(pageCMS['top-banner'].global_image, hero_corner_block) }}
    </section>
{% endif %}

{# Page content #}
{% if pageCMS['page-contents'].simple_article_list.length %}
    <section class="group-section text-lg pt-6">
        {% for article in pageCMS['page-contents'].simple_article_list%}
            <section class="segment-inner__text-container px-6 pb-10 font-ivar">
                {{ h3( copy=article.simple_article.title, classes=['text-4.5xl', 'sm:text-6', 'font-ivar', 'font-semibold', 'pb-6'] ) }}
                {{ article.simple_article.description | safe }}
            </section>
        {% endfor %}
    </section>
{% endif %}