---
layout: base.njk
pagename: alpine-adventure-package
permalink: "build/specials-packages/alpine-adventure-package/index.html"
permalinkBypassOutputDir: true
nickname: "specials-packages/alpine-adventure-package"
---
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
---

{% set groupVenue = pageCMS['group-venues'].group_venues %}

<section class="segment-outer alpine-adventure-package__top-banner">
    <figure class="segment-inner">
        {% for event in groupVenue %}
            <section class="group-section">
                <figure>
                    {{global_image(pageCMS['group-venues-top-banner'].global_image, classes='-z-1 image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
                </figure>
                <div class="group-container flyfishing__group-container border-0">
                    {{groupVenues(event)}}
                </div>
            </section>
        {% endfor %}
    </figure>
</section>
{{newsletter()}}
