/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

.group-venues__container{
    max-width: 792px;
}
.top-banner-title {
    top: 45%;
    width: 100%;
}
.bridge__nav-icon {
    background-color: rgba(0, 0, 0, 0.1);
}
.accolades__tab.active {
    border-bottom: 2px solid var(--sundance__neutral1);
}
.accolades__container.active {
    display: block;
}
.segment-inner__text-container ul {
    padding-inline-start: 40px;
    list-style-type: disc;
}

.accolades__item {
    padding: 32px;
    display: grid;
    grid-auto-flow: row;
    border: 1px solid var(--sundance__neutral1);
}
.accolades__item-image{
    height: 104px;
    max-width: 96px; 
    margin: 0 auto;
    display: grid;
    align-items: center;
}
.icon-image.icon__image-about {
    width: 160px;
    height: 160px;
}
.art__instructor{
    font-style: italic;
}
.recent__press ul{
    word-break: break-word;
    padding-right: 20px;    
}
.recent__press ul li a{
    text-decoration: none;
}
/* .accolades__item-title {
    min-height: 110px;
} */