---
layout: base.njk
pagename: sundance-mountain-outfitters
permalink: "build/shop/sundance-mountain-outfitters/index.html"
permalinkBypassOutputDir: true
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from "atoms/headings.njk" import h4, ihh1 %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'molecules/bridge-2.njk' import secondBridge %}

{% set generalStore_group_venues = pageCMS['group-venues'].group_venues  %}
{% set globalImage = pageCMS['top-banner'].banner.global_image %}
{% set globalImageText = pageCMS['top-banner'].banner.title %}

{% set sectionArticleImage = pageCMS['article'].banner.global_image %}
{% set sectionArticleText = pageCMS['article'].banner.title %}

{% set flat_cards = pageCMS['flat-card'].flat_card %}
{% set action_cards = pageCMS['action-card'].action_card %}
{% set card_title = pageCMS['card-title'].simple_article %}
{% set bottom_banners = pageCMS['bottom-banners'].global_image_arr.images %}

{# Hero Image Section #}
{% for event in generalStore_group_venues %}
    <section class="segment-outer relative">
        <figure class="segment-inner">
            {{global_image(globalImage.global_image, classes='w-full image_frame sm:3:4 lg:2:1 2xl:2:1 4xl:2:1')}}
        </figure>
        <figcaption>
            {{ h5(copy = globalImageText, classes = ['general-store__hero--caption', 'font-ivar', 'font-semibold', 'text-white']) }}
        </figcaption>
    </section>
    <div class="group-container general-store__group-container">
        {{groupVenues(event)}}
    <div>
{% endfor %}

{# <section class="segment-outer">
    <section class="segment-inner">
        <article class="general-store__section--article">
            <figcaption class="general-store__section--text">
              <p>{{ sectionArticleText | safe }}</p>  
            </figcaption>
            <figure>
                {{global_image(sectionArticleImage.global_image, classes='general-store__section--figure image_frame sm:4:3 lg:4:3 2xl:4:3 4xl:4:3')}}
            </figure>
        </article>
    </section>
</section> #}
{# Flat Card Section #}
{# <section class="segment-outer">
    <section class="segment-inner general-store__flat-card">
        {% for item in flat_cards %}
            <article class="general-store__flat-card__container">
                {{ h1(copy = item.title, classes = ['general-store__flat-card__title']) }}
                {{ h1(copy = item.subtitle, classes = ['general-store__flat-card__subtitle']) }}
                <p class = "general-store__flat-card__description">{{ item.description | safe }}</p>
            </article>
        {% endfor %}
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner general-store__action-card">
        {% for item in action_cards %}
              {{ secondBridge(item) }}
        {% endfor %}
    </section>
</section> 
<section class="segment-outer">
    <section class="segment-inner">
       {{ h2(copy = card_title.title, classes = ['general-store__bottom-title']) }} 
    </section>
</section>

<section class="segment-outer">
    <section class="segment-inner general-store__bottom-banners">
       {% for item in bottom_banners %}
           <figure>
                {{global_image(item.global_image, classes='w-full image_frame sm:16:9 lg:16:9 2xl:16:9 4xl:16:9')}}
           </figure>
       {% endfor %}
    </section>
</section> #}
{{newsletter()}}

