/****  start imports  ********************************/
@import "../../../../styles/global.css";
/****  end imports  ********************************/
.gallery-image__column {
    display: flex;
    flex-wrap: wrap;
    max-width: 1080px;
    box-sizing: border-box;
    justify-content: center;
    grid-gap: 1rem;
    margin: 0 auto;
}
.gallery--wrapper {
    padding-bottom: 40px;
}
.gallery {
    max-width: calc(50% - 1em);
}
@media only screen and (min-width: 1024px) {
    .gallery {
        max-width: 210px;
    }
    .gallery--wrapper {
        padding-bottom: 72px;
    }
}