{% from "atoms/headings.njk" import h4,
ihh1 %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'organisms/global-image.njk' import global_image %}
{#
    #   @desc   a basic bridge/carousel molecules
    #   @return HTML anchor tag
    #   @author Nazmul Alam, Sarjis
#}
{% macro bridge(item = {})%}
    <section class="bridge">
        <article class="bridge__top-frame">
            <header>{{ihh1(item.title,classes = ['bridge__header', 'font-ivar'])}}</header>
            {{h4(copy=item.sub_title, classes=['bridge__text', 'font-calibre'])}}
        </article>

        <article class="bridge__container">
            <media-carousel>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        {% if item.images | length > 0 %}
                            {% for obj in item.images %}
                                <div class="swiper-slide !w-auto">
                                    <div class="bridge__box">
                                        {{global_image(obj.global_image, classes='w-full h-full image_frame sm:3:4 lg:3:4 2xl:16:9 4xl:9:16')}}
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <nav class="bridge__nav">
                        {{ iconCSS( classes=['carousel-button-prev', 'bridge__nav-icon', 'arrow-left', 'rotate-45'] ) }}
                        {{ iconCSS( classes=['carousel-button-next', 'bridge__nav-icon', 'arrow-right', 'rotate-45'] ) }}
                    </nav>

                </div>
            </media-carousel>

        </article>

    </section>
{% endmacro %}