{% from "atoms/headings.njk" import h4,
ihh1 %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'organisms/global-image.njk' import global_image %}
{#
    #   @desc   a basic bridge/carousel molecules
    #   @return HTML anchor tag
    #   @author Nazmul Alam, Sarjis
#}
{% macro bridge( obj = {}, classes = ['bridge__header', 'font-ivar']  )%}
    <section class="bridge {% for class in classes %} {{ class }}__bridge {% endfor %}">
        <article class="bridge__top-frame {{obj.background}} {% for class in classes %} {{ class }}__bridge__top-frame {% endfor %}">
            <header>{{ihh1(obj.title ,classes = ['bridge__header', 'font-ivar'])}}</header>
            {{h4(copy=obj.sub_title, classes=['bridge__text', 'font-calibre'])}}
        </article>

        <article class="bridge__container">
            <media-carousel data-lightbox="true">
                <div class="swiper-container relative">
                    <div class="swiper-wrapper">
                        {% for image in obj.images %}
                            <div class="swiper-slide !w-auto gallery">
                                <div href="{{ image.global_image.src | theImgSrc }}" class="bridge__box">
                                    {{global_image(image.global_image, classes='w-full image_frame sm:1:1 lg:1:1 2xl:1:1 4xl:1:1')}}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <nav class="bridge__nav">
                        {{ iconCSS( classes=['carousel-button-prev', 'bridge__nav-icon', 'arrow-left', 'rotate-45'] ) }}
                        {{ iconCSS( classes=['carousel-button-next', 'bridge__nav-icon', 'arrow-right', 'rotate-45'] ) }}
                    </nav>

                </div>
            </media-carousel>

        </article>

    </section>
{% endmacro %}