{% from 'macros.njk' import scaled_image %}
{% from 'organisms/global-image.njk' import global_image %}
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from "atoms/a.njk" import button_primary, button_secondary, view_details, view_details2 %}
{#
    #   @desc   a Horrizontal Card
    #   @param  figureClass     string, image class (optional)
    #   @param  figcaptionClass string, caption class (optional)
    #   @param  id              string, a unique ID (optional)
    #   @param  items           json data file
    #   @author Meherab, Sarjis
#}
{% macro horrizontalCard(id = '', items, horizontal_card_container = ['horizontal__card-container'], figureClass = '', figcaptionClass = '', imageClasses = 'image_frame sm:4:3 lg:4:3 2xl:4:3 4xl:4:3') %}
    {% for item in items %}
        <section class="{% for class in horizontal_card_container %} {{ class }} {% endfor %}">        
            <figure class="horizontal__card-image {{ figureClass }}
                {% if item.left_image == true %}
                    order-1
                {% else %}
                    order-2
                {% endif %}" 
                {% if id %} id="{{ id }}" {% endif %} 
            >
                {% if item.image %}
                    {{global_image(item.image.global_image, classes=imageClasses)}}
                {% endif %}
            </figure>
            <figcaption class="horizontal__card-text {{ figcaptionClass }}
                {% if item.left_image == true %}
                    order-2
                {% else %}
                    order-1
                {% endif %}"
                {% if id %} id="{{ id }}" {% endif %}
            >
                {% if item.actions.length === 1 %}
                    <a href="{{(item.actions | first).href}}" class="no-underline cursor-pointer "> 
                        {{ h2(copy = item.title, classes=['heading', 'heading--2', 'font-calibre', 'font-medium', 'text--color__sn-6']) }}
                    </a> 
                {% else %}
                    {{ h2(copy = item.title, classes=['heading', 'heading--2', 'font-calibre', 'font-medium', 'text--color__sn-6']) }}
                {% endif %}           
                <div class="cms-description font-ivar text-lg-2 text--color__sn-6 mb-8">
                    {{ item.description | safe }}
                </div>
                {% if item.actions | length > 0 %}
                    {% for cta in item.actions %}
                        {% if not cta.copy == "" and cta.type == "view-details" %}
                            {{ view_details(classes = ['view-details','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6'], copy = cta.copy, href = cta.href, target = cta.target ) }}
                        {% endif %}
                        {% if not cta.copy == "" and cta.type == "primary" %}
                            {{ button_primary(classes = ['button', 'button--primary','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6'], copy = cta.copy, href = cta.href, target = cta.target ) }}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </figcaption>
        </section>
    {% endfor %}
{% endmacro %}

{% macro card(items, figureClass = [], figcaptionClass = []) %}
    {% for item in items %}
        {{verticalCard(item, figureClass = [], figcaptionClass = [])}}
    {% endfor %}
{% endmacro %}
{% macro verticalCard(item, card_container = ['card-container', 'cursor-pointer'], figureClass = [], figcaptionClass = []) %}
    <section {% if item.link %} onclick="location.href='{{item.link}}';" {% endif %} class="relative {% if item.criterias %} pb-16 {% elif item.actions %} pb-16 {% endif %} {% for class in card_container %} {{ class }} {% endfor %}">
            
        <figure class="card-image {% for class in figureClass %} {{ class }} {% endfor %}" 
            {% if id %} id="{{ id }}" {% endif %}
        >
            {% if item.image %}
                {{global_image(item.image.global_image, classes='image_frame sm:4:3 lg:4:3 2xl:4:3 4xl:4:3')}}
            {% endif %}
        </figure>

        <figcaption class="card-text {% for class in figcaptionClass %} {{ class }} {% endfor %}"
            {% if id %} id="{{ id }}" {% endif %}
        >
    
            {% if item.title %}
                {{ h5(copy = item.title, classes = ['heading','heading--5','font-calibre', 'font-medium', 'text--color__sn-6']) }}
            {% endif %}

            {% if item.sub_title %}
                <a {% if item.link %} href="{{ item.link }}" {% endif %} class="no-underline">
                    {{ h3(copy = '<span class="card__sub_title" >' + item.sub_title + '</span>', classes = ['heading','heading--3','font-calibre', 'font-medium', 'text--color__sp-1', '']) }}
                </a>
            {% endif %}

            {{ h5(copy = item.description, classes = ['heading','heading--5', 'pb-4', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
            
        </figcaption>
        <div class="card-button__position">
            {% if item.criterias %}
                <div>
                    {% for criteria in item.criterias %}
                        {{ h5(copy = criteria.text, classes = ['heading','heading--5','font-calibre', 'px-8', 'font-medium', 'text--color__sn-6']) }}
                    {% endfor %}
                </div>
            {% endif %}                                           
            <div class="flex justify-center gap-x-2">
                {% for object in item.actions %}
                    {% if object.action %}
                        {% set action = object.action %}
                    {% endif %}

                    {% if action.type == 'view-details' %}
                        {{ view_details2(classes = ['view-details','font-calibre', 'font-medium', 'text-lg', 'text--color__sn-6'], copy = action.copy, href = action.url, internal=action.internal ) }}
                    {% elif action.type == 'primary' %}
                        {{ button_primary(classes = ['button', 'button--primary', 'card-text__button--size', 'font-calibre', 'font-medium', 'text-base'], href = action.url, copy = action.copy, id = item.id, target = action.target ) }}
                    {% elif action.type == 'secondary' %}    
                        {{ button_secondary(classes = ['button', 'button--secondary', 'card-text__button--size', 'font-calibre', 'font-medium', 'text-base'], href = action.url, copy = action.copy, id = item.id, target = action.target ) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endmacro %}

{#
    #   @desc   a single vertical card
    #   @param  figureClass     string, image class (optional)
    #   @param  figcaptionClass string, caption class (optional)
    #   @param  id              string, a unique ID (optional)
    #   @param  items           json data file
    #   @author Sarjis
#}
{% macro singleCard(classes = ['card-container'], id = '', item, figureClass = '', figcaptionClass = '', data ={}) %}
    <section  {% if item.link %} onclick="location.href='{{item.link}}';" {% endif %} {% if data %} data-card="{{data | stringify}}" {% endif %} class="relative {% if item.criterias %} pb-16 {% elif item.actions %} pb-16 {% endif %} 
    {% for class in classes %} {{ class }} {% endfor %}">
        <figure class="card-image {{ figureClass }}" 
            {% if id %} id="{{ id }}" {% endif %} 
        >
            {{global_image(item.image.global_image, classes='image_frame sm:4:3 lg:4:3 2xl:4:3 4xl:4:3')}}
        </figure>
        <figcaption class="card-text {{ figcaptionClass }}"
            {% if id %} id="{{ id }}" {% endif %}
        >
            {% if item.title %}
                {{ h5(copy = item.title, classes = ['heading','heading--5','font-calibre', 'font-medium', 'text--color__sn-6']) }}
            {% endif %}

            {% if item.sub_title %}   
                <a {% if item.link %} href="{{ item.link }}" {% endif %} class="no-underline">
                    {{ h3(copy = item.sub_title, classes = ['heading','heading--3','font-calibre', 'font-medium', 'text--color__sp-1']) }}
                </a>
            {% endif %}

            <div class="font-ivar text-sm l-s-l-h text--color__sn-6 mb-4">
                {{ item.description | safe }}
            </div>
            
        </figcaption>
        
        <div class="card-button__position">
            {% if item.criterias %}
                {% for criteria in item.criterias %}
                    {{ h5(copy = criteria.text, classes = ['heading','heading--5','font-calibre', 'font-medium', 'px-8', 'text--color__sn-6']) }}
                {% endfor %}
            {% endif %}                                                     
            <div class="flex justify-center gap-x-2 {% if  item.criterias | length < 1 %} mt-10 {% endif %}">
                {% for object in item.actions %}
                    {% if object.action %}
                        {% set action = object.action %}
                    {% endif %}
                    {% if action.type == 'view-details' %}
                        {{ view_details(classes = ['view-details','font-calibre', 'font-medium', 'text-lg', 'text--color__sn-6'], copy = action.copy, href = action.url, target=action.target ) }}
                    {% elif action.type == 'primary' %}
                        {{ button_primary(classes = ['button', 'button--primary', 'card-text__button--size', 'font-calibre', 'font-medium', 'text-base'], href = action.url, copy = action.copy, id = item.id, target = action.target ) }}
                    {% elif action.type == 'secondary' %}    
                        {{ button_secondary(classes = ['button', 'button--secondary', 'card-text__button--size', 'font-calibre', 'font-medium', 'text-base'], href = action.url, copy = action.copy, id = item.id, target = action.target ) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endmacro %}
{% macro singleCardHorizontal(item, horizontal_card_container = ['horizontal__card-container'], figureClass = '', figcaptionClass = '') %}
    <section class="{% for class in horizontal_card_container %} {{ class }} {% endfor %}">        
        <figure class="horizontal__card-image {{ figureClass }}
            {% if item.left_image == 'left' %}
                order-1
            {% elif item.left_image == 'right' %}
                order-2
            {% endif %}" 
        >
            {% if item.image %}
                {{global_image(item.image.global_image, classes='image_frame sm:4:3 lg:4:3 2xl:4:3 4xl:4:3')}}
            {% endif %}
        </figure>
        <figcaption class="horizontal__card-text {{ figcaptionClass }}
            {% if item.left_image == 'left' %}
                order-2
            {% elif item.left_image == 'right' %}
                order-1
            {% endif %}"
        >
            {{ h2(copy = item.sub_title, classes=['heading', 'heading--2', 'font-calibre', 'font-medium', 'text--color__sn-6']) }}
            <div class="font-ivar text-lg-2 text--color__sn-6 mb-8">
                {{ item.description | safe }}
            </div>
            {% for cta in item.actions %}
                {{ view_details(classes = ['view-details','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6'], copy = cta.copy, href = cta.href, target = cta.target ) }}
            {% endfor %}
        </figcaption>
    </section>
{% endmacro %}

{#
    #   @desc   a horrizontal card
    #   @param  figureClass     string, image class (optional)
    #   @param  figcaptionClass string, caption class (optional)
    #   @param  id              string, a unique ID (optional)
    #   @param  items           json data file
    #   @author Sarjis
#}
{% macro horrizontalCard2(id = '', items, horizontal_card_container = ['horizontal__card-container'], figureClass = '', figcaptionClass = '') %}
    {% for item in items %}
        <section class="{% for class in horizontal_card_container %} {{ class }} {% endfor %}">        
            <figure class="horizontal__card-image {{ figureClass }}
                {% if item.left_image == true %}
                    order-1
                {% else %}
                    order-2
                {% endif %}" 
                {% if id %} id="{{ id }}" {% endif %} 
            >
                {% if item.image %}
                    {{global_image(item.image.global_image, classes='image_frame')}}
                {% endif %}
            </figure>
            <figcaption class="horizontal__card-text justify-space-around {{ figcaptionClass }}
                {% if item.left_image == true %}
                    order-2
                {% else %}
                    order-1
                {% endif %}"
                {% if id %} id="{{ id }}" {% endif %}
            >
                <div>
                    {{ h2(copy = item.title, classes=['heading', 'heading--2', 'font-calibre', 'font-medium', 'text--color__sn-6']) }}
                    <div class="font-ivar text-lg-2 text--color__sn-6 mb-8">
                        {{ item.description | safe }}
                    </div>
                </div>
                {% for cta in item.actions %}
                    <div>
                        {{ button_primary(classes = ['button', 'button--primary', 'font-calibre', 'font-medium', 'text-base'], href = cta.href, copy = cta.copy, target = cta.target ) }}
                    </div>
                {% endfor %}
            </figcaption>
        </section>
    {% endfor %}
{% endmacro %}

{#
    #   @desc   a chefs card
    #   @param  figureClass     string, image class (optional)
    #   @param  figcaptionClass string, caption class (optional)
    #   @param  id              string, a unique ID (optional)
    #   @param  items           json data file
    #   @author Ashfaq
#}
{% macro chefsCard(id = '', items, horizontal_card_container = ['horizontal__card-container'], figureClass = '', figcaptionClass = '', imageClasses = 'image_frame xs:2:3 sm:5:6') %}
    {% for item in items %}
        <section class="{% for class in horizontal_card_container %} {{ class }} {% endfor %}">        
            <figure class="horizontal__card-image {{ figureClass }}
                {% if item.left_image == true %}
                    order-1
                {% else %}
                    order-2
                {% endif %}" 
                {% if id %} id="{{ id }}" {% endif %} 
            >
                {% if item.image %}
                    {{global_image(item.image.global_image, classes=imageClasses)}}
                {% endif %}
            </figure>
            <figcaption class="horizontal__card-text {{ figcaptionClass }}
                {% if item.left_image == true %}
                    order-2
                {% else %}
                    order-1
                {% endif %}"
                {% if id %} id="{{ id }}" {% endif %}
            >
                {{ h1(copy = item.title, classes=['group-venues__title','font-ivar']) }}
                <div class="font-ivar text-lg-2 text--color__sn-6 mb-8">
                    {{ item.description | safe }}
                </div>
            </figcaption>
        </section>
    {% endfor %}
{% endmacro %}