{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from "atoms/a.njk" import a, dropdown %}
{% set criteria_items = [
    {
        "title": "Hours",
        "url": "View Hours"
    },
    {
        "title": "Map",
        "url": "View Map"
    },
    {
        "title": "Waiver",
        "url": "Sign"
    },
    {
        "title": "Safety",
        "url": "Review"
    }
] %}
{% set detailsData = {
        "title": 'Homepage | Summer Activities | <span class="bold">Mountain Bike Lift Rides</span>',
        "heading": '<span class="bold">Over 25 Miles of Beautiful Single-track</span>',
        "p1": 'Certain bike trails may close at any time due to mountain construction projects. Please abide by any closures.',
        "p2": 'Sundance offers 25+ miles of lift-serviced, single-track mountain biking with exciting terrain and breathtaking vistas.',
        "criteria_items": [
        {
            "title": "Hours",
            "url": "View Hours"
        },
        {
            "title": "Map",
            "url": "View Map"
        },
        {
            "title": "Waiver",
            "url": "Sign"
        },
        {
            "title": "Safety",
            "url": "Review"
        }]
    }
%}
{% set detailsData2 = {
        "title": 'Homepage | Dining | <span class="bold">Tree Room</span>',
        "heading": '<span class="bold">Tree Room</span>',
        "p1": 'Some hiking trails from the lift are temporarily closed for the safety of our guests during lift line construction.',
        "p2": 'Enjoy the romantic atmosphere of candlelight and soft illumination accenting beautiful Native American art from Robert Redford’s private collection as you savor fresh, seasonal mountain cuisine.',
        "criteria_items": [
        {
            "title": "Hours",
            "url": "View Hours"
        },
        {
            "title": "Contact",
            "url": "Call Now"
        },
        {
            "title": "Menu",
            "url": "View"
        },
        {
            "title": "Music",
            "url": "View Lineup"
        }]
    }
%}
{% macro details_widget_desktop() %}
    <article class="details-widget">
        <header>
            {{ h6(copy = detailsData2.title, classes = ['details-widget--breadcrumbs-title','font-calibre', 'text-sm']) }}
            {{ h2(copy = detailsData2.heading, classes = ['details-widget--heading', 'font-ivar']) }}
        </header>
        <p class="details-widget--text__small mx-auto font-calibre">
            {{ detailsData2.p1 }}
        </p>
        <p class="details-widget--text__large mx-auto font-ivar">
            {{ detailsData2.p2 }}
        </p>
        <div class="details-widget--actions justify-content-center gap-x-1">
            <div class="details-widget--actions__item" style="position: relative; z-index: 2;">
                {{ dropdown( copy='Book A Class', labelId='details-widget-dropdown-1', items = data.dropdownItems1 ) }}
            </div>
            {{ dropdown( classes=['dropdown-container--secondary'], labelClasses=['button--secondary', 'button', 'text-base', 'font-calibre'], copy='Book A Class', labelId='details-widget-dropdown-2', items = data.dropdownItems1 ) }}
        </div>
        <ul class="details-widget--criteria-list mx-auto">
            {% set class = 'flex details-widget--criteria-list__item border-b-1 border--color__sp-4' %}
            {% for item in detailsData2.criteria_items %}
                <li class="{{ class }}">
                    <div class="font-ivar">{{ item.title }}</div>
                    <div class="font-calibre">{{ a(copy = item.url) }}</div>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endmacro %}

{% macro details_widget_mobile() %}
    <article class="details-widget">
        <header>
            {{ h6(copy = detailsData.title, classes = ['details-widget--breadcrumbs-title','font-calibre', 'text-sm']) }}
            {{ h2(copy = detailsData.heading, classes = ['details-widget--heading','heading--2', 'font-ivar']) }}
        </header>
        <p class="details-widget--text__small mx-auto bg-ss-4 font-calibre">
            {{ detailsData.p1 }}
        </p>
        <p class="details-widget--text__large mx-auto font-ivar">
            {{ detailsData.p2 }}
        </p>
        <div class="details-widget--actions justify-content-center gap-x-1">
            <div class="details-widget--actions__item" style="position: relative; z-index: 2;">
                {{ dropdown( copy='Book A Class', labelId='details-widget-dropdown-1', items = data.dropdownItems1 ) }}
            </div>
            {{ dropdown( classes=['dropdown-container--secondary'], labelClasses=['button--secondary', 'button', 'text-base', 'font-calibre'], copy='Book A Class', labelId='details-widget-dropdown-2', items = data.dropdownItems1 ) }}
        </div>
        <ul class="details-widget--criteria-list mx-auto">
            {% set class = 'flex details-widget--criteria-list__item border-b-1 border--color__sp-4' %}
            {% for item in detailsData.criteria_items %}
                <li class="{{ class }}">
                    <div class="font-ivar">{{ item.title }}</div>
                    <div class="font-calibre">{{ a(copy = item.url) }}</div>
                </li>
            {% endfor %}
        </ul>
    </article>
{% endmacro %}
