{% from "atoms/headings.njk" import h2, h3 %}
{% from 'atoms/form-fields.njk' import checkboxes%}
{% from 'atoms/icons.njk' import iconCSS %}
{% from "atoms/a.njk" import IconButton %}
{# 
    #   @desc   filter element
    #   @param  filter
    #   @author Nazmul Alam
 #}
{% macro filter(obj) %}
        <filter-component 
            class="filter-container" 
            data-filter="{{obj | stringify}}"
        ></filter-component>
{% endmacro %}