{% from "atoms/a.njk" import a %}
{% from "atoms/headings.njk" import h2 %}
{% from 'atoms/icons.njk' import iconImage %}
{% from 'organisms/global-image.njk' import global_image %}
{# 
    #   @desc   footer element
    #   @param  footer       object (footer data from data.json)
    #   @author Nazmul Alam
 #}
{% macro footer(footer) %}
    <footer>
        <!--
        Please note: do not remove this .video-block element
        It is used to load the video feed
         -->
        <div style="display:block; position:relative;" class="video-block video">
            <div class="video-container" id="violet-1546311408" pages></div>
        </div>
        <article class="footer__container">
            {% for sec in footer.sections %}
                <section class="footer__col font-calibre">
                    {{ h2( classes=['heading', 'font-ivar', 'heading__foooter--2'], copy=sec.title ) }}
                    {% for actionLink in sec.links %}
                        {% set link = actionLink.action %}
                        {% set trg = '_blank' if not link.internal else 
                            '_self' %}
                        {% if not link.icon %}
                            <nav>{{ a( id=link.copy, copy=link.copy, href=link.url, classes=['footer__link'], target=trg) }}</nav>
                        {% else %}
                            {{ a( id=link.label, copy=(link.icon | safe), href=link.url, classes=['footer__link'], target=trg) }}
                        {% endif %}
                    {% endfor %}
                </section>
            {% endfor %}
        </article>
        <article class="footer__copy font-calibre">
            <section class="footer__copy__image">
                {% for imgLink in footer.bottom.image_link %}
                    <a href="{{imgLink.url}}" target="_blank">
                        {{ global_image(imgLink.image.global_image, classes="footer_image", imgClass='footer_image') }}
                    </a>
                    {# {{ imgLink | json }} #}
                    {# {{ iconImage( src=footer.bottom.image, alt='Hotels icon' ) }} #}
                {% endfor %}
            </section>
            <section>{{footer.bottom.label | safe}}</section>
            
        </article>
        <img class="footer__s_dot" src={{footer.bottom.static_image | theImgSrc}} alt="S dot logo">
    </footer>

{% endmacro %}