---
layout: base.njk
pagename: mountain-bike-lift-rides
permalink: "build/activities/summer-activities/mountain-bike-lift-rides/index.html"
permalinkBypassOutputDir: true
nickname: Mountain Bike Lift Rides
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from "atoms/headings.njk" import h4, ihh1 %}
{% from 'atoms/icons.njk' import iconCSS %}
{% from 'molecules/bridge-2.njk' import secondBridge %}

{% set activities_group_venues = pageCMS['group-venues'].group_venues  %}
{% set bridge_slider = pageCMS['bridge-slider'].bridge_slider  %}
{% set caption = pageCMS['caption'].simple_article  %}
{% set card_title= pageCMS['card-title'].simple_article %}
{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}

{# Navigation Menu  #}
{{ navMenu(data.navMenuLink) }}
<section class="activities__margin-top"></section>

{# Hero Image Section #}
{% for event in activities_group_venues %}
    <section class="group-section">
        <section class="segment-outer relative">
            <figure class="segment-inner">
                {{global_image(pageCMS['top-banner'].global_image, classes='-z-1 h-screen w-full image_frame sm:3:4 lg:3:4 2xl:16:9 4xl:9:16')}}
            </figure>
        </section>
        <div class="group-container activities__group-container">
            {{groupVenues(event)}}
        <div>
    </section>
{% endfor %}

{# Bridge carousal #}
<section class="bridge activities__bridge">
    <article class="bridge__top-frame activities__bridge__top-frame">
        <header>{{ihh1(copy=bridge_slider.title,classes = ['bridge__header', 'font-ivar'])}}</header>
        {{h4(copy=bridge_slider.sub_title, classes=['bridge__text', 'font-calibre'])}}
    </article>
    <article class="bridge__container">
        <media-carousel>
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for image in bridge_slider.images %}
                        <div class="swiper-slide !w-auto">
                            <div class="bridge__box">
                                {{global_image(image.global_image, classes='w-full image_frame sm:1:1 lg:1:1 2xl:1:1 4xl:1:1')}}
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <nav class="bridge__nav">
                    {{ iconCSS( classes=['carousel-button-prev', 'bridge__nav-icon', 'arrow-left', 'rotate-45'] ) }}
                    {{ iconCSS( classes=['carousel-button-next', 'bridge__nav-icon', 'arrow-right', 'rotate-45'] ) }}
                </nav>
            </div>
        </media-carousel>
    </article>
</section>

<article class="activities__text-container font-ivar">
    <p class = "activities__text-container__copy">{{ caption.description | safe }}</p> 
</article>

{# Card Title #}
{{ h2(copy = card_title.title, classes = ['activities__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}

{# Vertical Card Section #}
<section class="activities__section-outer">
    <section class="activities__section-inner activities__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
        {% endfor %}
    </section>
</section>