/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/

.top-banner-title{
    top: 45%;
    width: 100%;
}
.bridge__nav-icon{
    background-color: rgba(0, 0, 0, 0.1);
}
.accolades__tab.active{
    border-bottom: 2px solid var(--sundance__neutral1);
}
.accolades__container.active{
    display: block;
}
.segment-inner__text-container ul{
    padding-inline-start: 40px;
    list-style-type: disc;
}