---
layout: base.njk
pagename: dining-fast-casual-details
permalink: "build/dining-fast-casual-details/index.html"
permalinkBypassOutputDir: true
nickname: dining-fast-casual-details
---
{% from 'molecules/bridge.njk' import bridge %}
<section class="segment-outer bg-sn-4 px-4 pb-4">
    <section class="segment-inner">
        {{bridge()}}
    </section>
</section>