/****  start imports  ********************************/
@import "../../../styles/global.css";
/****  end imports  ********************************/
.accordion-wrapper{
    max-width: 608px;
    margin-left: auto;
    margin-right: auto;
}
.bridge{
    padding-bottom: 50px;
}
.bridge__top-frame {
    background-color: var(--sundance__primary3);
}
.bridge__nav-icon{
    background-color: transparent;
}
.accordion__header{
    padding-bottom: 48px;
}
.accordion{
    margin-bottom: .5rem;
}
.accordion--title{
    padding-bottom: 0px;
}

.toggle-details figcaption{
    padding-top: 15px;
}
.accordion__bottom-padding{
    padding-bottom: 48px;
}
@media screen and (min-width: 320px) and (max-width: 767px){
    .accordion-wrapper{
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }
    .faqs__accordion .toggle:checked ~ .toggle-details{
        margin-left: 0px;
        margin-top: 0px;
        position: relative;
        background: transparent;
    }
    .bridge{
        padding-bottom: 8px;
    }
    .accordion__header{
        padding-bottom: 40px;
    }
    .accordion__bottom-padding{
        padding-bottom: 40px;
    }
}