---
layout: base.njk
pagename: senior-ski-group
permalink: "build/activities/winter-activities/senior-ski-group/index.html"
permalinkBypassOutputDir: true
nickname: senior-ski-group
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/bridge.njk' import bridge %}
{% from 'atoms/accordion.njk' import accordion %}
{% from 'macros.njk' import top_banner_group_venues %}

<section class="page-top-adjust"></section>

{# Hero Image Section #}
{% if pageCMS['group-venues'].group_venues and pageCMS['top-banner'].global_image %}
    {% set winter_group_venues = pageCMS['group-venues'].group_venues  %}
    {{ top_banner_group_venues(pageCMS['top-banner'].global_image, winter_group_venues) }}
{% endif %}

{# Card Title #}
{% if pageCMS['card-title'] %}
    {% set card_title= pageCMS['card-title'].simple_article %}
    {{ h2(copy = card_title.title, classes = ['winter-card__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
{% endif %}

{# Vertical Card Section #}
{% if  pageCMS['vertical-cards'] %}
{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}
<section class="section-outer">
    <section class="section-inner winter__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
        {% endfor %}
    </section>
</section>
{% endif %}

{{newsletter()}}