---
layout: base.njk
pagename: nordic-lessons
permalink: "build/activities/winter-activities/nordic-lessons/index.html"
permalinkBypassOutputDir: true
nickname: nordic-lessons
---
{% from "atoms/headings.njk" import h1,
h2,
h3,
h4,
h5,
h6 %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/bridge.njk' import bridge %}
{% from 'macros.njk' import top_banner_group_venues %}
{% from 'atoms/tables.njk' import tables %}

<section class="page-top-adjust"></section>

{# Hero Image Section #}
{% if pageCMS['group-venues'].group_venues and pageCMS['top-banner'].global_image %}
    {% set winter_group_venues = pageCMS['group-venues'].group_venues  %}
    {{ top_banner_group_venues(pageCMS['top-banner'].global_image, winter_group_venues) }}
{% endif %}

{# Bridge carousal #}
{% if pageCMS['bridge-slider'] %}
    {% set bridge_slider = pageCMS['bridge-slider'].bridge_slider %}
    {{ bridge(bridge_slider) }}
{% endif %}

{% if pageCMS['table-list'] and pageCMS['table-list'].table_list %}
    <section class="group-section">
        <section class="segment-outer global-contents">
        {% for item in pageCMS['table-list'].table_list %}
            <div class="global-pb">
                {{ tables(tableData = item.table) }}
            </div>
        {% endfor %}
        </section>
    </section>
{% endif %}

{% if pageCMS['bottom-content'] %}
<section class="segment-outer global-pb">
    <section class="segment-inner global-contents">
        {% set article = pageCMS['bottom-content'].simple_article %}
        <div class="cms-description font-ivar">
            {{ article.description | safe }}
        </div>
    </section>
</section>
{% endif %}

{{newsletter()}}