---
layout: mobile-webcam.njk
pagename: mobile-webcams
permalink: "build/mobile-webcams/index.html"
permalinkBypassOutputDir: true
nickname: mobile-webcams
---
<div class="segment-outer">
    <div class="segment-inner">
       <div class="video-container" id="violet-1546311408" pages></div>
    </div>
</div>
    