---
layout: base.njk
pagename: mobile-webcams
permalink: "build/mobile-webcams/index.html"
permalinkBypassOutputDir: true
nickname: mobile-webcams
---
<div class="segment-outer">
    <div class="segment-inner">
        <video-cam></video-cam>
    </div>
</div>
    