/****  start imports  ********************************/
@import "../../../../styles/global.css";
/****  end imports  ********************************/
.top-section {
    margin-top: 72px;
}
.top__aminities-section {
    display: none;
}
.top__accommodation-fetaures {
    display: none;
}
.middle__aminities-section {
    display: block;
}
.middle__accommodation-fetaures {
    display: block;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.dining-details-container {
    display: block;
}
.dining-details__card{
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    padding-top: 24px;
    padding-bottom: 40px;
    max-width: 1080px;
    margin: 0 auto;
}
.details__card {
    padding: 0 1rem;
}
.icon-css {
    margin: 0 44px;
}
.accommodation__features {
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.accommodation-feature {
    width: 210px;
    height: 210px;
    box-sizing: border-box;
    display: block;
    padding: 52px 34px 48px 34px;
}
.slider-card--max-width {
    max-width: 328px;
}
@media screen and (min-width: 767px){
    .dining-details__card{
        grid-template-columns: repeat(2, minmax(0, 1fr));
        column-gap: 3rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .accommodation-feature{
        padding: 52px 34px 48px 34px;
    }
    .accommodation__features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 1rem;
    }
}
.amenities {
    margin: 0;
    max-width: 100%;
}
@media screen and (max-width: 1024px){
    .group-container {
        margin: 0;
    }
}
@media screen and (min-width: 1366px){
    .accommodation__features {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        grid-gap: 1rem;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
    .top-section {
        margin-top: 90px;
    }
    .accommodation__features {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        grid-gap: 1rem;
    }
    .dining-details-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2rem;
    }
}
@media screen and (min-width: 1024px){
    .top-section {
        margin-top: 90px;
    }
    .accommodation-feature {
        width: 210px;
        height: 210px;
        box-sizing: border-box;
        display: block;
    }
    .dining-details-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 2rem;
    }
    .dining-details__card{
        grid-template-columns: repeat(3, minmax(0, 1fr));
        column-gap: 3rem;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .group-venues__container {
        text-align: left;
    }
    .group-venues__description {
        padding-left: 0;
    }
    .group-venues__breadcrumbs__link:nth-child(1) {
        padding-left: 0;
    }
    .dining-details__top-banner--descriptions:nth-child(3){
        color: var(--sundance__primary1);
    }
    .group-venues__description:nth-child(4) {
        color: var(--sundance__primary1);
    }
    .group-venues__links {
        margin-left: 0;
    }
    .group-venues__nav {
        margin-left: 0;
    }
    .group-container {
        margin: 0;
    }
    .top__aminities-section {
        display: block;
    }
    .top__accommodation-fetaures {
        display: block;
    }
    .middle__aminities-section {
        display: none;
    }
    .middle__accommodation-fetaures {
        display: none;
    }
}

.carousel-button-next-container{
    position: absolute;
    top: 50%;
    right: 10px;
    left: auto;
}
.carousel-button-prev-container{
    position: absolute;
    top: 50%;
    right: auto;
    left: 10px;
}

/* swiper css */

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.swiper {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper2 {
    height: 80%;
    width: 100%;
}

.mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
}

.mySwiper .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end swiper css */