---
layout: base.njk
pagename: bearclaw-cabin
permalink: "build/dining/bearclaw-cabin/index.html"
permalinkBypassOutputDir: true
nickname: dining/bearclaw-cabin
---
{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'atoms/headings.njk' import global_header %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}

<section class="group-section top-section">
    <section class="segment-outer relative -z-1">
        <figure>
        {% if pageCMS['top-banner'] and pageCMS['top-banner'].global_image %}
            {{global_image(pageCMS['top-banner'].global_image, classes='image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        {% endif %}
        </figure>
    </section>
    {% if pageCMS['top-group-venues'] %}
        {% set groupData = pageCMS['top-group-venues'].group_venues %}
        {% for event in groupData %}
            <section class="group-container">
                {{ groupVenues(event) }}
            </section>
        {% endfor %}
    {% endif %}
</section>
{% if pageCMS['slider'] %}
{% set bridge_slider = pageCMS['slider'].bridge_slider %}
    <section class="segment-outer bg-sn-5">
        <section>
            {{bridge(bridge_slider)}}
        </section>
    </section>
{% endif %}

{% if pageCMS['middle-article'] %}
<section class="segment-outer bg-sn-5">
    <section class="segment-inner">
        {% set articles = pageCMS['middle-article'].simple_article_list %}
        <section class="details__middle-article">
            {% for item in articles %}
                {% set object = item.simple_article %}
                <article class="dining-details__figcaption">
                    <header>
                        <h3 class="dining-details__middle-article--header font-ivar bold text-center">
                            {{ object.title }}
                        </h3>
                    </header>
                    <div class="dining-details__descriptions font-ivar">
                        {{ object.description | safe }}
                    </div>
                </article>
            {% endfor %}
        </section>
    </section>
</section>
{% endif %}
{% if pageCMS['notice'] %}
<section class="segment-outer">
    <section class="segment-inner text-center">
        {% set notice = pageCMS['notice'].simple_article %}
        <article class="details__notice bg-sn-4 font-ivar">
            <div class="dining-details__descriptions font-ivar">
                {{ notice.description | safe }}
            </div>
        </article>
    </section>
</section>
{% endif %}

<section class="segment-outer {% if not pageCMS['notice'] %}
                                    mt-16
                                {% endif %}">
    <section class="segment-inner text-center sm:px-6 md:px-6 lg:px-6">
        <article class="bg-sn-5 font-ivar">
            <div class="global-pb">
                {% if pageCMS['vertical-card-title'] %}
                    {% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
                    {{ global_header(copy = card_list_title) }}
                {% endif %}
            </div>
            
            {% if pageCMS['vertical-card-list'] %}
                {% set vertical_card_list = pageCMS['vertical-card-list'].vertical_card_list %}
                <section class="flex-card-container">
                    {% for item in vertical_card_list %}
                        {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8','flex__single-card']) }}
                    {% endfor %}
                </section>
            {% endif %}
        </article>
    </section>
</section>

{{newsletter()}}

