---
layout: base.njk
pagename: art-studio
permalink: "build/art-studio/index.html"
permalinkBypassOutputDir: true
nickname: "Art Studio"
---

{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from "atoms/a.njk" import a, button_primary, button_secondary, view_details, dropdown %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/art-studio.njk' import artStudio %}
{% from 'molecules/bridge-2.njk' import secondBridge %}
{% from 'macros.njk' import scaled_image %}
{% macro top_banner_right_bottom_container() %}
  <section>
	<header class="hero__corner--block">
		{{ h2(copy = heroCornerBlock.title, classes=['heading', 'hero__corner--block__title']) }}
		{% if heroCornerBlock.subtitle %}
			<p class="hero__corner--block__subtitle">{{ heroCornerBlock.subtitle }}</p>
		{% endif %}
		{% if heroCornerBlock.description %}
			<p class="hero__corner--block__description">{{ heroCornerBlock.description }}</p>
		{% endif %}
		{% for action in heroCornerBlock.actions %}
            {% if action.type == "view-details" %}
            <div class="hero__corner--block__cta">
                {{ view_details(classes = ['view-details','font-calibre', 'font-normal', 'text-lg', 'text--color__sn-6'], copy = action.copy, href = action.href, target = action.target ) }}
            </div>
            {% endif %}
            <div class="hero__corner--block__nav">
                <label class="font-ivar">{{action.label}}</label>
                {{ a( copy=action.copy, classes=['link', 'link--primary', 'font-calibre', 'font-medium', 'text-base'] href=action.href, target=action.target) }}
            </div>
        {% endfor %}
	</header>
  </section>
{% endmacro %}
{{ navMenu(navMenuLink) }}

<section>
    {{scaled_image(banner_image)}}
</section>

{{ h2(copy = titleHead.title, classes = ['bg-sn-4', 'art-studio__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}

<section class="bg-sn-4 art-studio__section-outer">
    <section class="art-studio__section-inner">
        {{ horrizontalCard(horrizontalCardItems,  horizontal_card_container = ['horizontal__card-container', 'mb-4']) }}
    </section>
</section>
<section class="bg-sn-4 art-studio__section-outer">
    <section class="art-studio__section-inner art-studio__card">
        {% for item in artStudioCardItems %}
            {{ verticalCard(item = item, card_container = ['card-container', 'mb-4']) }}
        {% endfor %}
    </section>
</section>

{{ top_banner_right_bottom_container() }}
{{newsletter()}}

{{footer(data.footer)}}
