---
layout: base.njk
pagename: art-studio
permalink: "build/art-studio/index.html"
permalinkBypassOutputDir: true
nickname: "Art Studio"
---

{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from "atoms/a.njk" import a, button_primary, button_secondary, view_details, dropdown %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/art-studio.njk' import artStudio %}
{% from 'molecules/bridge-2.njk' import secondBridge %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'organisms/hero-corner_block.njk' import top_banner_right_bottom_container %}
{% set horizontal_card_list= pageCMS['horizontal-cards'].horizontal_card_list %}
{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}
{# {% set card_title= pageCMS['card-title'].simple_article %} #}
{{ navMenu(navMenuLink) }}
<section class="art-studio__margin-top"></section>
<section class="relative">
    {{global_image(pageCMS['top-banner'].global_image, classes='h-screen w-full image_frame sm:4:3 lg:4:3 2xl:16:9 4xl:9:16')}}
    {{ top_banner_right_bottom_container(heroCornerBlock) }}
</section>

{{ h2(copy = titleHead.title, classes = ['bg-sn-4', 'art-studio__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}

<section class="bg-sn-4 art-studio__section-outer">
    <section class="art-studio__section-inner">
        {{ horrizontalCard(items=horizontal_card_list,  horizontal_card_container = ['horizontal__card-container', 'mb-4']) }}
    </section>
</section>
<section class="bg-sn-4 art-studio__section-outer">
    <section class="art-studio__section-inner art-studio__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-4']) }}
        {% endfor %}
    </section>
</section>

{{newsletter()}}

{{footer(data.footer)}}
