/****  start imports  ********************************/
@import "../../../../../styles/global.css";
/****  end imports  ********************************/
.group-container{
    border: none;
}
.bridge{
    padding-bottom: 50px;
}
.bridge__top-frame {
    background-color: var(--sundance__primary3);
}
.bridge__nav-icon{
    background-color: transparent;
}
.art-studio__instructor{
    padding-bottom: 48px;
}
.art-studio__card-header{
    font-weight: 600;
    font-size: 2.625rem;
}

@media screen and (min-width: 320px) and (max-width: 767px){
    .bridge{
        padding-bottom: 0px;
    }
    .art-studio__instructor{
        padding-bottom: 40px;
    }
}
