{#
    #   @desc   a basic anchor tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  href     string, link url
    #   @param  target   string, the link target location (optional)
    #   @return HTML anchor tag
    #   @author Alexander Khost
#}
{% macro a( classes=['link', 'link--primary'], id, copy, href='#', target )%}
    <a
        href="{{ href }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if target %} target="{{ target }}" {% endif %}
    >
        {{ copy | safe }}
    </a>
{% endmacro %}

{#
    #   @desc   a primary button
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  href     string, link url
    #   @param  target   string, the link target location (optional)
    #   @return HTML primary button
    #   @author Alexander Khost
#}
{% macro button_primary( classes=['button', 'button--primary'], id, copy, href='#', target )%}
    <a
        href="{{ href }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if target %} target="{{ target }}" {% endif %}
    >
        {{ copy | safe }}
    </a>
{% endmacro %}

{#
    #   @desc   a secondary button
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  href     string, link url
    #   @param  target   string, the link target location (optional)
    #   @return HTML secondary button
    #   @author Alexander Khost
#}
{% macro button_secondary( classes=['button', 'button--secondary'], id, copy, href='#', target )%}
    <a
        href="{{ href }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if target %} target="{{ target }}" {% endif %}
    >
        {{ copy | safe }}
    </a>
{% endmacro %}

{# 
    #   @desc   view details anchor tag
    #   @param  classes array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy    string, the HTML mark up that is linked
    #   @param  href    string, link url
    #   @param  target  string, the link target location (optional)
    #   @return HTML anchor tag 
    #   @author Ashfaqur Rahman, Alexander Khost
 #}
{% macro view_details( classes = ['view-details'], id, copy, href='#', target ) %}
    <a 
        {% if href %} href="{{ href }}" {% endif %} 
        {% if target %} target="{{ target }}" {% endif %}
         class="{% for class in classes %} {{ class }} {% endfor %}"
    >
        <span class="icon"></span>{{ copy | safe }}
    </a>
{% endmacro %}

{#
    #   @desc   a dropdown button
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  href     string, link url
    #   @param  target   string, the link target location (optional)
    #   @return HTML primary button
    #   @author Sarjis
#}
{# {% macro dropdown_primary( classes=['button', 'button--primary', 'relative', 'dropdown', 'down-arrow__rotate-45'], id, copy, href='#', target )%}
    <a
        href="{{ href }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if target %} target="{{ target }}" {% endif %}
        style="padding-left:30px"
    >
        {{ copy | safe }}
        <span style=" background: white;
    position: absolute;
    top: 0;
    height: 65px;
    width: 1px;
    margin-left: 30px;"></span>
    </a>
{% endmacro %} #}
{% macro dropdown_primary( classes=['button', 'button--primary', 'relative', 'dropdown', 'down-arrow__rotate-45'], id, copy, href='#', target )%}
    
    <article class="custom-select-container" style="display:inline-block; word-wrap: break-word;">
        <div class="select-box" style="padding:0">
            <div class="options-container" style="padding-top:1.25rem;margin-top: -13px;
    box-sizing: border-box;border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;">
                <div class="option">
                    <input type="radio" class="radio"id="class-1" name="category"/>
                    <label for="class-1">Book a Class</label>
                </div>

                <div class="option">
                    <input type="radio" class="radio" id="class-2" name="category"/>
                    <label for="class-2">Book a Class</label>
                </div>
            </div>

            <div class="selected button button--primary cursor-pointer" style="display:inline-block;padding-left: 35px;
    padding-right: 100px;">
                Book a Class
                <span class="relative dropdown down-arrow__rotate-45" style="background: white;
    position: absolute;
    top: 0;
    height: 65px;
    width: 1px;
    margin-left: 35px;"></span>
            </div>
        </div>
    </article>
{% endmacro %}