{#
    #   @desc   a basic anchor tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  href     string, link url
    #   @param  target   string, the link target location (optional)
    #   @return HTML anchor tag
    #   @author Alexander Khost
#}
{% macro a( classes=['link', 'link--primary'], id, copy, href='#', target )%}
    <a
        href="{{ href }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if target %} target="{{ target }}" {% endif %}
    >
        {{ copy | safe }}
    </a>
{% endmacro %}

{#
    #   @desc   a primary button
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  href     string, link url
    #   @param  target   string, the link target location (optional)
    #   @return HTML primary button
    #   @author Alexander Khost
#}
{% macro button_primary( classes=['button', 'button--primary'], id, copy, href='#', target )%}
    <a
        href="{{ href }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if target %} target="{{ target }}" {% endif %}
    >
        {{ copy | safe }}
    </a>
{% endmacro %}

{#
    #   @desc   a secondary button
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  href     string, link url
    #   @param  target   string, the link target location (optional)
    #   @return HTML secondary button
    #   @author Alexander Khost
#}
{% macro button_secondary( classes=['button', 'button--secondary'], id, copy, href='#', target )%}
    <a
        href="{{ href }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
        {% if target %} target="{{ target }}" {% endif %}
    >
        {{ copy | safe }}
    </a>
{% endmacro %}

{# 
    #   @desc   view details anchor tag
    #   @param  classes array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy    string, the HTML mark up that is linked
    #   @param  href    string, link url
    #   @param  target  string, the link target location (optional)
    #   @return HTML anchor tag 
    #   @author Ashfaqur Rahman, Alexander Khost
 #}
{% macro view_details( classes = ['view-details'], id, copy, href='#', target ) %}
    <a 
        {% if href %} href="{{ href }}" {% endif %} 
        {% if target %} target="{{ target }}" {% endif %}
         class="{% for class in classes %} {{ class }} {% endfor %}"
    >
        <span class="icon"></span>{{ copy | safe }}
    </a>
{% endmacro %}

{#
    #   @desc   a dropdown component
    #   @param  bgColor  string
    #   @param  id       string, a unique ID (optional)
    #   @param  copy    string, the copy which will be shown to select item
    #   @return HTML primary dropdown
    #   @author Sarjis
#}

{% macro dropdown_primary( bgColor = 'bg-sp-2', id, copy, items = [] )%}
    <article class="dropdown">
        <div class="dropdown--box dropdown--box__{{ id }}">
            <div class="dropdown--options {{id}}--options">
                {% for item in items %}
                    <div class="dropdown--option dropdown--option__{{id}}">
                        <input type="radio" class="radio"id="{{ item.id }}" name="{{ item.id }}"/>
                        <label class="dropdown--label" for="{{ item.id }}">{{ item.label }}</label>
                    </div>
                {% endfor %}
            </div>

            <div id="{{ id }}" onclick="handleClick('{{ id }}')" onblur="handleBlur()" 
                class="
                {% if bgColor == 'bg-sn-6' %}
                    border-1 border--color__sn-6
                {% elif bgColor == 'bg-sp-2' %}
                    border-1 border--color__sp-2
                {% elif bgColor == 'bg-sn-5' %}
                    border-1-sp-2 text--color__sp-2                    
                {% endif %}
                dropdown__selectable-item item__{{ id }} button button--primary cursor-pointer {{ bgColor }}" tabindex=0>
                <span class="dropdown--text {{ id }}__text">{{ copy | safe }}</span>
                <span class="dropdown--icon {{ id }}__icon relative dropdown down-arrow__rotate-45 
                {% if bgColor == 'bg-sn-6' %}
                    border-1 border-b--color__sn-6 border-r--color__sn-6 border-t--color__sn-6 border-l--color__sn-5
                {% elif bgColor == 'bg-sp-2' %}
                    border-1 border--color__sp-2
                {% elif bgColor == 'bg-sn-5' %}
                    border-1-sp-2                    
                {% endif %}
                {{ bgColor }}"></span>
            </div>
        </div>
    </article>
{% endmacro %}