{% from 'macros.njk' import scaled_image %}
{# 
    #   @param  detailsClasses  array, class names (optional)
    #   @param  titleClasses  array, class names (optional)
    #   @param  item     object
    #   @author Ashfaqur Rahman, Sarjis, Meherab
 #}
{% macro accordion( detailsClasses = ['font-ivar'], titleClasses = ['font-ivar'], item = {}, classes = ["toggle", "hidden"] ) %}
    <div class="accordion">
        <input 
            type="checkbox" 
            {% if item.id %} id="{{ item.id }}" {% endif %}
            class="{% for class in classes %} {{ class }} {% endfor %} {% for class in item.classes %} {{ class }} {% endfor %}"
            {% if item.name %} name="{{ item.name }}" {% endif %}
        >
        <label 
            {% if item.id %} for="{{ item.id }}" {% endif %} 
            class="accordion--label toggle--label"
        >
            <h2 class="accordion--title heading--4 {% for class in titleClasses %} {{ class }} {% endfor %}">
                {{ item.title | safe }}
            </h2>
        </label>
        <figure class="toggle-details hidden {% for class in detailsClasses %} {{ class }} {% endfor %}">
            {% set article = item.article %}
            <figcaption>
               {% if article.heading %}
                    <h3>
                        {{ article.heading | safe }}
                    </h3>
               {% endif %}
               {% if article.copy %}
                    {% for text in article.copy %}
                        <p class="accordion--text__padding"> {{ text | safe }} </p>
                    {% endfor %}
               {% endif %}
            </figcaption>
            {% if item.image %}
                {{ scaled_image(imgObj = item.image) }}
            {% endif %} 
        </figure>
    </div>    
{% endmacro %}