{% from "atoms/headings.njk" import h1 %}
{# 
    @desc   small box
    @param  classes      array
    @param  copy         string
    @param  amount       number
    @param  limitCopy    string
    @author Ashfaqur Rahman, Sarjis
 #}
 {% macro box( classes = ['box-wrap'], copy = '', amount = 0, limitCopy = '' ) %}
    <div class="{% for class in classes %} {{ class }} {% endfor %}">
        <h4>{{ copy | safe }}</h4>
        <span>${{ amount }}</span>
        <span>{{ limitCopy }}</span>
    </div>
 {% endmacro %}

 {# 
    @desc   classes container
    @param  classes array (optional)
    @param  copy    string
    @param  texts    array
    @author Ashfaqur Rahman, Sarjis
  #}
  {% macro text_container( classes = ['text-container'], copy, texts = [] ) %}
    <div class="{% for class in classes %} {{ class }} {% endfor %}">
        {{ h1(copy = copy, classes = ['heading--1']) }}

        {% for text in texts %}
            <p>{{ text }}</p>
        {% endfor %}
    </div>
  {% endmacro %}

