{# 
    @desc   Custom Checkbox  
    @param  id  Unique ID (optional)
    @param  name    Checkbox Name (optional)
    @author Ashfaqur Rahman
 #}
{% macro checkboxes( copy, id, name, classPrefix='checkboxes-btn', checkBoxNumber ) %}
    <label class="{{ classPrefix }}">
        <input type="checkbox" 
            class="{{ classPrefix }}__input" 
            {% if id %} id="{{ id }}" {% endif %}
            {% if name %} name="{{ name }}" {% endif %}
        >
        <span class="{{ classPrefix }}__control"></span>
        <span class="{{ classPrefix }}__label">{{ copy | safe }} {% if checkBoxNumber %} ({{ checkBoxNumber }}) {% endif %}</span>
    </label>    
{% endmacro %}