{% from 'atoms/check-in.njk' import check_in %}

{# 
    @desc   custom checkbox  
    @param  id      unique ID (optional)
    @param  name    checkbox name (optional)
    @author Ashfaqur Rahman
 #}
{% macro checkboxes( copy, id, name, classPrefix='checkboxes-btn', checkBoxNumber ) %}
    <label class="{{ classPrefix }}">
        <input type="checkbox" 
            class="{{ classPrefix }}__input" 
            {% if id %} id="{{ id }}" {% endif %}
            {% if name %} name="{{ name }}" {% endif %}
        >
        <span class="{{ classPrefix }}__control"></span>
        <span class="{{ classPrefix }}__label">
            {{ copy | safe }}
            {% if checkBoxNumber %} ({{ checkBoxNumber }}) {% endif %}
        </span>
    </label>    
{% endmacro %}

{# 
    @desc   form fields
    @param copy             string
    @param  classPrefix     common class prefix
    @param  classDate       style for Date input
    @param  href            url
    @param  id              unique ID (optional)
    @author Ashfaqur Rahman
 #}
{% macro form_fields( copy, classPrefix='form-field', classDate='form-field-date', href="#", id ) %}
    <div class="{{ classPrefix }}-wrap">
        <input 
            type="email" 
            placeholder="Email address"
        >
        <div class="{{ classPrefix }}-btn">    
            <a
                {% if href %} href="{{ href }}" {% endif %} 
                {% if id %} id="{{ id }}" {% endif %}
            >
                {{ copy | safe }}
            </a>                                
        </div> 
    </div>
    <div>
        {{ check_in( copy='Check IN' ) }}
    </div>    
{% endmacro %}

{# 
    @desc form input
    @example object : {
        label = '', 
        name = '', 
        id, 
        type="text", 
        placeholder = '', 
        onkeypress= '', 
        pattern = '', 
        maxlength = '', 
        classes = ['form-input__style'], 
        required = true
    } 
    @param object 
    @author Sarjis
 #}

{% macro form_input(obj = {}) %}
    <label class="form-label">
        {% if obj.label != "" %}
            {{ obj.label }}<br>
        {% endif %}
        <input 
            type="{{ obj.type }}" 
            placeholder="{{ obj.placeholder }}"
            class="{% for class in obj.classes %} {{ class }} {% endfor %}" 
            aria-required="true"
            aria-label="true"
            aria-invalid="false"
            {% if obj.name != "" %} name="{{ obj.name }}" {% endif %}
            {% if obj.id %} id="{{ obj.id }}" {% endif %}
            {% if obj.onkeypress !== "" %} onkeypress="{{ obj.onkeypress }}" {% endif %}
            {% if obj.pattern !== "" %} pattern="{{ obj.pattern }}" {% endif %} 
            {% if obj.maxlength !== "" %} maxlength="{{ obj.maxlength }}" {% endif %}
            {{ 'required' if (obj.required == true) }}/>
    </label>
{% endmacro %}