{#
    #   @desc   an H1 tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @return HTML H1 tag
    #   @author Alexander Khost, Sarjis
#}
{% macro h1( classes=['heading', 'heading--1', 'font-helvetica'], id, copy )%}
    <h1
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h1>
{% endmacro %}


{#
    #   @desc   an H2 tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @return HTML H2 tag
    #   @author Alexander Khost, Sarjis
#}
{% macro h2( classes=['heading', 'heading--2', 'font-helvetica'], id, copy )%}
    <h2
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h2>
{% endmacro %}

{#
    #   @desc   an ihh2 tag 
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H2 tag
    #   @author Alexander Khost, Sarjis
#}
{% macro ihh1( copy, classes=['heading', 'ihh1', 'font-ivar'], id )%}
    <h2
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h2>
{% endmacro %}


{#
    #   @desc   an H3 tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @return HTML H3 tag
    #   @author Alexander Khost, Sarjis
#}
{% macro h3( classes=['heading', 'heading--3', 'font-helvetica'], id, copy )%}
    <h3
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h3>
{% endmacro %}


{#
    #   @desc   an H4 tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @return HTML H4 tag
    #   @author Alexander Khost, Sarjis
#}
{% macro h4( classes=['heading', 'heading--4', 'font-helvetica'], id, copy )%}
    <h4
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h4>
{% endmacro %}


{#
    #   @desc   an H5 tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @return HTML H5 tag
    #   @author Alexander Khost, Sarjis
#}
{% macro h5( classes=['heading', 'heading--5', 'font-helvetica'], id, copy )%}
    <h5
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h5>
{% endmacro %}


{#
    #   @desc   an H6 tag
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string, the HTML mark up that is linked
    #   @return HTML H6 tag
    #   @author Alexander Khost, Sarjis
#}
{% macro h6( classes=['heading', 'heading--6', 'font-helvetica'], id, copy )%}
    <h6
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h6>
{% endmacro %}