{#
    #   @desc   an H1 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H1 tag
    #   @author Alexander Khost
#}
{% macro h1( copy, classes, id )%}
    <h1
        {% if classes %} class="{% for class in classes %} {{ class }} {% endfor %}" {% endif %}
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h1>
{% endmacro %}


{#
    #   @desc   an H2 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H2 tag
    #   @author Alexander Khost
#}
{% macro h2( copy, classes, id )%}
    <h2
        {% if classes %} class="{% for class in classes %} {{ class }} {% endfor %}" {% endif %}
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h2>
{% endmacro %}


{#
    #   @desc   an H3 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H3 tag
    #   @author Alexander Khost
#}
{% macro h3( copy, classes, id )%}
    <h3
        {% if classes %} class="{% for class in classes %} {{ class }} {% endfor %}" {% endif %}
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h3>
{% endmacro %}


{#
    #   @desc   an H4 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H4 tag
    #   @author Alexander Khost
#}
{% macro h4( copy, classes, id )%}
    <h4
        {% if classes %} class="{% for class in classes %} {{ class }} {% endfor %}" {% endif %}
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h4>
{% endmacro %}


{#
    #   @desc   an H5 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H5 tag
    #   @author Alexander Khost
#}
{% macro h5( copy, classes, id )%}
    <h5
        {% if classes %} class="{% for class in classes %} {{ class }} {% endfor %}" {% endif %}
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h5>
{% endmacro %}


{#
    #   @desc   an H6 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H6 tag
    #   @author Alexander Khost
#}
{% macro h6( copy, classes, id )%}
    <h6
        {% if classes %} class="{% for class in classes %} {{ class }} {% endfor %}" {% endif %}
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h6>
{% endmacro %}

