{#
    #   @desc   an H1 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H1 tag
    #   @author Alexander Khost
#}
{% macro h1( copy, classes=['heading', 'heading--1'], id )%}
    <h1
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h1>
{% endmacro %}


{#
    #   @desc   an H2 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H2 tag
    #   @author Alexander Khost
#}
{% macro h2( copy, classes=['heading', 'heading--2', 'font-helvetica'], id )%}
    <h2
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h2>
{% endmacro %}


{#
    #   @desc   an H3 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H3 tag
    #   @author Alexander Khost
#}
{% macro h3( copy, classes=['heading', 'heading--3', 'font-helvetica'], id )%}
    <h3
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h3>
{% endmacro %}


{#
    #   @desc   an H4 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H4 tag
    #   @author Alexander Khost
#}
{% macro h4( copy, classes=['heading', 'heading--4'], id )%}
    <h4
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h4>
{% endmacro %}


{#
    #   @desc   an H5 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H5 tag
    #   @author Alexander Khost
#}
{% macro h5( copy, classes=['heading', 'heading--5'], id )%}
    <h5
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h5>
{% endmacro %}


{#
    #   @desc   an H6 tag
    #   @param  copy     string, the HTML mark up that is linked
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @return HTML H6 tag
    #   @author Alexander Khost
#}
{% macro h6( copy, classes=['heading', 'heading--6'], id )%}
    <h6
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {{ copy | safe }}
    </h6>
{% endmacro %}