{% from 'organisms/global-image.njk' import global_image %}

{#
    #   @desc   icon image builder
    #   @param  classes array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  src,    image path
    #   @param  alt     string, alternate text (optional)
    #   @return HTML icon image
    #   @author Alexander Khost
#}
{% macro iconImage( classes = ['icon'], id, src = '', alt = '' )%}
    <figure
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        <img
            src="{{ src }}"
            alt="{{ alt }}"
        ></img>
    </figure>
{% endmacro %}

{#
    #   @desc   icon image builder
    #   @param  classes array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  src,    image path
    #   @param  alt     string, alternate text (optional)
    #   @return HTML icon image
    #   @author Alexander Khost
#}
{% macro iconImageLink( classes=['no-underline'], imgClasses = 'icon-image', obj )%}
    <a
        href="{{ obj | json }}"
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if obj.id %} id="{{ obj.id }}" {% endif %}
        {% if obj.target %} target="{{ obj.target }}" {% endif %}
    >
        <figure class="icon-image-frame">
            {{ global_image(obj.image.global_image, classes='icon-image', imgClass=imgClasses) }}
            <figcaption class="icon-image-caption font-calibre">{{obj.copy}}</figcaption>
        </figure>
    </a>
{% endmacro %}

{#
    #   @desc   icon CSS builder
    #   @param  classes  array, class names (optional)
    #   @param  id       string, a unique ID (optional)
    #   @param  copy     string (optional)
    #   @return HTML icon using CSS
    #   @author Alexander Khost
#}
{% macro iconCSS(classes = ['icon'], id, copy) %}
    <div
        class="{% for class in classes %} {{ class }} {% endfor %}"
        {% if id %} id="{{ id }}" {% endif %}
    >
        {% if copy %}
            {{ copy | safe }}
        {% endif %}
    </div>
{% endmacro %}