{# 
    @desc   Tables
    @author Ashfaqur Rahman
 #}
{% macro tables() %}

    <div class="table-container">
        <div class="table-row table-header">
            <div class="row-item">Class</div>
            <div class="row-item">Time</div>
            <div class="row-item">Cost</div>
        </div>
        <div class="table-row">
            <div class="row-item-data">Silversmithing</div>
            <div class="row-item-data">10am, 1pm, 3pm</div>
            <div class="row-item-data">$ 150</div>
        </div>
    </div>
{% endmacro %}