---
layout: base.njk
pagename: bed-breakfast
permalink: "build/specials-packages/bed-breakfast/index.html"
permalinkBypassOutputDir: true
nickname: "specials-packages/bed-breakfast"
---
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'macros.njk' import gallery %}

<section class="group-section">
    <section class="segment-outer relative -z-1">
        <figure>
        {% if pageCMS['top-banner'] and pageCMS['top-banner'].global_image %}
            {{global_image(pageCMS['top-banner'].global_image, classes='image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        {% endif %}
        </figure>
    </section>
    {% if pageCMS['top-group-venues'] and pageCMS['top-group-venues'].group_venues %}
        {% set groupData = pageCMS['top-group-venues'].group_venues %}
        {% for event in groupData %}
            <section class="group-container">
                {{ groupVenues(event) }}
            </section>
        {% endfor %}
    {% endif %}
</section>

{% if pageCMS['gallery-image-list'] and pageCMS['gallery-image-list'].global_image_arr and pageCMS['gallery-image-list'].global_image_arr.images %}
<section class="segment-outer bg-sn-5">
    <section class="segment-inner gallery--wrapper">
        {% set images = pageCMS['gallery-image-list'].global_image_arr.images %}
        {{ gallery(images) }} 
    </section>
</section>
{% endif %}
{{newsletter()}}
