/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/
.venues-title {
    font-size: 24px;
    line-height: 110%;
    padding: 20px 0;
}
.venues__card-title{
    font-size: 24px;
    line-height: 110%;
    padding: 40px 16px 24px 16px;
}

/* Desktop screen (Screen size : > 767 pts) */
@media screen and (min-width: 768px) {
    .venues-title {
        font-size: 56px;
        line-height: 56px;
        padding: 56px 0;
    }
    .venues__card-title{
        font-size: 43px;
        line-height: 110%;
        padding: 48px 16px 40px 16px;
    }
}