---
layout: base.njk
pagename: dining/restaurant/foundry-grill
permalink: "build/dining/restaurant/foundry-grill/index.html"
permalinkBypassOutputDir: true
nickname: dining/restaurant/foundry-grill
---
{% from 'molecules/bridge.njk' import bridge %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'atoms/headings.njk' import global_header %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/header.njk' import navMenu %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}

{% set middle_banner = pageCMS['middle-banner'].banner %}
{% set middleBannerImage = middle_banner.global_image.global_image %}
{% set articles = pageCMS['middle-article'].simple_article_list %}
{% set bridge_slider = pageCMS['slider'].bridge_slider %}
{% set quoteCard = pageCMS['quote-card'].quote_card %}
{% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
{% set vertical_card_list = pageCMS['vertical-card-list'].vertical_card_list %}

{% set top_banner = pageCMS['top-banner-left'].banner %}
{% set topBannerImage = top_banner.global_image.global_image %}
{% set notice = pageCMS['notice'].simple_article %}
{% set card_list_title = pageCMS['vertical-card-title'].simple_article.title %}
{% set groupData = pageCMS['top-group-venues'].group_venues %}
{{ navMenu(navMenuLink) }}
<section class="group-section top-section">
    <section class="segment-outer relative">
        <figure class="segment-inner">
            {{global_image(pageCMS['top-banner'].global_image, classes='-z-1 h-screen w-full image_frame sm:3:4 lg:3:4 2xl:16:9 4xl:9:16')}}
        </figure>
    </section>
    {% for event in groupData %}
        <section class="group-container">
            {{ groupVenues(event) }}
        </section>
    {% endfor %}
</section>
<section class="segment-outer bg-sn-5 px-4">
    <section class="segment-inner">
        {{bridge(bridge_slider)}}
    </section>
</section>
<section class="segment-outer bg-sn-5 px-4">
    <section class="segment-inner">
        <section class="details__middle-article">
            {% for item in articles %}
                {% set object = item.simple_article %}
                <article class="dining-details__figcaption">
                    <header>
                        <h3 class="dining-details__middle-article--header font-ivar bold text-center">
                            {{ object.title }}
                        </h3>
                    </header>
                    <div class="dining-details__descriptions font-ivar">
                        {{ object.description | safe }}
                    </div>
                </article>
            {% endfor %}
        </section>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner">
        <article class="details__notice bg-sn-4 font-ivar">
            <div class="dining-details__descriptions font-ivar">
                {{ notice.description | safe }}
            </div>
        </article>
    </section>
</section>
<section class="segment-outer">
    <section class="segment-inner text-center">
        <article class="details__card bg-sn-5 font-ivar">
            {{ global_header(copy = card_list_title) }}
            <section class="dining-details__card">
                {% for item in vertical_card_list %}
                    {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
                {% endfor %}
            </section>
        </article>
    </section>
</section>

{{newsletter()}}

{{footer(data.footer)}}