---
layout: base.njk
pagename: faqs
permalink: "build/activities/year-round/spa/spa-faqs/index.html"
permalinkBypassOutputDir: true
nickname: faqs
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/bridge.njk' import bridge %}
{% from 'atoms/accordion.njk' import accordion %}



{# Hero Image Section #}
{% if pageCMS['group-venues'].group_venues.length and pageCMS['top-banner'].global_image %}
{% set spa_group_venues = pageCMS['group-venues'].group_venues  %}
<section class="group-section">
    <section class="segment-outer relative -z-1">
        <figure class="segment-inner">
            {{global_image(pageCMS['top-banner'].global_image, classes='w-full image_frame sm:3:2 lg:2:1 2xl:2:1 4xl:2:1')}}
        </figure>
    </section> 
    {% for event in spa_group_venues %}
        <div class="group-container">
            {{groupVenues(event)}}
        <div>
    {% endfor %}
</section>
{% endif %}

{# Accordion Title #}
{% if pageCMS['accordion-description'] %}
    {% set accordion_description = pageCMS['accordion-description'].simple_article %}
    <section class="section-outer">
        <section class="accordion-wrapper accordion__header font-ivar text-lg-2">
             {{ accordion_description.description | safe }}
        </section>
    </section>
{% endif %}

{# Accordion #}
{% if  pageCMS['accordion'] %}
{% set accordions = pageCMS['accordion'].accordion %}
<section class="section-outer">
    <section class="accordion-wrapper accordion__bottom-padding">
        {% for item in accordions %}
            {{ accordion( item = item ) }}
        {% endfor %}             
    </section>
</section>
{% endif %}

{# Bridge carousal #}
{% if pageCMS['bridge-slider'] %}
{% set bridge_slider = pageCMS['bridge-slider'].bridge_slider %}
    {{ bridge(bridge_slider) }}        
{% endif %}

{{newsletter()}}

{{footer(data.footer)}}