---
layout: base.njk
pagename: lodging-accommodation
permalink: "build/lodging-accommodation.html"
permalinkBypassOutputDir: true
nickname: "lodging-accommodation"
---
{% from 'molecules/filter.njk' import filter %}
{% from 'organisms/forms.njk' import lodging_form %}
{% from 'molecules/footer.njk' import footer %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/card.njk' import singleCard %}
{% from 'molecules/header.njk' import navMenu %}

<section class="segment-outer">
    <section class="segment-inner">
        {{ navMenu(data.navMenuLink) }}
    </section>
</section>
<section class="segment-outer mt-40">
    <section class="segment-inner">
        {{ lodging_form(item = lodgingForm) }}
    </section>
</section>
<section class="segment-outer bg-sn-4">
    <section class="segment-inner">
        <div class="bg-sn-4">
            {{ filter(filters) }}
            <section class="lodging-accomodation__card">
                {% for item in cards %}
                    {{ singleCard(item = item, card_container = ['card-container', 'text-left']) }}
                {% endfor %}
            </section>
            {{newsletter()}}
        </div>
    </section>
</section>

{{footer(data.footer)}}