/****  start imports  ********************************/
@import "../../styles/global.css";
/****  end imports  ********************************/
.lodging-accomodation__cards {
    max-width: 1080px;
    display: block;
}
.lodging-accomodation__single-card {
    width: 328px;
}
.segment-outer__margin {
    margin-top: 4rem;
}
@media screen and (min-width: 768px){
    .segment-outer__margin {
        margin-top: 10rem;
    }
    .lodging-accomodation__cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        grid-column-gap: 3rem;
        grid-row-gap: 40px;
    }
}
