/****  start imports  ********************************/
@import "./variables.css";
/****  end imports  ********************************/


/****  start base styles  ********************************/
body {
    background-color: var(--sundance__neutral5);
    color: var(--sundance__neutral1);
    font-size: var(--base-font-size);
    padding: 2em;
}
section {
    border: 1px dashed #ccc;
    border-radius: 10px;
    margin: 25px 0px;
    padding: 20px;
}
.hidden {
    display: none;
}
.w-full {
    width: 100%;
}
.block {
    display: block;
}
.flex {
    display: flex;
}
.justify-items-center {
    justify-items: center;
}
.align-items-center {
    align-items: center;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.cursor-pointer {
    cursor: pointer;
}
/****  end base styles  ********************************/


/****  start atoms  ********************************/

/* links */
.link {
    text-decoration: underline;
}
.link--primary {
    color: var(--sundance__primary1);
}

/* buttons */
.button {
    border: solid #000 1px;
    border-radius: 35px;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    white-space: nowrap;
}
.button--primary {
    background-color: #000;
    color: #fff;
    padding: 20px 70px;
}
.button--secondary {
    background-color: #fff;
    color: #000;
    padding: 20px 70px;
}
/* headings */
.heading {
    padding-bottom: 1em;
}
.heading--1 {
    font-size: 4.375rem;
    line-height: 3.5rem;
}
.heading--2 {
    font-size: 2.5rem;
    line-height: 2.5rem;
}
.heading--3 {
    font-size: 1.75rem;
    line-height: 1.75rem;
}
.heading--4 {
    font-size: 1.125rem;
    line-height: 1.35rem;
}
.heading--5 {
    font-size: 0.875rem;
    line-height: 1.225rem;
}

/* checkboxes */
.checkboxes-btn {
    cursor: pointer;
}
.checkboxes-btn__input {
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 1);
    border-radius: 0;
    opacity: 0;
    outline: 0;
    padding: 11px 23px;
    position: absolute;
}
.checkboxes-btn__control {
    border: 2px solid #000;
    border-radius: 0.188rem;
    color: var(--sundance__secondary2);
    display: inline-block;
    height: 0.792rem;
    margin-right: 0.511rem;
    position: relative;
    transform: scale(0.75);
    vertical-align: middle;
    width: 0.792rem;
}
.checkboxes-btn__input:checked + .checkboxes-btn__control {
    border-color: var(--sundance__secondary2);
}
.checkboxes-btn__input:checked + .checkboxes-btn__control:after {
    background-color: var(--sundance__secondary2);
    content: '';
    display: block;
    height: 0.438rem;
    left: 0.188rem;
    position: absolute;
    top: 0.188rem;
    width: 0.438rem;
}

/* view details */
.view-details {
    color: #000;
    display: inline-flex;
    line-height: 40px;
    text-decoration: none;
    text-transform: uppercase;
}
.view-details:hover,
.view-details:focus {
    color: var(--sundance__primary1);
}
.view-details .icon {
    background-color: var(--sundance__neutral4);
    border-radius: 40px;
    display: inline-block;
    height: 40px;
    margin-right: 8px;
    position: relative;
    width: 40px;
}
.view-details .icon::before {
    border-left: solid 2px #000;
    content: '';
    display: block;
    height: 16px;
    left: 50%;
    position: absolute;
    top: 12px;
    width: 0;
}
.view-details .icon::after {
    border-top: solid 2px #000;
    content: '';
    display: block;
    height: 0;
    left: 13px;
    position: absolute;
    top: 50%;
    width: 16px;
}

/* form fields */
.form-label {
    border-bottom: 1px solid rgba(0, 0, 0, 0.87);
    margin-bottom: 36px;
    position: relative;
}
.form-label input {
    border: 0;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 97%;
}
.form-label input::placeholder {
    color: #000;
}
.form-label input:focus {
    outline: none;
}
.form-label__link {
    color: #000;
    cursor: pointer;
    padding-right: 10px;
    position: absolute;
    right: 0;
    text-decoration: none;
    text-transform: uppercase;
    top: 0;
}
.form-label__link:hover,
.form-label__link:focus {
    color: var(--sundance__primary1);
}
.form-field-date {
    background: var(--sundance__neutral4);
    border: none;
    border-radius: 35px;
    margin-top: 10px;
    padding: 20px 45px 20px 15px;
}
.form-field-date::placeholder {
    color: #000;
}
.form-field-date:focus {
    outline: none;
}

/* tables */
.table--row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
} 
.table--header {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}  
.table--row__head,
.table--row__data {
    display: flex;
    flex: 1;
    padding: 16px;
}
.table--row__head {
    background-color: var(--sundance__neutral4);
    margin-right: 8px;
}
.table--row__data {
    background-color: var(--sundance__neutral5);
}
@media screen and ( max-width: 767px ) {
    .table--row__data {
        padding-left: 5px;
    }
}

/* box */
.box-wrap {
    align-items: center;
    background: var(--sundance__neutral4);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 16px;
}
.box-wrap--header {
    margin: 0px;
}

/* text container */
.text-container--header {
    line-height: 0px;
}
@media screen and ( max-width: 767px ) {
    .text-container--header {
        font-size: 24px;
    }
}

/* accordion */
.accordion {
    background: var(--sundance__neutral4);
    padding: 17px;
}
.accordion--title {
    margin: 0;
    text-align: center;
}
.accordion--label {
    padding-right: 1rem;
}

/* toggle */
.toggle--label {
    cursor: pointer;
    display: block;
    line-height: 2rem;
    position: relative;
    width: auto;
}
.toggle--label:before {
    content: '';
    opacity: 1;
    position: absolute;
}
.toggle--label:after {
    content: '';
    opacity: 1;
    position: absolute;
}
.toggle--label:before {
    border: 1px solid #000;
    height: 0px;
    right: 0;
    top: 1rem;
    width: 1rem;
}
.toggle--label:after {
    border: 1px solid #000;
    height: 1rem;
    right: .5rem;
    top: 0.5rem;
    width: 0;
}
.toggle:checked ~ .toggle-details {
    display: grid;
}
.toggle:checked ~ .toggle--label:before {
    transform: rotate(45deg);
}
.toggle:checked ~ .toggle--label:after {
    transform: rotate(45deg);
}
.gap-x-2 {
    grid-column-gap: 0.5rem;
}
/* base arrow */
.arrow {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: var(--sundance__neutral4);
}
.arrow:before,
.arrow:after {
    content: "";
    position: absolute;
    width: 12px;
    border: 1px solid #000;
    background-color: black;
}
.arrow__rotate-45:after{
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
}
.arrow__rotate-45:before{
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
}
.down-arrow__rotate-45:before{
    transform: rotateZ(45deg);
    -webkit-transform: rotateZ(45deg);
}
.down-arrow__rotate-45:after{
    transform: rotateZ(-45deg);
    -webkit-transform: rotateZ(-45deg);
}
.rotate-90:after{
    transform: rotateZ(90deg);
    -webkit-transform: rotateZ(90deg);
}

/* down arrow */
.arrow-down:before {
    left: 13px;
    top: 24px;
}
.arrow-down:after {
    left: 22px;
    top: 24px;
}

/* up arrow */
.arrow-up:before {
    left: 14px;
    top: 22px;
}
.arrow-up:after {
    left: 23px;
    top: 22px;
}

/* right arrow */
.arrow-right:after {
    left: 18px;
    top: 18px;
}
.arrow-right:before {
    left: 18px;
    top: 27px;
} 

/* left arrow */
.arrow-left:after {
    left: 16px;
    top: 29px;
}
.arrow-left:before {
    left: 16px;
    top: 20px;
}

/* hamburger */
.hamburger-icon:after {
    left: 18px;
    top: 29px;
}
.hamburger-icon:before {
    left: 18px;
    top: 20px;
}

/* cross icon */
.cross-icon:after {
    left: 19px;
    top: 24px;
}
.cross-icon:before {
    left: 19px;
    top: 24px;
}

/* plus icon */
.plus-icon:after {
    left: 19px;
    top: 24px;
}
.plus-icon:before {
    left: 19px;
    top: 24px;
}

/* filter icon */
.filter-icon {
	display: block;
    height: 1.5rem;
	width: 2rem;
	position: relative;
}
.filter-icon span {
    background: var(--sundance__neutral1);
	border-radius: 2px;
	display: block;
    height: 2px;
    opacity: 1;
	position: absolute;
	width: 100%;
	z-index: 0;
}
.filter-icon span::after {
    background: var(--sundance__neutral5);
	border-radius: 50%;
	border: 2px solid var(--sundance__neutral1);
    content: "";
	display: block;
    height: 0.25rem;
    opacity: 1;
	position: absolute;
	top: -150%;
    width: 0.25rem;
	z-index: 5;
}
.filter-icon span:nth-child(1) {
	top: 0;
}
.filter-icon span:nth-child(1)::after {
	left: 15%;
} 
.filter-icon span:nth-child(2) {
	top: 46%;
}
.filter-icon span:nth-child(2)::after {
	left: 60%;
}
.filter-icon span:nth-child(3) {
	bottom: 0;
}
.filter-icon span:nth-child(3)::after {
	left: 30%;
}
/* dropdown */
.dropdown {
    display:inline-block; 
    word-wrap: break-word;
    max-width: 224px;
}
.dropdown--box {
    display: flex;
    flex-direction: column;
    padding:0;
}

.dropdown--box .dropdown--options {
    background: #F7F7F7;
    color: #617C6A;
    max-height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    order: 1;
    width: 270px;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
}

.dropdown__selectable-item {
    position: relative;
    order: 0;
    display:inline-block;
    padding-left: 35px !important;
    padding-right: 100px !important;
    font-size: 16px;
    border: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: var(--sundance__primary2);
}
.dropdown--icon {
    background: white;
    position: absolute;
    top: 0;
    height: 65px;
    width: 1px;
    margin-left: 13px;
    min-width: 48px;
    background-color: var(--sundance__primary2);
    border-left: 1px solid white;
    z-index: 1;
    border-top-right-radius: 35px;
    box-sizing: border-box;
    border-bottom-right-radius: 35px;
}
.dropdown--icon::after, .dropdown--icon:before {
    content: "";
    position: absolute;
    width: 12px;
    border: 1px solid #fff;
    background-color: white;
}
.dropdown--icon:before {
    left: 12px;
    top: 30px;
}
.dropdown--icon:after {
    left: 21px;
    top: 30px;
}
.dropdown--text {
    display:inline-block;
    width: 174px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.dropdown--options {
    max-width: 400px;
    border: 1px solid #617C6A;
    padding-top:1.25rem;
    margin-top: -16px;
    box-sizing: border-box;
    border-bottom-right-radius: 27px;
    border-bottom-left-radius: 27px;
}

.dropdown--box .dropdown--options.active {
    max-height: 50vh;
    opacity: 1;
    overflow-y: hidden;
}

.dropdown--box .dropdown--option,
.dropdown__selectable-item {
    padding-left: 1rem;
    padding-right: 70px;
    padding-bottom: 15px;
    padding-top: 20px;
    height: 30px;
}

.dropdown--label {
    cursor: pointer;
    display: inline-block;
    margin-top: 5px;
}
.dropdown--option {
    border-top: 1px solid #617C6A;
    padding-left: 1rem;
    font-size: 14px;
}
.dropdown--option:nth-child(1) {
    border: 0;
    margin-top: 9px;
}
.dropdown--box .dropdown--option .radio {
    display: none
}
.dropdown--box{
    position: relative;
}
.dropdown--options{
    position: absolute;
    top: 50px;
}
.dropdown--options.active + .button .dropdown--icon::after {
    transform: rotateZ(45deg);
}
.dropdown--options.active + .button .dropdown--icon::before {
    transform: rotateZ(-45deg);
}
/****  end atoms  ********************************/
