/****  start imports  ********************************/
@import "./variables.css";
/****  end imports  ********************************/


/****  start base tags  ********************************/
body {
    background-color: var(--sundance__neutral5);
    color: var(--sundance__neutral1);
    font-size: var(--base-font-size);
    padding: 2em;
}
section {
    border: 1px dashed #ccc;
    border-radius: 10px;
    margin: 25px 0px;
    padding: 20px;
}
/****  end base tags  ********************************/


/****  start atoms  ********************************/
.link {
    text-decoration: underline;
    }
.link--primary {
    color: var(--sundance__primary1);
}

.button {
    border: solid #000 1px;
    border-radius: 35px;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    white-space: nowrap;
}
.button--primary {
    background-color: #000;
    color: #fff;
    padding: 20px 70px;
}
.button--secondary {
    background-color: #fff;
    color: #000;
    padding: 20px 70px;
}

.heading {
    padding-bottom: 1em;
}
.heading--1 {
    font-size: 3.0rem;
    line-height: 3.6rem;
}
.heading--2 {
    font-size: 2.6rem;
    line-height: 2.2rem;
}
.heading--3 {
    font-size: 2.2rem;
    line-height: 2.8rem;
}
.heading--4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.heading--5 {
    font-size: 1.5rem;
    line-height: 2.1rem;
}
.heading--6 {
    font-size: 1.3rem;
    line-height: 1.9rem;
}
/* checkboxes */
.checkboxes-btn {
    cursor: pointer;
}
.checkboxes-btn__input {
    padding: 11px 23px;
    border: 1px solid rgba(0,0,0,1);
    border-radius: 0;
    outline: 0;
    background-color: transparent;
    opacity: 0;
    position: absolute;
}
.checkboxes-btn__control {
    position: relative;
    display: inline-block;
    width: 0.792rem;
    height: 0.792rem;
    margin-right: 0.511rem;
    border-radius: 0.188rem;
    vertical-align: middle;
    color: var(--sundance__secondary2);
    border: 2px solid #000;
}
.checkboxes-btn__input:checked+.checkboxes-btn__control:after {
    content: "";
    display: block;
    position: absolute;
    top: 0.188rem;
    left: 0.188rem;
    width: 0.438rem;
    height: 0.438rem;
    background-color: var(--sundance__secondary2);
}
.checkboxes-btn__input:checked+.checkboxes-btn__control {
    border-color: var(--sundance__secondary2);
}
.checkboxes-btn__control {
  transform: scale(0.75);
}
/* View Details */
.view-details img {
    display: inline;
    vertical-align: middle;
    margin-right: 8px;
}
.view-details a {
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
}
.view-details a:hover,
.view-details a:focus {
    color: var(--sundance__primary1);
}
/* Form Fields */
.form-field-wrap {
    position: relative;
    border-bottom: 1px solid rgba(0,0,0,0.87);
    margin-bottom: 36px;
}
.form-field-wrap input {
    width: 97%;
    border: 0;
    padding-bottom: 10px;
    padding-left: 10px;
}
.form-field-wrap input::placeholder {
    color: #000;
}
.form-field-wrap input:focus {
    outline: none;
}
.form-field-btn a {
    color: #000;
    position: absolute;
    top: 0;
    right: 0;
    text-transform: uppercase;
    padding-right: 10px;
    cursor: pointer;
    text-decoration: none;
}
.form-field-btn a:hover,
.form-field-btn a:focus {
    color: var(--sundance__primary1);
}
.form-field-date {
    background: var(--sundance__neutral4);
    border: none;
    padding: 20px 45px 20px 15px;
    border-radius: 35px;
    margin-top: 10px;
}
.form-field-date::placeholder {
    color: #000;
}
.form-field-date:focus {
    outline: none;
}
/* Tables */
.table-row {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
} 
.table-header {
    color: #000;
    font-weight: bold;
    text-transform: uppercase;
}  
.row-item,
.row-item-data {
    display: flex;
    flex: 1;
    padding: 16px;
}
.row-item {
    background-color: var(--sundance__neutral4);
    margin-right: 8px;
}
.row-item-data {
    background-color: var(--sundance__neutral5);
}
@media screen and (max-width:767px) {
    .row-item-data {
        padding-left: 5px;
    }        
}
/* Box */
.box-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:16px;
    background: var(--sundance__neutral4);
}
.box-wrap h4 {
    margin: 0px;
}
/* Text Container */
.text-container h1 {
    line-height: 0px;
}
@media screen and (max-width:767px) {
    .text-container h1 {
        font-size: 24px;
    }
}

/****  end atoms  ********************************/













