/****  start imports  ********************************/
@import "./variables.css";
/****  end imports  ********************************/

@layer base {
    body {
        background-color: var(--color__secondary);
        color: var(--color__primary);
        font-size: var(--base-font-size);
        padding: 2em;
    }
    a {
        color: var(--color__anchor);
        text-decoration: underline;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        padding-bottom: 1em;
    }
    h1 {
        font-size: 2.4rem;
        line-height: 3.0rem;
    }
    h2 {
        font-size: 2.2rem;
        line-height: 2.8rem;
    }
    h3 {
        font-size: 2.0rem;
        line-height: 2.6rem;
    }
    h4 {
        font-size: 1.8rem;
        line-height: 2.4rem;
    }
    h5 {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }
    h6 {
        font-size: 1.4rem;
        line-height: 2.0rem;
    }
.link--primary {
    color: var(--color__anchor);
}

.button {
    border: solid #000 1px;
    border-radius: 27px;
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.6rem;
    text-decoration: none;
    white-space: nowrap;
}
.button--primary {
    background-color: #000;
    color: #fff;
    padding: 20px 70px 15px;
}
.button--secondary {
    background-color: #fff;
    color: #000;
    padding: 20px 70px 15px;
}

.heading {
    padding-bottom: 1em;
}
.heading-1 {
    font-size: 2.4rem;
    line-height: 3.0rem;
}
.heading-2 {
    font-size: 2.2rem;
    line-height: 2.8rem;
}
.heading-3 {
    font-size: 2.0rem;
    line-height: 2.6rem;
}
.heading-4 {
    font-size: 1.8rem;
    line-height: 2.4rem;
}
.heading-5 {
    font-size: 1.6rem;
    line-height: 2.2rem;
}
.heading-6 {
    font-size: 1.4rem;
    line-height: 2.0rem;
}
/****  end atoms  ********************************/













