:root {
    /* base 1:1 aspect ratio */
    --n: 1;
    --d: 1;
}

.image_frame {
    /* aspect-ratio: var(--d) / var(--n); */
    padding-top: calc((var(--n) / var(--d)) * 100%);
    position: relative;
    display: block;
}

.image_frame > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_frame > img,
.image_frame > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.xs\:2\:3 {
    /* 2:3 */
    --d: 2;
    --n: 3;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /* sm breakpoint aspect ratios */
    .sm\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }

    .sm\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .sm\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .sm\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .sm\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .sm\:5\:6 {
        /* 5:6 */
        --d: 5;
        --n: 6;
    }

    .sm\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .sm\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .sm\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .sm\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .sm\:125\:114 {
        /* 125:114 */
        --d: 125;
        --n: 114;
    }

    .sm\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
    .sm\:16\:11 {
        /* 16:11 */
        --d: 16;
        --n: 11;
    }
    .sm\:8\:5 {
        /* 8:5 */
        --d: 8;
        --n: 5;
    }
    .sm\:41\:56 {
        /* 41:56 */
        --d: 41;
        --n: 56;
  }
    .sm\:33\:26 {
        /* 33:26 */
        --d: 33;
        --n: 26;
    }
    .sm\:41\:25 {
        /* 41:25 */
        --d: 41;
        --n: 25;
    }
    .sm\:162\:133 {
        /* 162:133 */
        --d: 162;
        --n: 133;
    }

    .sm\:335\:421 {
        /* 335:421 */
        --d: 335;
        --n: 421;
    }
}

/* lg breakpoint aspect ratios */
/* Tab (Screen size : 1200 pts) */
@media screen and (min-width: 768px) and (max-width: 1365px) {
    .lg\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }

    .lg\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .lg\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .lg\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .lg\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .lg\:5\:2 {
        /* 5:2 */
        --d: 5;
        --n: 2;
    }

    .lg\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .lg\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .lg\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .lg\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .lg\:14\:9 {
        /* 14:9 */
        --d: 14;
        --n: 9;
    }

    .lg\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
    .lg\:16\:11 {
        /* 16:11 */
        --d: 16;
        --n: 11;
    }
    .lg\:8\:5 {
        /* 8:5 */
        --d: 8;
        --n: 5;
    }
}

/*!* 3xl breakpoint aspect ratios *!*/
/*!* Desktop (Screen size : 1440 pts) *!*/
@media screen and (min-width: 1366px) and (max-width: 1919px) {
    .\32 xl\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }
    .\32 xl\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .\32 xl\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .\32 xl\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .\32 xl\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .\32 xl\:5\:2 {
        /* 5:2 */
        --d: 5;
        --n: 2;
    }

    .\32 xl\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .\32 xl\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .\32 xl\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .\32 xl\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .\32 xl\:14\:9 {
        /* 14:9 */
        --d: 14;
        --n: 9;
    }

    .\32 xl\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
    .\32 xl\:16\:11 {
        /* 16:11 */
        --d: 16;
        --n: 11;
    }
    .\32 xl\:8\:5 {
        /* 8:5 */
        --d: 8;
        --n: 5;
    }
}

/* Desktop XXL (Screen size : 1920 pts) */
@media screen and (min-width: 1920px) {
    .\34 xl\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }
    .\34 xl\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .\34 xl\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .\34 xl\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .\34 xl\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .\34 xl\:5\:2 {
        /* 5:2 */
        --d: 5;
        --n: 2;
    }

    .\34 xl\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .\34 xl\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .\34 xl\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .\34 xl\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .\34 xl\:14\:9 {
        /* 14:9 */
        --d: 14;
        --n: 9;
    }

    .\34 xl\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
    .\34 xl\:16\:11 {
        /* 16:11 */
        --d: 16;
        --n: 11;
    }
    .\34 xl\:8\:5 {
        /* 8:5 */
        --d: 8;
        --n: 5;
    }
}

@media screen and (min-width: 768px) {
    .lg\:6\:5 {
        /* 6:5 */
        --d: 6;
        --n: 5;
    }

    .lg\:27\:20 {
        /* 27 : 20 */
        --d: 27;
        --n: 20;
    }

    .lg\:27\:10 {
        /* 27 : 10 */
        --d: 27;
        --n: 10;
  }
    .lg\:55\:73 {
        /* lg:55:73 */
        --d: 55;
        --n: 73;
    }

    .lg\:11\:12 {
        /* lg:11:12 */
        --d: 11;
        --n: 12;
    }
    .lg\:53\:29 {
        /* 53:29 */
        --d: 53;
        --n: 29;
    }
    .lg\:43\:64 {
        /* lg:43:64 */
        --d: 43;
        --n: 64;
    }    
    .lg\:396\:265 {
        /* lg:396 : 265 */
        --d: 396;
        --n: 265;
    }
    .lg\:4\:5 {
        /* 4:5 */
        --d: 4;
        --n: 5;
    }
    .lg\:45\:37 {
        /* lg:45:37 */
        --d: 45;
        --n: 37;
    }

    .lg\:761\:957 {
        /* lg:761:957 */
        --d: 761;
        --n: 957;
    }
}
@media screen and (max-width: 767px) {
    .sm\:11\:5 {
        /* 11:5 */
        --d: 11;
        --n: 5;
    }
    .sm\:33\:20 {
        /* 33:20 */
        --d: 33;
        --n: 20;
    }
    .sm\:11\:10 {
        /* sm:11:10 */
        --d: 11;
        --n: 10;
    }
    .sm\:11\:8 {
        /* sm:11:8 */
        --d: 11;
        --n: 8;
    }
    .sm\:11\:15 {
        /* sm:11:15 */
        --d: 11;
        --n: 15;
    }
    .sm\:4\:5 {
        /* 4:5 */
        --d: 4;
        --n: 5;
    }
}
