/****  start molecules  ********************************/
.horizontal__card-container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}
.horizontal__card-image{
    overflow: hidden;
    object-fit: cover;
    object-position: center;
}
.horizontal__card-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
    padding-right: 80px;
}
/* Mobile (Screen size : 375 pts) */
@media screen and (max-width: 375px) {
    .horizontal__card-container{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .horizontal__card-container:nth-child(even) .horizontal__card-image{
       order: 1;
    }
    .horizontal__card-container:nth-child(odd) .horizontal__card-text{
        order: 2;
    }
    .horizontal__card-text{
        text-align: center;
        align-items: center;
        padding: 40px 40px;
    }
}

/* Tab (Screen size : 1200 pts) */
@media screen and (min-width: 376px) and (max-width: 1200px) {
    .horizontal__card-container{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }
    .horizontal__card-container:nth-child(even) .horizontal__card-image{
       order: 1;
    }
    .horizontal__card-container:nth-child(odd) .horizontal__card-text{
        order: 2;
    }
    .horizontal__card-text{
        text-align: center;
        align-items: center;
        padding: 40px 40px;
    }
}


/* Desktop (Screen size : 1440 pts) */
@media screen and (min-width: 1201px) and (max-width: 1440px) {
}

/* Desktop XXL (Screen size : 1920 pts) */
@media screen and (min-width: 1441px) {
}

/****  end molecules  ********************************/