@import "./variables.css";
/****  start header molecules  ********************************/
.header{
    display: grid;
    grid-template-columns: min-content max-content min-content;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 35px;
    position: fixed;
    width: 100%;
    background: var(--sundance__neutral5);
    z-index: 11;
}
.header__links {
    position:absolute; 
    gap:1rem; 
    text-align:left;
}
.header-left__container{
    background: var(--sundance__neutral4);
    padding-top:13px;
    padding-bottom:13px;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 20px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.header-button{
    display: flex;
    flex-direction: row-reverse;
}
.header--label {
    padding-right: 1rem;
}
.header--title {
    margin: 0;
    text-align: center;
}
.heading:not(.header-left):not(.header-right){
    padding-bottom: 0em;
}
.header__burger-icon {
    display: none;
}
.header__icons__cta--container {
    column-gap: 1rem;
}
.menu__label--header {
    margin: 0;
    text-align: center;
    font-size: 34px;
    line-height: 41px;
}

/* Mobile (Screen size : 767 pts) */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__logo {
        display: none;
    }
    .header__icons__cta--container {
        display: flex;
    }
    .header{
        padding-top: 15px;
        padding-bottom: 15px;
        grid-template-columns: min-content max-content;
    }
    .header-left {
        display: flex;
        flex-direction: column;
        gap: 13px;
        font-weight: 600;
        font-size: 34px;
        line-height: 41px;
        text-align: center;
        color: #262624;
    }
    .header__links {
        position: static;
        text-align: center;
    }
    .header-left__menu {
        flex-direction: column;
        font-size: 34px;
    }
    .header__link {
        font-size: 27px;
        font-weight: normal;
    }
    .header__menu-items--container {
        display: none;
        font-size: 34px;
        font-weight: 600;
    }
    .header__cta--container{
        display: none;
    }
    .header-icon{
        gap: 4px;
    }
    .header-button .button--primary3 {
        padding: 12px 20px 12px 20px;
    }
    
    .header__button--text-size{
        font-size: 14px;
    }
    .header__button--padding{
        padding: 15px 27px 11px 25px;
    }
    .header__burger-icon {
        display: block;
    }
    .menu__input--container {
        display: flex;
        align-items: baseline;
        width:90vw;
        border-bottom: 1px solid;
        padding: 0.5rem;
    }
    .menu__input {
        margin-left: 14px;
    }
    .toggle:checked + .header__burger-icon--toggle-label {
        display: none;
    }
}

/* Tab (Screen size : 1200 pts) */
@media screen and (min-width: 768px) {
    .menu__input--container {
        display: none;
    }
    .menu__cross-btn {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1365px) {
    .header__menu-items--container {
        flex: 0 0 100%;
        background-color: #F7F7F7;
        order: 4;
        margin-top: 1rem;
    }
    .header-left__menu {
        padding-top: 13px;
        padding-bottom: 13px;
    }
    .header__logo {
        order: 2;
    }
    .header__icons__cta--container {
        display: flex;
        order: 1;
        padding-left: 1rem;
    }
    .header__icons__cta--container .header-button {
        display: none;
    }
    .header__cta--container {
        display: block;
        order: 3;
        padding-right: 1rem;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .header-icon{
        gap: 5px;
    }
    .header-left{
        font-size: 18px;
    }
    .header__button--text-size{
        font-size: 18px;
    }
    .header__button--padding{
        padding: 13px 41px 13px 41px;
    }
    .header__links {
        top: 100%;
        background: white;
    }
    .menu__label--header {
        font-size: 1.125rem;
        line-height: 1.35rem;
    }
}
/* Desktop (Screen size : 1919 pts) */
@media screen and (min-width: 1366px) {
    .header__menu-items--container {
        order: 1;
        margin-top: 0;
    }
    .header__logo {
        order: 2;
    }
    .header__icons__cta--container {
        display: flex;
        order: 3;
    }
    .header__cta--container {
        display: none;
    }
    
    .header{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    .header-left{
        font-size: 19px;
    }
    .header-icon{
        gap: 8px;
    }
    .header__button--text-size{
        font-size: 16px;
    }
    .header__links {
        top: 100px;
        background: white;
    }
    .menu__label--header {
        font-size: 1.125rem;
        line-height: 1.35rem;
    }
}

/* Desktop XXL (Screen size : 1920 pts) */
@media screen and (min-width: 1920px) {
    .tab, .mobile{
        display: none;
    }
    .header{
        padding: 35px 90px;
    }
    .header-icon{
        gap: 8px;
    }
    .header__button--text-size{
        font-size: 21px;
    }
}

/****  end header molecules  ********************************/