.card-widget__title {
    cursor: initial;
    position: relative;
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    padding: 20px;
    color: var(--sundance__neutral5);
}

.card-widget__title:after {
    content: "";
    position: absolute;
    bottom: -11px;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-top: 11px solid var(--sundance__primary1);
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
}

.card-widget__body {
    cursor: initial;
    max-width: 341px;
    margin: 0 auto;
    padding: 32px 0 30px 0;
}
.card-widget__weather__title-1 {
    font-size: 80px;
    line-height: 95px;
}
.card-widget__weather__title-2 {
    font-size: 25px;
    line-height: 30px;
}
.card-widget__weather__icon {
    width: 38px;
    height: auto;
}
.card-widget__weather__icon2 {
    width: 30px;
    height: auto;
}
.card-widget__weather__icon__text {
    font-size: 15px;
    line-height: 18px;
}
.card-widget__weather__snow__text > strong {
    height: 38px;
}

.card-widget__weather-summary {
    font-weight: normal;
    font-size: 25px;
    line-height: 28px;
    color: var(--sundance__neutral1);
    padding: 20px 0;
    outline: none;
    text-align: left;
    cursor: pointer;
    position: relative;
}
details > summary::after {
    position: absolute;
    content: "+";
    font-size: 40px;
    font-weight: 300;
    right: 6px;
}
details[open] > summary::after {
    position: absolute;
    content: "-";
    font-size: 40px;
    right: 6px;
}
details > summary {
    list-style: none;
}
details > summary::-webkit-details-marker {
    display: none;
}
details[open] summary ~ * {
    animation: sweep 0.5s ease-in-out;
    align-items: center;
}
.toggle__content {
    text-align: left;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    padding-bottom: 4px;
}
.toggle__content__line{
    padding-bottom: 20px;
}

.toggle__content__icon{
    width: 35px;
    height: 27px;
    padding-top: 8px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    color: var(--sundance__neutral5);
    border-radius: 50%;
}
@keyframes sweep {
    0% {
        opacity: 0;
        margin-top: -10px;
    }
    100% {
        opacity: 1;
        margin-top: 0px;
    }
}
