@import "./variables.css";
/****  start header molecules  ********************************/
.header{
    display: grid;
    grid-template-columns: min-content max-content min-content;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 35px 90px;
    background: var(--sundance__neutral5);
}
.header-left__container{
    background: var(--sundance__neutral4);
    padding-top:13px;
    padding-bottom:13px;
}
.header-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    font-size: 20px;
}
.header-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.header-button{
    display: flex;
    flex-direction: row-reverse;
}
.heading:not(.header-left):not(.header-right){
    padding-bottom: 0em;
}

/* Mobile (Screen size : 767 pts) */
@media screen and (min-width: 320px) and (max-width: 767px) {
    .desktop, .tab{
        display: none;
    }
    .header{
        padding: 16px 16px;
    }
    .header-left{
        font-size: 34px;
        font-weight: 600;
    }
    .header-icon{
        gap: 4px;
    }
    .header__button--text-size{
        font-size: 18px;
    }
    .header__button--padding{
        padding: 15px 27px 11px 25px;
    }
}

/* Tab (Screen size : 1200 pts) */
@media screen and (min-width: 768px) and (max-width: 1365px) {
    .header__left {
        flex: 0 0 100%;
        order: 4;
    }
    .header__middle-1 {
        order: 2;
    }
    .header__middle-2 {
        display: flex;
        order: 1;
    }
    .header__middle-2 .header-button {
        display: none;
    }
    .header__right {
        display: block;
        order: 3;
    }
    .desktop, .mobile{
        display: none;
    }
    .header{
        display: flex;
        flex-wrap: wrap;
        padding: 15px 20px;
    }
    .header-icon{
        gap: 5px;
    }
    .header-left{
        font-size: 18px;
    }
    .header__button--text-size{
        font-size: 18px;
    }
    .header__button--padding{
        padding: 13px 41px 13px 41px;
    }
}
/* Desktop (Screen size : 1919 pts) */
@media screen and (min-width: 1366px) {
    .header__left {
        order: 1;
    }
    .header__middle-1 {
        order: 2;
    }
    .header__middle-2 {
        display: flex;
        order: 3;
    }
    .header__right {
        display: none;
    }
    .tab, .mobile{
        display: none;
    }
    .header{
        padding: 35px 90px;
    }
    .header-left{
        font-size: 19px;
    }
    .header-icon{
        gap: 8px;
    }
    .header__button--text-size{
        font-size: 16px;
    }
}

/* Desktop XXL (Screen size : 1920 pts) */
@media screen and (min-width: 1920px) {
    .tab, .mobile{
        display: none;
    }
    .header{
        padding: 35px 90px;
    }
    .header-icon{
        gap: 8px;
    }
    .header__button--text-size{
        font-size: 21px;
    }
}

/****  end header molecules  ********************************/