:root {
    /* base 1:1 aspect ratio */
    --n: 1;
    --d: 1;
}

.image_frame {
    /* aspect-ratio: var(--d) / var(--n); */
    padding-top: calc((var(--n) / var(--d)) * 100%);
    position: relative;
    display: block;
}

.image_frame > * {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image_frame > img,
.image_frame > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    /* sm breakpoint aspect ratios */
    .sm\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }

    .sm\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .sm\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .sm\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .sm\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .sm\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .sm\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .sm\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .sm\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .sm\:125\:114 {
        /* 125:114 */
        --d: 125;
        --n: 114;
    }

    .sm\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
}

/* lg breakpoint aspect ratios */
/* Tab (Screen size : 1200 pts) */
@media screen and (min-width: 768px) and (max-width: 1365px) {
    .lg\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }

    .lg\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .lg\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .lg\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .lg\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .lg\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .lg\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .lg\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .lg\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .lg\:14\:9 {
        /* 14:9 */
        --d: 14;
        --n: 9;
    }

    .lg\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
}

/*!* 3xl breakpoint aspect ratios *!*/
/*!* Desktop (Screen size : 1440 pts) *!*/
@media screen and (min-width: 1366px) and (max-width: 1919px) {
    .\32 xl\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }
    .\32 xl\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .\32 xl\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .\32 xl\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .\32 xl\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .\32 xl\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .\32 xl\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .\32 xl\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .\32 xl\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .\32 xl\:14\:9 {
        /* 14:9 */
        --d: 14;
        --n: 9;
    }

    .\32 xl\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
}

/* Desktop XXL (Screen size : 1920 pts) */
@media screen and (min-width: 1920px) {
    .\34 xl\:1\:1 {
        /* 1:1 */
        --d: 1;
        --n: 1;
    }
    .\34 xl\:2\:1 {
        /* 2:1 */
        --d: 2;
        --n: 1;
    }

    .\34 xl\:3\:2 {
        /* 3:2 */
        --d: 3;
        --n: 2;
    }

    .\34 xl\:3\:4 {
        /* 3:4 */
        --d: 3;
        --n: 4;
    }

    .\34 xl\:4\:3 {
        /* 4:3 */
        --d: 4;
        --n: 3;
    }

    .\34 xl\:15\:8 {
        /* 15:8 */
        --d: 15;
        --n: 8;
    }

    .\34 xl\:8\:15 {
        /* 8:15 */
        --d: 15;
        --n: 8;
    }

    .\34 xl\:16\:9 {
        /* 16:9 */
        --d: 16;
        --n: 9;
    }

    .\34 xl\:9\:16 {
        /* 9:16 */
        --d: 9;
        --n: 16;
    }

    .\34 xl\:14\:9 {
        /* 14:9 */
        --d: 14;
        --n: 9;
    }

    .\34 xl\:2\:3 {
        /* 2:3 */
        --d: 2;
        --n: 3;
    }
}

@media screen and (min-width: 768px) {
    .sm\:6\:5 {
        /* 6:5 */
        --d: 6;
        --n: 5;
    }
}
