.hero__corner--block{
    display: grid;
    position: absolute;
    bottom: 0;
    right: 0;
    max-width: 624px;
    background: var(--sundance__neutral5);
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 64px;
    padding-right: 64px;
}
.hero__corner--block__title{
    font-size: 2.625rem;
    font-weight: 600;
    font-family: var(--sundance__font-ivar);
    color: var(--sundance__neutral6);
    line-height: 110%;
    padding-bottom: 16px;    
}
.hero__corner--block__description{
    font-size: 19px;
    font-family:var(--sundance__font-ivar) ;
    padding-bottom: 32px;
}
.hero__corner--block__cta{
    order: 2;
}
.hero__corner--block__nav {
    display: none;
}
.hero__corner--block__nav-desktop{
    display: block;
}
.extra-spacing__text{
    font-size: 16px;
    font-weight: 400;
    font-family:var(--sundance__font-ivar);
    color: var(--sundance__neutral6);
    letter-spacing: 0.34em;
}
@media screen and (min-width: 320px) and (max-width: 1023px){
    .hero__corner--block{
        position: static;
        margin: auto;
        padding-top: 21px;
        padding-bottom: 21px;
        padding-left: 24px;
        padding-right: 24px;
    }
    .hero__corner--block__title{
        font-size: 1.5rem;
        text-align: center;
    }
    .hero__corner--block__description{
        padding-bottom: 24px;
        text-align: center;
    }
    .hero__corner--block__cta{
        order: 1;
        text-align: center;
        padding-bottom: 24px;
    }
    .hero__corner--block__nav-desktop{
        display: none;
    }
    .hero__corner--block__nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 0;
        border-bottom: 1px solid var(--sundance__neutral3);
    }    
    .extra-spacing__text{
        text-align: center;
    }
}