/* colors */
:root {
    --color__primary: #333;
    --color__secondary: #efefef;
    --color__anchor: #0099ff;
}
/* fonts */
:root {
    --base-font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1600 - 320))); /* 14px - 18px */
}