/* colors */
:root {
    --sundance__primary1: #458691;
    --sundance__primary2: #617C6A;
    --sundance__primary3: #C3982D;
    --sundance__primary4: #D0D0D0;
    --sundance__secondary1: #042F36;
    --sundance__secondary2: #314C39;
    --sundance__secondary3: #C1C5B7;
    --sundance__secondary4: #E2CBA5;
    --sundance__neutral1: #202020;
    --sundance__neutral2: #757575;
    --sundance__neutral3: #9E9E9E;
    --sundance__neutral4: #F7F7F7;
    --sundance__neutral5: #FFFFFF;
    --sundance__neutral6: #000000;
    --sundance__semantic1: #7C2F18;
    --sundance__semantic2: #1A7C18;
    --sundance__semantic3: #FFCE1F;
}