/****  start imports  ********************************/
@import "../../../styles/global.css";
/****  end imports  ********************************/
.top__aminities-section {
    display: none;
}
.top__accommodation-fetaures {
    display: none;
}
.middle__aminities-section {
    display: block;
}
.middle__accommodation-fetaures {
    display: block;
}
.overflow-x-hidden {
    overflow-x: hidden;
}
.dining-details-container {
    display: block;
}
.icon-css {
    margin: 0 44px;
}
.accommodation__features {
    display: flex;
    grid-gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}
.accommodation-feature {
    width: 210px;
    min-height: 210px;
    box-sizing: border-box;
    display: block;
    padding: 52px 34px 48px 34px;
}
.slider-card--max-width {
    max-width: 328px;
}
@media screen and (min-width: 767px){
    .accommodation-feature{
        padding: 52px 34px 48px 34px;
    }
}
.amenities {
    margin: 0;
    max-width: 100%;
}
@media screen and (max-width: 1024px){
    .group-container {
        margin: 0;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1365px){
    .dining-details-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-column-gap: 2rem;
    }
}
@media screen and (min-width: 1024px){
    .accommodation-feature {
        width: 210px;
        min-height: 210px;
        box-sizing: border-box;
        display: block;
    }
    .dining-details-container {
        display: grid;
        grid-template-columns: 3fr 2fr;
        grid-column-gap: 2rem;
    }
    .group-venues__container {
        text-align: left;
    }
    .group-venues__description {
        padding-left: 0;
    }
    .group-venues__breadcrumbs__link:nth-child(1) {
        padding-left: 0;
    }
    .dining-details__top-banner--descriptions:nth-child(3){
        color: var(--sundance__primary1);
    }
    .group-venues__description:nth-child(4) {
        color: var(--sundance__primary1);
    }
    .group-venues__links {
        margin-left: 0;
    }
    .group-venues__nav {
        margin-left: 0;
    }
    .group-container {
        margin: 0;
    }
    .top__aminities-section {
        display: block;
    }
    .top__accommodation-fetaures {
        display: block;
    }
    .middle__aminities-section {
        display: none;
    }
    .middle__accommodation-fetaures {
        display: none;
    }
}

.carousel-button-next-container{
    position: absolute;
    top: 50%;
    right: 10px;
    left: auto;
}
.carousel-button-prev-container{
    position: absolute;
    top: 50%;
    right: auto;
    left: 10px;
}

