---
layout: base.njk
pagename: glass-blower-studio
permalink: "build/activities/year-round/art-studio/glass-blower-studio/index.html"
permalinkBypassOutputDir: true
nickname: glass-blower-studio
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/bridge.njk' import bridge %}
{% from 'macros.njk' import top_banner_group_venues %}

{# Hero Image Section #}
{% if pageCMS['group-venues'].group_venues and pageCMS['top-banner'].global_image %}
    {% set winter_group_venues = pageCMS['group-venues'].group_venues  %}
    {{ top_banner_group_venues(pageCMS['top-banner'].global_image, winter_group_venues) }}
{% endif %}

{# Bridge carousal #}
{% if pageCMS['bridge-slider'] %}
{% set bridge_slider = pageCMS['bridge-slider'].bridge_slider %}
    {{ bridge(bridge_slider) }}        
{% endif %}

{# Simple Article #}
{% if pageCMS['simple-article'] %}
    {% set simple_article = pageCMS['simple-article'].simple_article  %}
    <article class="art-studio__article__container font-ivar global-px">
        {% if simple_article.title %}
             <header>
                {{ h1(copy = simple_article.title, classes = ['art-studio__article__header']) }}
            </header>
        {% endif %}

        {% if simple_article.description %}
            <div class = "art-studio__article__copy">{{ simple_article.description | safe }}</div>
        {% endif %}        
    </article>
{% endif %}

{# Video Section #}
<section class="segment-outer">
    <section class="winter-video__container winter-video__padding global-px">
        <div class="image_frame sm:16:9 lg:4:3 2xl:4:3 4xl:4:3">
            <iframe class="w-full h-full" src="https://www.youtube.com/embed/M9eIsajZ604" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>
</section>

{{newsletter()}}