---
layout: base.njk
pagename: other-remedies
permalink: "build/spa/other-remedies/index.html"
permalinkBypassOutputDir: true
nickname: other-remedies
---
{% from "atoms/headings.njk" import h1, h2, h3, h4, h5, h6 %}
{% from 'molecules/card.njk' import horrizontalCard, card, verticalCard %}
{% from 'molecules/newsletter.njk' import newsletter %}
{% from 'molecules/footer.njk' import footer %}
{% from 'organisms/global-image.njk' import global_image %}
{% from 'molecules/group-venues.njk' import groupVenues %}
{% from 'molecules/bridge.njk' import bridge %}
{% from 'atoms/accordion.njk' import accordion %}
{% from 'macros.njk' import top_banner_group_venues %}

{# Hero Image Section #}
{% if pageCMS['group-venues'].group_venues and pageCMS['top-banner'].global_image %}
    {% set spa_group_venues = pageCMS['group-venues'].group_venues  %}
    {{ top_banner_group_venues(pageCMS['top-banner'].global_image, spa_group_venues) }}
{% endif %}

{# Bridge carousal #}
{% if pageCMS['bridge-slider'] and pageCMS['bridge-slider'].bridge_slider %}
{% set bridge_slider = pageCMS['bridge-slider'].bridge_slider %}
    {{ bridge(bridge_slider) }}        
{% endif %}

{# Accordion Title #}
{% if pageCMS['accordion-title'] and pageCMS['accordion-title'].simple_article %}
    {% set accordion_title = pageCMS['accordion-title'].simple_article %}
    {{ h2(copy = accordion_title.title, classes = ['accordion__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
{% endif %}

{# Accordion #}
{% if  pageCMS['accordion'] and pageCMS['accordion'].accordion %}
{% set accordions = pageCMS['accordion'].accordion %}
<section class="segment-outer">
    <section class="accordion-wrapper accordion__bottom-padding">
        {% for item in accordions %}
            {{ accordion( item = item ) }}
        {% endfor %}             
    </section>
</section>
{% endif %}  

{# Card Title #}
{% if pageCMS['card-title'] and pageCMS['card-title'].simple_article %}
    {% set card_title= pageCMS['card-title'].simple_article %}
    {{ h2(copy = card_title.title, classes = ['spa__header', 'text-center', 'font-ivar', 'font-medium', 'text--color__sn-6']) }}
{% endif %}

{# Vertical Card Section #}
{% if  pageCMS['vertical-cards'] and pageCMS['vertical-cards'].vertical_card_list %}
{% set vertical_card_list= pageCMS['vertical-cards'].vertical_card_list %}
<section class="segment-outer">
    <section class="segment-inner global-px spa__card">
        {% for item in vertical_card_list %}
            {{ verticalCard(item = item.vertical_card, card_container = ['card-container', 'mb-8']) }}
        {% endfor %}
    </section>
</section>
{% endif %}

{{newsletter()}}

